<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <module-name>service-account-portal</module-name>

    <servlet>
        <servlet-name>ProductSAClientSecretServlet</servlet-name>
        <servlet-class>org.keycloak.example.ProductSAClientSecretServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProductSAClientSignedJWTServlet</servlet-name>
        <servlet-class>org.keycloak.example.ProductSAClientSignedJWTServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductSAClientSecretServlet</servlet-name>
        <url-pattern>/app-secret/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProductSAClientSignedJWTServlet</servlet-name>
        <url-pattern>/app-jwt/*</url-pattern>
    </servlet-mapping>

</web-app>