<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">

	<module-name>adapter-test</module-name>

    <servlet>
        <servlet-name>SendUsername</servlet-name>
        <servlet-class>org.keycloak.testsuite.ProxyTest$SendUsernameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>org.keycloak.testsuite.ProxyTest$SendError</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/error.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendUsername</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
