<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">

    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/clients">{{:: 'clients' | translate}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/clients/{{client.id}}">{{client.clientId}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/clients/{{client.id}}/authz/resource-server">{{:: 'authz-authorization' |
            translate}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/clients/{{client.id}}/authz/resource-server/resource">{{::
            'authz-resources' | translate}}</a></li>
    </ol>

    <kc-tabs-resource-server></kc-tabs-resource-server>

    <script id="recursion-resource" type="text/ng-template">
        <tr ng-repeat-start="resource in resources | filter:search | orderBy:'name'" data-ng-click="showDetails(resource, $event);" style="cursor: pointer;">
            <td width="1%">
                <span ng-if="resource.subResources.length > 0 && !resource.sub.loaded" class="fa fa-angle-right" data-ng-click="showSub(resource)"></span>
                <span ng-if="resource.subResources.length > 0 && resource.sub.loaded" class="fa fa-angle-right fa-angle-down" data-ng-click="showSub(resource)"></span>
            </td>
            <td width="10%">
                <a href="#/realms/{{realm.realm}}/clients/{{client.id}}/authz/resource-server/resource/{{resource._id}}">{{resource.name}}</a>
            </td>
            <td width="70%">{{resource.displayName}}</td>
            <td width="19%" align="center">
                <div class="dropdown dropdown-kebab-pf">
                    <a id="createChildrenResource" class="btn btn-default"
                       href="#/realms/{{realm.realm}}/clients/{{client.id}}/authz/resource-server/resource/{{resource._id}}/create">{{::
                        'create' | translate}}</a>
                    <button class="btn btn-default" ng-click="createPolicy(resource);">{{:: 'authz-create-permission' | translate}}
                    </button>
                    <button class="btn btn-default" ng-click="delete(resource);">{{:: 'delete' | translate}}
                    </button>
                </div>
            </td>
        </tr>
        <tr ng-if="resource.subResources.length > 0 && resource.sub.loaded"  style="cursor: pointer;">
            <td colspan="8">
                <table class="table table-bordered ">
                    <tbody data-ng-include="'recursion-resource'" data-ng-init="resources=resource.subResources"></tbody>
                </table>
            </td>
        </tr>
        <tr data-ng-show="(resources | filter:search).length == 0" ng-repeat-end="">
            <td class="text-muted" colspan="6" data-ng-show="search.name">{{:: 'no-results' | translate}}</td>
            <td class="text-muted" colspan="6" data-ng-hide="search.name">{{:: 'authz-no-resources-available' |
                translate}}
            </td>
        </tr>
    </script>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="kc-table-actions" colspan="7">
                <div class="form-inline">
                    {{:: 'filter' | translate}}:&nbsp;&nbsp;
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="{{:: 'name' | translate}}" data-ng-model="query.name"
                                   class="form-control search"
                                   onkeydown="if (event.keyCode == 13) document.getElementById('resourceSearch').click()">
                            <div class="input-group-addon">
                                <i class="fa fa-search" id="resourceSearch" type="submit"
                                   data-ng-click="firstPage()"></i>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" placeholder="{{:: 'type' | translate}}" data-ng-model="query.type"
                                   class="form-control search"
                                   onkeydown="if (event.keyCode == 13) document.getElementById('resourceSearch').click()">
                            <div class="input-group-addon">
                                <i class="fa fa-search" type="submit" data-ng-click="firstPage()"></i>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" placeholder="{{:: 'authz-uri' | translate}}" data-ng-model="query.uri"
                                   class="form-control search"
                                   onkeydown="if (event.keyCode == 13) document.getElementById('resourceSearch').click()">
                            <div class="input-group-addon">
                                <i class="fa fa-search" type="submit" data-ng-click="firstPage()"></i>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" placeholder="{{:: 'authz-scope' | translate}}"
                                   data-ng-model="query.scope" class="form-control search"
                                   onkeydown="if (event.keyCode == 13) document.getElementById('resourceSearch').click()">
                            <div class="input-group-addon">
                                <i class="fa fa-search" type="submit" data-ng-click="firstPage()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <a id="createResource" class="btn btn-default"
                           href="#/realms/{{realm.realm}}/clients/{{client.id}}/authz/resource-server/resource/create">{{::
                            'create' | translate}}</a>
                    </div>
                </div>
            </th>
        </tr>
        <tr data-ng-hide="resources.length == 0">
            <th width="1%"></th>
            <th width="10%">{{:: 'name' | translate}}</th>
            <th width="70%">{{:: 'displayName' | translate}}</th>
            <th width="19%">{{:: 'actions' | translate}}</th>
        </tr>
        </thead>
        <tfoot data-ng-show="resources && (resources.length >= query.max || query.first > 0)">
        <tr>
            <td colspan="7">
                <div class="table-nav">
                    <button data-ng-click="firstPage()" class="first" ng-disabled="query.first == 0">{{:: 'first-page' |
                        translate}}
                    </button>
                    <button data-ng-click="previousPage()" class="prev" ng-disabled="query.first == 0">{{::
                        'previous-page' | translate}}
                    </button>
                    <button data-ng-click="nextPage()" class="next" ng-disabled="resources.length < query.max">{{::
                        'next-page' | translate}}
                    </button>
                </div>
            </td>
        </tr>
        </tfoot>
        <tbody data-ng-include="'recursion-resource'"></tbody>
    </table>
</div>

<kc-menu></kc-menu>
