{
  "plugins": [
    [
      "snowpack/assets/babel-plugin.js",
      {
        "moduleResolution": "node"
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {}
    ]
  ],
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}