.login-pf body {
    background: #0f0f0f url("../img/keycloak-bg.png") top left no-repeat;
    background-size: cover;
}

.alert-error {
    background-color: #ffffff;
    border-color: #cc0000;
    color: #333333;
}

#kc-locale ul {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    right: 0;
    top: 30px;
    min-width: 100px;
    padding: 2px 0;
    border: solid 1px #bbb;
}

#kc-locale:hover ul {
    display: block;
    margin: 0;
}

#kc-locale ul li a {
    display: block;
    padding: 1px 11px;
    color: #000 !important;
    text-decoration: none;
    line-height: 20px;
}

#kc-locale ul li a:hover {
    color: #4d5258;
    background-color: #d4edfa;
}

#kc-locale-dropdown a {
    color: #4d5258;
    background: 0 0;
    padding: 0 15px 0 0;
    font-weight: 300;
}

#kc-locale-dropdown a:hover {
    text-decoration: none;
}

a#kc-current-locale-link {
    display: block;
    padding: 5px;
}

/* a#kc-current-locale-link:hover {
    background-color: rgba(0,0,0,0.2);
} */

a#kc-current-locale-link::after {
    content: "\2c5";
    margin-left: 4px;
}

.login-pf .container {
    padding-top: 40px;
}

.login-pf a:hover {
    color: #0099d3;
}

#kc-logo {
    width: 100%;
}

#kc-logo-wrapper {
    background-image: url(../img/keycloak-logo-2.png);
    background-repeat: no-repeat;
    height: 63px;
    width: 300px;
    margin: 62px auto 0;
}

div.kc-logo-text {
    background-image: url("../img/keycloak-logo-text.png");
    background-repeat: no-repeat;
    width: 250px;
    height: 38px;
}

div.kc-logo-text span {
    display: none;
}

#kc-header {
    color: #fff;
    overflow: visible;
    padding-left: 80px;
    white-space: nowrap;
}

#kc-header-wrapper {
    font-size: 26px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-bottom: 15px;
}

#kc-content {
    width: 100%;
}

/* #kc-content-wrapper {
    overflow-y: hidden;
} */

#kc-info {
    padding-bottom: 200px;
    margin-bottom: -200px;
}

#kc-info-wrapper {
    font-size: 13px;
}

#kc-form-options span {
    display: block;
}

#kc-form-options .checkbox {
    margin-top: 0;
    color: #72767b;
}

#kc-terms-text {
    margin-bottom: 20px;
}

#kc-registration {
    margin-bottom: 15px;
}

/* TOTP */

ol#kc-totp-settings {
    margin: 0;
    padding: 0;
}

ol#kc-totp-settings li {
    margin-top: 1em;
}

ol#kc-totp-settings li:first-of-type {
    margin-top: 0;
}

#kc-totp-secret-qr-code {
    max-width:150px;
    max-height:150px;
}

#kc-totp-secret-key {
    background-color: #fff;
    color: #333333;
    font-size: 16px;
    padding: 10px;
}

/* OAuth */

#kc-oauth h3 {
    margin-top: 0;
}

#kc-oauth ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#kc-oauth ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    padding: 10px 30px;
}

#kc-oauth ul li:first-of-type {
    border-top: 0;
}

#kc-oauth .kc-role {
    display: inline-block;
    width: 50%;
}

/* Code */
#kc-code textarea {
    width: 100%;
    height: 8em;
}

/* Social */

#kc-social-providers ul {
    padding: 0;
    margin: 0;
}

#kc-social-providers li {
    display: block;
}

#kc-social-providers li:first-of-type {
    margin-top: 0;
}

.zocial,
a.zocial  {
    width: 100%;
    font-weight: 100;
    font-size: 14px;
    text-shadow: none;
    border: 0;
    background: #f5f5f5;
    color: #72767b;
}
.zocial:before {
  border-right: 0;
  margin-right: 0;
}
.zocial span:before {
    padding: 7px 10px;
    font-size: 14px;
}
.zocial:hover {
    background: #ededed !important;
}

.zocial.facebook,
.zocial.github,
.zocial.google,
.zocial.microsoft,
.zocial.stackoverflow,
.zocial.linkedin,
.zocial.twitter {
    background-image: none;
    border: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;

    box-shadow: none;
    text-shadow: none;
}

/* Copy of zocial windows classes to be used for microsoft's social provider button */
.zocial.microsoft:before{ content: "\f15d"; }
.zocial.stackoverflow:before{ color: inherit; }


@media (min-width: 768px) {
    #kc-container-wrapper {
        position: absolute;
        width: 100%;
    }

    .login-pf .container {
        padding-right: 80px;
    }

    #kc-locale {
        position: relative;
        text-align: right;
        z-index: 9999;
    }


}

@media (max-width: 767px) {

    .login-pf body {
      background: white;
    }

    #kc-header {
        padding-left: 15px;
        padding-right: 15px;
        float: none;
        text-align: center;
    }

    #kc-form {
        float: none;
    }

    #kc-info-wrapper {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 15px;
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 15px;
    }

    #kc-social-providers li {
        display: block;
        margin-right: 5px;
    }

    .login-pf .container {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #kc-locale {
        position: absolute;
        width: 200px;
        top: 20px;
        right: 20px;
        text-align: right;
        z-index: 9999;
    }

    #kc-logo-wrapper {
        background-size: 100px 21px;
        height: 21px;
        width: 100px;
        margin: 20px 0 0 20px;
    }

}

@media (min-height: 646px) {
    #kc-container-wrapper {
        bottom: 12%;
    }
}

@media (max-height: 645px) {
    #kc-container-wrapper {
        padding-top: 50px;
        top: 20%;
    }
}


.login-pf {
  height: 100%;
}
.login-pf #brand {
  position: relative;
  top: -70px;
}
.login-pf #brand img {
  display: block;
  height: 18px;
  margin: 0 auto;
  max-width: 100%;
}
@media (min-width: 768px) {
  .login-pf #brand img {
    margin: 0;
    text-align: left;
  }
}
.login-pf #badge {
  display: block;
  margin: 20px auto 70px;
  position: relative;
  text-align: center;
}
@media (min-width: 768px) {
  .login-pf #badge {
    float: right;
    margin-right: 64px;
    margin-top: 50px;
  }
}

.login-pf .container {
  background-color: rgba(255, 255, 255, 0.055);
  clear: right;
  color: #fff;
  padding-bottom: 40px;
  padding-top: 20px;
  width: auto;
}
@media (min-width: 768px) {
  .login-pf .container {
    bottom: 13%;
    padding-left: 80px;
    position: absolute;
    width: 100%;
  }
}
.login-pf .container .details p:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 25px;
  margin-top: 25px;
}
@media (min-width: 768px) {
  .login-pf .container .details {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 40px;
  }
  .login-pf .container .details p:first-child {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
  }
}
.login-pf .container .details p {
  margin-bottom: 2px;
}
.login-pf .container .form-horizontal .control-label {
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}
.login-pf .container .form-horizontal .form-group:last-child,
.login-pf .container .form-horizontal .form-group:last-child .help-block:last-child {
  margin-bottom: 0;
}
.login-pf .container .help-block {
  color: #fff;
}
@media (min-width: 768px) {
  .login-pf .container .login {
    padding-right: 40px;
  }
}
.login-pf .container .submit {
  text-align: right;
}
.login-pf-page .login-pf-brand {
  margin-top: 20px;
  max-width: 360px;
  width: 40%;
}
@media (min-width: 768px) {
  .login-pf-page .login-pf-brand {
    margin-top: 62px;
  }
}
.login-pf-page .login-pf-page-header {
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .login-pf-page .login-pf-page-header {
    margin-bottom: 40px;
  }
}
.login-pf-page .login-pf-page-header p {
  color: #fff;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.login-pf-page .card-pf {
  padding: 10px 20px 30px 20px;
  margin-bottom: 0;
}
.card-pf {
  background: #fff;
  margin: 0 auto;
  padding: 0 20px;
  width: 66.7%;
  max-width: 500px;
}

@media (max-width: 767px) {
  .card-pf {
    width: auto;
    max-width: none;
  }
  .card-pf.login-pf-accounts {
    margin: 0 20px;
  }
}

.card-pf.login-pf-accounts {
  max-width: 840px;
}


@media (min-width: 768px) {
  .login-pf-page .card-pf {
    padding: 20px 40px 30px 40px;
  }
}
.login-pf-page .card-pf p {
  color: #72767b;
}
.login-pf-page .form-control {
  height: 36px;
}
.login-pf-page .checkbox-label {
  color: #72767b;
  font-weight: 300;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .login-pf-page .checkbox-label {
    margin: 0;
  }
}
.login-pf-page .btn-primary {
  margin-top: 40px;
}
.login-pf-page .login-pf-header {
  margin-bottom: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
@media (min-width: 768px) {
  .login-pf-page .login-pf-header {
    margin-bottom: 30px;
  }
}
.login-pf-page .login-pf-header h1,
.login-pf-page .login-pf-header p {
  text-align: center;
}
.login-pf-page .login-pf-header .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.login-pf-page .login-pf-header .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-toggle {
  color: #4d5258;
  background: none;
  padding: 0 15px 0 0;
  font-weight: 300;
}
.login-pf-page .login-pf-header .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-toggle:not(:focus) {
  box-shadow: none;
  border: 1px solid transparent;
}
.login-pf-page .login-pf-header .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-toggle .caret {
  right: 0;
}
.login-pf-page .login-pf-signup {
  margin: 40px 0 0;
  font-size: 15px;
  text-align: center;
  font-size: 15px;
  color: #72767b;
}
.login-pf-page .login-pf-signup a {
  margin-left: 10px;
}
.login-pf-page .login-pf-settings {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.login-pf-page .login-pf-page-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.login-pf-page .login-pf-page-footer-links {
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0 0 0;
}
.login-pf-page .login-pf-page-footer-links li:not(:last-of-type) {
  position: relative;
  margin: 0 20px 0 0;
}
.login-pf-page .login-pf-page-footer-links li:not(:last-of-type):after {
  content: ".";
  color: #fff;
  position: absolute;
  top: 0px;
  right: -10px;
}
.login-pf-page .login-pf-page-footer-link {
  color: #fff;
  font-size: 14px;
}
.login-pf-page .login-pf-page-footer-sso-services {
  -ms-flex: 1 0 100%;
      flex: 1 0 100%;
  margin-top: 40px;
  text-align: center;
  color: #fff;
}
.login-pf-page .login-pf-page-footer-sso-services-logos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-flex-pack: center;
      justify-content: center;
}
.login-pf-page .login-pf-page-footer-sso-services-logos li {
  margin: 0 5px 5px;
}
.login-pf-page .login-pf-accounts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.login-pf-page .login-pf-accounts .login-pf-header,
.login-pf-page .login-pf-accounts .login-pf-signup {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.login-pf-page .login-pf-social-section {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0;
}
@media (min-width: 768px) {
  .login-pf-page .login-pf-social-section {
    -ms-flex: 0 1 50%;
        flex: 0 1 50%;
    max-width: 50%;
  }
}
.login-pf-page .login-pf-social-section-heading {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .login-pf-page .login-pf-social-section-heading {
    margin: 0 0 15px;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .login-pf-page .login-pf-social-section:first-of-type {
    padding-left: 39px;
    padding-right: 39px;
    border-right: 1px solid #d1d1d1;
  }
  .login-pf-page .login-pf-social-section:last-of-type {
    padding-left: 40px;
    padding-right: 40px;
  }
  .login-pf-page .login-pf-social-section .login-pf-social-link:last-of-type {
    margin-bottom: 0;
  }
}
.login-pf-page .login-pf-social {
  margin: 0;
}
@media (min-width: 768px) {
  .login-pf-page .login-pf-social-double-col {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .login-pf-page .login-pf-social-double-col .login-pf-social-link {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}
.login-pf-page .login-pf-social:not(.login-pf-social-all) .login-pf-social-link-more {
  display: none;
}
.login-pf-page .login-pf-social-link {
  margin-bottom: 25px;
}
.login-pf-page .login-pf-social-link a {
  display: block;
  padding: 2px 0;
  font-size: 14px;
  background: #f5f5f5;
  text-align: center;
  color: #72767b;
}
.login-pf-page .login-pf-social-link a img {
  margin: 0 10px 0 0;
  width: 20px;
  height: 20px;
}
.login-pf-page .login-pf-social-link a:hover {
  text-decoration: none;
  background: #ededed;
}
.login-pf-page .login-pf-social-toggle {
  float: right;
  padding: 0;
}
.login-pf-page .login-pf-social-toggle .caret {
  margin-left: 5px;
}
.login-pf-page .login-pf-social-toggle-active .caret {
  -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
}
