* {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "Overpass", sans-serif;
}
a {
  color: #0099d3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* Styles from Gabriel */
a:hover,
a:focus {
  color: #0099d3;
}
strong {
  font-weight: bold;
}
.hidden {
  display: none;
}
.feedback.show {
  display: inline-block !important;
}
.pull-right {
  float: right;
}
.block {
  display: block;
}
a:focus {
  outline: 0 none;
}
.clear-font-size {
  font-size: 1em;
}
