fieldset {
  border: none;
}
*::-moz-placeholder,
::-webkit-input-placeholder {
  color: #838383;
  font-style: italic;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #333;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  font-size: 1.1em;
  padding: 0 0.545454545454545em;
  min-width: 18.1818181818182em;
  height: 2.36363636363636em;
  border: 1px #b6b6b6 solid;
  border-radius: 2px;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  color: #333;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
textarea:hover {
  border-color: #62afdb;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #62afdb;
  box-shadow: #62afdb 0 0 5px;
}
input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
textarea.error {
  border-color: #ba1212;
  transition: all 0.33s ease-in-out;
  -moz-transition: all 0.33s ease-in-out;
  -webkit-transition: all 0.33s ease-in-out;
}
input[type="text"].error:focus,
input[type="password"].error:focus,
input[type="email"].error:focus,
textarea.error:focus {
  box-shadow: 0 0 5px #ba1212;
}
textarea {
  padding: 0.45em 0.545454545454545em;
  height: auto;
}
.input-below {
  clear: both;
  display: inline-block;
  margin-left: 10.9090909090909em;
  margin-top: 0.45454545454545em;
  padding-left: 3.63636363636364em;
}
input[type="button"],
button,
a.button {
  font-size: 1.3em;
  padding: 0.30769230769231em 1.07692307692308em;
  border-width: 1px;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.04em;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
input[type="button"].btn-primary,
button.btn-primary,
a.button.btn-primary {
  background-image: linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -o-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -moz-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -webkit-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -ms-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00a9ec), color-stop(1, 0, #009bd3));
  border-color: #21799e;
  border-style: solid;
}
input[type="button"].btn-primary:hover,
button.btn-primary:hover,
a.button.btn-primary:hover,
input[type="button"].btn-primary:focus,
button.btn-primary:focus,
a.button.btn-primary:focus {
  background-color: #009BD3;
}
input[type="button"].btn-primary:active,
button.btn-primary:active,
a.button.btn-primary:active {
  background-color: #0099d4;
}
input[type="button"].disabled,
button.disabled,
a.button.disabled {
  border-color: #cfcdcd;
  color: #838383;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-weight: normal;
  letter-spacing: 0.06363636363636em;
}
input[type="button"].disabled:hover,
button.disabled:hover,
a.button.disabled:hover {
  cursor: default;
}
input[type="button"].disabled:active,
button.disabled:active,
a.button.disabled:active {
  box-shadow: none;
}
input[type="button"]:hover,
button:hover,
a.button:hover,
input[type="button"]:focus,
button:focus,
a.button:focus {
  background-image: none;
  cursor: pointer;
}
input[type="button"]:active,
button:active,
a.button:active {
  background-image: none;
  cursor: pointer;
  box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.25);
}
input[type="checkbox"] {
  margin-right: 0.5em;
}
/* Code from Hylke */
button,
a.button {
  border-color: #21799e;
  background-image: linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -ms-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, 0, #ededed));
  color: #fff;
  padding: 4px 14px;
  border: 1px #bbb solid;
  border-radius: 2px;
  color: #4d5258;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 0.4px;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 2.18181818181818em;
}
button.primary,
.button.primary {
  border-color: #21799e;
  background-image: linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -o-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -moz-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -webkit-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -ms-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00a9ec), color-stop(1, 0, #009bd3));
  color: #fff;
}
button.primary:hover,
button.primary:focus,
.button.primary:hover,
.button.primary:focus {
  background-color: #009BD3;
}
button.primary:enabled:active,
.button.primary:enabled:active {
  background-color: #0099d4;
  box-shadow: inset 0 0 5px 3px #0074ae;
}
.destructive {
  background-image: linear-gradient(top, #d90000 0%, #ad0101 100%);
  background-image: -o-linear-gradient(top, #d90000 0%, #ad0101 100%);
  background-image: -moz-linear-gradient(top, #d90000 0%, #ad0101 100%);
  background-image: -webkit-linear-gradient(top, #d90000 0%, #ad0101 100%);
  background-image: -ms-linear-gradient(top, #d90000 0%, #ad0101 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d90000), color-stop(1, 0, #ad0101));
  border-color: #350000;
  color: #FFFFFF;
}
.destructive:hover {
  background-color: #AD0101;
}
.destructive:enabled:active {
  background-color: #AD0101;
  box-shadow: 0 0 5px 3px #750101 inset;
}
/* Code from Gabriel */
button.primary,
.button.primary {
  background-color: #00a2df;
}
button.primary:hover,
.button.primary:hover,
button.primary:active,
.button.primary:active,
button.primary:focus,
.button.primary:focus {
  background-image: none;
  color: #fff;
}
.rcue-login-register.register .two-fields input[type="text"] {
  width: 121px;
  min-width: 0;
}
.rcue-login-register.register .two-fields input + input {
  margin-left: 10px;
}
.search-comp {
  position: relative;
  display: inline-block;
  font-size: 0.90909090909091em;
}
.search-comp input[type="text"] {
  padding-right: 2.45454545454545em;
}
.search-comp .icon-search {
  position: absolute;
  right: 0.2em;
  top: 0.4em;
  opacity: 0.5;
}
.search-comp .icon-search:hover {
  opacity: 1;
  -webkit-transition: ease-in-out opacity 0.25s;
  -moz-transition: ease-in-out opacity 0.25s;
  -o-transition: ease-in-out opacity 0.25s;
  transition: ease-in-out opacity 0.25s;
}
.search-comp .icon-search + .tooltip {
  width: 20em;
  font-weight: normal;
}
.feedback-aligner {
  position: absolute;
  top: 1.5em;
  text-align: center;
  width: 100%;
  height: 0;
  z-index: 100;
}
.feedback-aligner .feedback {
  position: relative;
  display: inline-block;
  text-align: left;
  border-width: 1px;
}
.feedback-aligner .feedback p {
  border-width: 1px;
}
.feedback {
  position: absolute;
  opacity: 0;
  transition: opacity 0.33s ease-in-out;
  -moz-transition: opacity 0.33s ease-in-out;
  -webkit-transition: opacity 0.33s ease-in-out;
}
.feedback p {
  padding: 0.90909090909091em 3.63636363636364em;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  background-repeat: no-repeat;
  background-position: 1.27272727272727em center;
  font-size: 1.1em;
  line-height: 1.4em;
  border-radius: 2px;
  color: #4d5258;
  margin-bottom: 0;
}
.feedback.show {
  opacity: 1;
}
.feedback.bottom-left {
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-bottom: 1em;
}
.feedback.bottom-left p {
  background-position: 1.27272727272727em 1.63636363636364em;
}
.feedback.error {
  background-image: url(img/feedback-error-arrow-down.png);
}
.feedback.error p {
  border-color: #b91415;
  background-image: url(img/feedback-error-sign.png);
  background-color: #f8e7e7;
}
.feedback.success {
  background-image: url(img/feedback-success-arrow-down.png);
}
.feedback.success p {
  border-color: #4b9e39;
  background-image: url(img/feedback-success-sign.png);
  background-color: #e4f1e1;
}
.feedback.warning p {
  border-color: #f17528;
  background-image: url(img/feedback-warning-sign.png);
  background-color: #fef1e9;
}
.feedback.info p {
  border-color: #5994b2;
  background-image: url(img/feedback-info-sign.png);
  background-color: #e4f3fa;
}
.feedback.inline {
  opacity: 1;
  position: relative;
  margin-bottom: 20px;
}
.feedback.inline p {
  border-width: 1px;
}
.feedback .button {
  display: inline-block;
  font-size: 0.90909090909091em;
  margin-left: 0.90909090909091em;
}
button,
a.button {
  background-color: #eeeeee;
}
a.button {
  display: inline-block;
}
a.button:hover {
  color: #4D5258;
  text-decoration: none;
}
button[class^="icon-"] {
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  line-height: 1em;
}
button[class^="icon-"]:hover {
  background-image: url(img/sprites.png);
}
button.link {
  border: none;
  background-color: transparent;
  background: none;
  box-shadow: none;
  font-weight: normal;
  font-size: 1em;
  color: #0099D3;
  letter-spacing: 0;
  padding: 0;
}
button.link:hover {
  text-decoration: underline;
}
legend {
  font-size: 1em;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #e9e8e8;
  padding-top: 2em;
  display: block;
  margin-bottom: 0;
  padding-bottom: 0.8em;
  cursor: pointer;
}
legend .icon-collapse {
  vertical-align: baseline;
}
legend .text {
  font-weight: bold;
  font-size: 1.25em;
}
legend .icon-info {
  background-image: url(img/sprites-gray.png);
  margin-left: 1em;
  vertical-align: baseline;
}
legend .icon-info:hover {
  background-image: url(img/sprites.png);
}
fieldset.border-top {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #e9e8e8;
  padding-top: 2em;
  clear: both;
}
.form-group {
  display: block;
  margin-bottom: 1em;
  position: relative;
}
.form-group > label {
  font-size: 1.1em;
  font-weight: 300;
  width: 10em;
  margin-right: 0.90909090909091em;
  margin-bottom: 0;
  float: left;
  margin-top: 0.45454545454545em;
  font-weight: 400;
}
.form-group > label.two-lines {
  margin-top: -2px;
}
.form-group > label + span {
  font-size: 1.1em;
  display: inline-block;
  margin-top: 0.454545454545455em;
}
.form-group > label + .onoffswitch {
  float: left;
}
.form-group > label.pull-left {
  margin-top: 4px;
}
.form-group .required {
  font-size: 1.1em;
  color: #CB2915;
}
legend + .form-group {
  padding-top: 1em;
}
legend + table {
  margin-top: 1em;
}
.code {
  font-family: Courier, ​monospace;
}
.onoffswitch {
  -moz-user-select: none;
  height: 26px;
  position: relative;
  width: 62px;
}
.onoffswitch .onoffswitch-checkbox {
  display: none;
}
.onoffswitch .onoffswitch-label {
  border: 1px solid #bbb;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  overflow: hidden;
  width: 62px;
}
.onoffswitch .onoffswitch-inner {
  display: block;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
  width: 200%;
}
.onoffswitch .onoffswitch-inner > span {
  -moz-box-sizing: border-box;
  color: white;
  float: left;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  padding: 0;
  width: 50%;
}
.onoffswitch .onoffswitch-switch {
  background-image: linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -ms-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, 0, #ededed));
  border: 1px solid #aaa;
  border-radius: 2px;
  bottom: 0;
  margin: 0;
  position: absolute;
  right: 39px;
  top: 0;
  transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  width: 23px;
}
.onoffswitch .onoffswitch-inner .onoffswitch-active {
  background-image: linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -o-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -moz-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -webkit-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -ms-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00a9ec), color-stop(1, 0, #009bd3));
  color: #FFFFFF;
  padding-left: 10px;
}
.onoffswitch .onoffswitch-inner .onoffswitch-inactive {
  background: linear-gradient(#fefefe, #e8e8e8) repeat scroll 0 0 transparent;
  color: #4d5258;
  padding-right: 10px;
  text-align: right;
}
.onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}
input[type="text"].tiny,
input[type="password"].tiny,
input[type="email"].tiny {
  min-width: 40px;
  width: 40px;
}
.select-rcue,
.select2-container .select2-choice {
  height: 26px;
  border: 1px #b6b6b6 solid;
  border-radius: 2px;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  color: #333;
  background: #ffffff url(img/select-arrow.png) no-repeat right center;
  overflow: hidden;
  min-width: 75px;
  padding: 0 0.9em 0 0;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
}
.select-rcue:hover {
  border-color: #62afdb;
}
.select-rcue:focus {
  border-color: #62afdb;
  box-shadow: #62afdb 0 0 5px;
}
.select-rcue.error {
  border-color: #ba1212;
  background-color: #f8e7e7;
  transition: all 0.33s ease-in-out;
  -moz-transition: all 0.33s ease-in-out;
  -webkit-transition: all 0.33s ease-in-out;
}
.select-rcue.error:focus {
  box-shadow: 0 0 5px #ba1212;
}
.select-rcue select {
  height: 30px;
  line-height: 30px;
  margin-top: -2px;
  margin-left: -2px;
  font-size: 1.1em;
  padding: 5px 0.545454545454545em;
  background-color: transparent;
  border: none;
  width: 150%;
  font-family: "Open Sans", sans-serif;
}
.select-rcue option {
  line-height: 2em;
  padding-left: 0.90909090909091em;
}
.select-rcue option:hover {
  background-color: #d5ecf9;
}
.select2-container {
  float: left;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.select2-container .select2-choice > .select2-chosen {
  line-height: 2.1em;
  padding-left: 0.90909090909091em;
  margin-right: 0;
  font-size: 1.1em;
  padding-right: 2.36363636363636em;
  padding-right: 26px;
}
.select2-container .select2-choice .select2-arrow {
  display: none;
}
.select2-dropdown-open {
  background-color: #fff;
}
.select2-dropdown-open .select2-choice,
.select2-dropdown-open .select2-choices {
  border-bottom: none;
  border-radius: 2px 2px 0 0;
  background-image: url(img/chosen-arrow-down.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right top;
  box-shadow: none;
}
.select2-dropdown-open .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open .select2-choices,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border-color: #62AFDB;
}
.select2-search input {
  min-width: 0;
}
.select2-drop-active {
  border-radius: 0 0 2px 2px;
  margin-top: -1px;
  padding-top: 4px;
}
.select2-container.select2-drop-above .select2-choice {
  border-radius: 0 0 2px 2px;
  background-image: url(img/chosen-arrow-up.png);
  background-repeat: no-repeat;
  background-position: right 0;
  box-shadow: none;
}
.select2-drop.select2-drop-above {
  border-radius: 2px 2px 0 0;
  padding-top: 0;
  margin-top: 2px;
}
.select2-drop.select2-drop-above.select2-drop-active,
.select2-drop-active {
  border-color: #62AFDB;
}
.select2-results {
  padding-left: 0;
  margin-right: 0;
}
.select2-results li {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.select2-results .select2-result-label,
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  font-size: 1.1em;
  padding-left: 1.09090909090909em;
}
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  color: #838383;
  padding-top: 3px;
  padding-bottom: 4px;
}
.select2-results .select2-highlighted {
  background-color: #d5ecf9;
  border-top: 1px solid #a7d7f1;
  border-bottom: 1px solid #a7d7f1;
  color: #4d5258;
}
.select2-container-multi .select2-choices {
  width: 40em;
}
.input-group input + .select-rcue {
  border-radius: 0 2px 2px 0;
  border-left: 0;
  display: inline-block;
}
.input-select .input-group input {
  float: left;
}
.tokenfield.form-control {
  width: 40em;
  float: left;
  min-height: 2.6em;
  border: 1px #b6b6b6 solid;
  border-radius: 2px;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 0 0.7em;
  margin-bottom: 0;
  font-size: 1em;
  height: auto;
  outline: 0 none;
}
.tokenfield.form-control .token {
  display: inline-block;
  background-color: #d4ecf8;
  border: 1px solid #a3d7f0;
  border-radius: 1px;
  padding: 0 0.3em 0 0.7em;
  margin-right: 0.7em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  outline: 0 none;
}
.tokenfield.form-control .token span {
  float: left;
  font-size: 1.1em;
  line-height: 1.45454545454545em;
}
.tokenfield.form-control .token .close {
  text-indent: -99999em;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  background: url(img/btn-close-blue.png) no-repeat center center;
  margin-left: 0.3em;
  padding: 0;
  border: none;
  font-size: 1em;
  opacity: 1;
}
.tokenfield.form-control input {
  padding: 0;
  border: none;
  font-size: 1.1em;
  line-height: 1.63636363636364em;
  height: 1.63636363636364em;
  margin: 0.272727272727273em 0;
  box-shadow: none;
  outline: 0 none;
  float: left;
}
.tokenfield.form-control:hover {
  border-color: #62afdb;
}
.tokenfield.form-control:focus {
  border-color: #62afdb;
  box-shadow: #62afdb 0 0 5px;
}
.token {
  float: left;
  background-color: #d4ecf8;
  border: 1px solid #a3d7f0;
  border-radius: 1px;
  padding: 0 0.3em 0 0.7em;
  margin-right: 0.7em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  outline: 0 none;
}
.token span {
  float: left;
  font-size: 1.1em;
  line-height: 1.45454545454545em;
}
.token .close {
  text-indent: -9999999em;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  background: url(img/btn-close-blue.png) no-repeat center center;
  margin-left: 0.3em;
  padding: 0;
  border: none;
  font-size: 1em;
  opacity: 1;
}
.form-actions {
  float: right;
  margin-top: 3em;
  margin-bottom: 5em;
}
.form-actions .primary {
  float: right;
  margin-left: 0.90909090909091em;
}
.form-actions a {
  font-size: 1.1em;
  margin-right: 0.90909090909091em;
}
.changing-selectors.application {
  padding-left: 12em;
}
.changing-selectors .select-title {
  display: inline-block;
}
.changing-selectors .select-title label {
  font-size: 1.1em;
  margin-left: 0.2em;
  margin-bottom: 0.3em;
  margin-top: 0.5em;
  display: block;
  font-weight: normal;
}
.changing-selectors select {
  min-height: 150px;
  font-size: 1.1em;
  padding: 0.545454545454545em;
  min-width: 18.1818181818182em;
  border: 1px #b6b6b6 solid;
  border-radius: 2px;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  color: #333;
  max-width: 200px;
  width: auto;
  min-width: 150px;
  display: inline-block;
}
.changing-selectors select:hover {
  border-color: #62afdb;
}
.changing-selectors select option {
  padding: 0.36363636363636em 0.45454545454545em;
  display: block;
}
.changing-selectors select option[disabled="disabled"] {
  color: #aaa;
}
.changing-selectors .middle-buttons {
  display: inline-block;
  width: 4.5em;
  margin-left: 0.8em;
  margin-right: 0.8em;
  vertical-align: middle;
}
.changing-selectors .middle-buttons button:first-child {
  margin-bottom: 0.5em;
}
.changing-selectors .middle-buttons button.disabled span {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.changing-selectors .middle-buttons button span {
  margin-right: 0;
}
.breadcrumb {
  background: none;
  margin: 5px 0 0 0;
  padding: 0;
}
.breadcrumb li a {
  font-size: 1.1em;
}
.breadcrumb > li + li:before {
  content: "» ";
}
