/* Icons */

.icon-collapse, 
.icon-expand {
    background-image: url(img/icon-collapse-expand.png);
    background-position: left top;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    margin-right: 1em;
}

.icon-expand {
    background-position: left -14px;
    margin-top: -1px;
}
 