[class*="icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	background-image: url(img/sprites.png); /* Modified by Gabriel */
	background-repeat: no-repeat;
	text-indent: -99999em;
	margin-right: 0.5em;
	vertical-align: text-top;
}
.icon-home {
	background-position: 0 0;
	width: 18px;
}
.icon-home2 {
	background-position: -32px 0;
	width: 14px;
}
.icon-home3 {
	background-position: -60px 0;
	width: 14px;
}
.icon-office {
	background-position: -88px 0;
	width: 14px;
}
.icon-newspaper {
	background-position: -116px 0;
	width: 14px;
}
.icon-pencil {
	background-position: -144px 0;
	width: 14px;
}
.icon-pencil2 {
	background-position: -172px 0;
	width: 14px;
}
.icon-quill {
	background-position: -200px 0;
	width: 15px;
}
.icon-pen {
	background-position: -229px 0;
	width: 14px;
}
.icon-blog {
	background-position: -257px 0;
	width: 16px;
}
.icon-droplet {
	background-position: -287px 0;
	width: 16px;
}
.icon-paint-format {
	background-position: -317px 0;
	width: 16px;
}
.icon-image {
	background-position: -347px 0;
	width: 16px;
}
.icon-image2 {
	background-position: -377px 0;
	width: 16px;
}
.icon-images {
	background-position: 0 -28px;
}
.icon-camera {
	background-position: -32px -28px;
}
.icon-music {
	background-position: -60px -28px;
}
.icon-headphones {
	background-position: -88px -28px;
}
.icon-play {
	background-position: -116px -28px;
}
.icon-film {
	background-position: -144px -28px;
}
.icon-camera2 {
	background-position: -172px -28px;
}
.icon-dice {
	background-position: -200px -28px;
}
.icon-pacman {
	background-position: -229px -28px;
}
.icon-spades {
	background-position: -257px -28px;
}
.icon-clubs {
	background-position: -287px -28px;
}
.icon-diamonds {
	background-position: -317px -28px;
}
.icon-pawn {
	background-position: -347px -28px;
}
.icon-bullhorn {
	background-position: -377px -28px;
}
.icon-connection {
	background-position: 0 -56px;
}
.icon-podcast {
	background-position: -32px -56px;
}
.icon-feed {
	background-position: -60px -56px;
}
.icon-book {
	background-position: -88px -56px;
}
.icon-books {
	background-position: -116px -56px;
}
.icon-library {
	background-position: -144px -56px;
}
.icon-file {
	background-position: -172px -56px;
}
.icon-profile {
	background-position: -200px -56px;
}
.icon-file2 {
	background-position: -229px -56px;
}
.icon-file3 {
	background-position: -257px -56px;
}
.icon-file4 {
	background-position: -287px -56px;
}
.icon-copy {
	background-position: -317px -56px;
}
.icon-copy2 {
	background-position: -347px -56px;
}
.icon-copy3 {
	background-position: -377px -56px;
}
.icon-paste {
	background-position: 0 -84px;
}
.icon-paste2 {
	background-position: -32px -84px;
}
.icon-paste3 {
	background-position: -60px -84px;
}
.icon-stack {
	background-position: -88px -84px;
}
.icon-folder {
	background-position: -116px -84px;
}
.icon-folder-open {
	background-position: -144px -84px;
}
.icon-tag {
	background-position: -172px -84px;
}
.icon-tags {
	background-position: -200px -84px;
}
.icon-barcode {
	background-position: -229px -84px;
}
.icon-qrcode {
	background-position: -257px -84px;
}
.icon-ticket {
	background-position: -287px -84px;
}
.icon-cart {
	background-position: -317px -84px;
}
.icon-cart2 {
	background-position: -347px -84px;
}
.icon-cart3 {
	background-position: -377px -84px;
}
.icon-coin {
	background-position: 0 -112px;
}
.icon-credit {
	background-position: -32px -112px;
}
.icon-calculate {
	background-position: -60px -112px;
}
.icon-support {
	background-position: -88px -112px;
}
.icon-phone {
	background-position: -116px -112px;
}
.icon-phone-hang-up {
	background-position: -144px -112px;
}
.icon-address-book {
	background-position: -172px -112px;
}
.icon-notebook {
	background-position: -200px -112px;
}
.icon-envelop {
	background-position: -229px -112px;
}
.icon-pushpin {
	background-position: -257px -112px;
}
.icon-location {
	background-position: -287px -112px;
}
.icon-location2 {
	background-position: -317px -112px;
}
.icon-compass {
	background-position: -347px -112px;
}
.icon-map {
	background-position: -377px -112px;
}
.icon-map2 {
	background-position: 0 -140px;
}
.icon-history {
	background-position: -32px -140px;
}
.icon-clock {
	background-position: -60px -140px;
}
.icon-clock2 {
	background-position: -88px -140px;
}
.icon-alarm {
	background-position: -116px -140px;
}
.icon-alarm2 {
	background-position: -144px -140px;
}
.icon-bell {
	background-position: -172px -140px;
}
.icon-stopwatch {
	background-position: -200px -140px;
}
.icon-calendar {
	background-position: -229px -140px;
}
.icon-calendar2 {
	background-position: -257px -140px;
}
.icon-print {
	background-position: -287px -140px;
}
.icon-keyboard {
	background-position: -317px -140px;
}
.icon-screen {
	background-position: -347px -140px;
}
.icon-laptop {
	background-position: -377px -140px;
}
.icon-mobile {
	background-position: 0 -168px;
}
.icon-mobile2 {
	background-position: -32px -168px;
}
.icon-tablet {
	background-position: -60px -168px;
}
.icon-tv {
	background-position: -88px -168px;
}
.icon-cabinet {
	background-position: -116px -168px;
}
.icon-drawer {
	background-position: -144px -168px;
}
.icon-drawer2 {
	background-position: -172px -168px;
}
.icon-drawer3 {
	background-position: -200px -168px;
}
.icon-box-add {
	background-position: -229px -168px;
}
.icon-box-remove {
	background-position: -257px -168px;
}
.icon-download {
	background-position: -287px -168px;
}
.icon-upload {
	background-position: -317px -168px;
}
.icon-disk {
	background-position: -347px -168px;
}
.icon-storage {
	background-position: -377px -168px;
}
.icon-undo {
	background-position: 0 -196px;
}
.icon-redo {
	background-position: -32px -196px;
}
.icon-flip {
	background-position: -60px -196px;
}
.icon-flip2 {
	background-position: -88px -196px;
}
.icon-undo2 {
	background-position: -116px -196px;
}
.icon-redo2 {
	background-position: -144px -196px;
}
.icon-forward {
	background-position: -172px -196px;
}
.icon-reply {
	background-position: -200px -196px;
}
.icon-bubble {
	background-position: -229px -196px;
}
.icon-bubbles {
	background-position: -257px -196px;
}
.icon-bubbles2 {
	background-position: -287px -196px;
}
.icon-bubble2 {
	background-position: -317px -196px;
}
.icon-bubbles3 {
	background-position: -347px -196px;
}
.icon-bubbles4 {
	background-position: -377px -196px;
}
.icon-user {
	background-position: 0 -224px;
}
.icon-users {
	background-position: -32px -224px;
}
.icon-user2 {
	background-position: -60px -224px;
}
.icon-users2 {
	background-position: -88px -224px;
}
.icon-user3 {
	background-position: -116px -224px;
}
.icon-user4 {
	background-position: -144px -224px;
}
.icon-quotes-left {
	background-position: -172px -224px;
}
.icon-busy {
	background-position: -200px -224px;
}
.icon-spinner {
	background-position: -229px -224px;
}
.icon-spinner2 {
	background-position: -257px -224px;
}
.icon-spinner3 {
	background-position: -287px -224px;
}
.icon-spinner4 {
	background-position: -317px -224px;
}
.icon-spinner5 {
	background-position: -347px -224px;
}
.icon-spinner6 {
	background-position: -377px -224px;
}
.icon-binoculars {
	background-position: 0 -252px;
}
.icon-search {
	background-position: -32px -252px;
}
.icon-zoom in {
	background-position: -60px -252px;
}
.icon-zoom out {
	background-position: -88px -252px;
}
.icon-expand {
	background-position: -116px -252px;
}
.icon-contract {
	background-position: -144px -252px;
}
.icon-expand2 {
	background-position: -172px -252px;
}
.icon-contract2 {
	background-position: -200px -252px;
}
.icon-key {
	background-position: -229px -252px;
}
.icon-key2 {
	background-position: -257px -252px;
}
.icon-lock {
	background-position: -287px -252px;
}
.icon-lock2 {
	background-position: -317px -252px;
}
.icon-unlocked {
	background-position: -347px -252px;
}
.icon-wrench {
	background-position: -377px -252px;
}
.icon-settings {
	background-position: 0 -280px;
}
.icon-equalizer {
	background-position: -32px -280px;
}
.icon-cog {
	background-position: -60px -280px;
}
.icon-cogs {
	background-position: -88px -280px;
}
.icon-cog2 {
	background-position: -116px -280px;
}
.icon-hammer {
	background-position: -144px -280px;
}
.icon-wand {
	background-position: -172px -280px;
}
.icon-aid {
	background-position: -200px -280px;
}
.icon-bug {
	background-position: -229px -280px;
}
.icon-pie {
	background-position: -257px -280px;
}
.icon-stats {
	background-position: -287px -280px;
}
.icon-bars {
	background-position: -317px -280px;
}
.icon-bars2 {
	background-position: -347px -280px;
}
.icon-gift {
	background-position: -377px -280px;
}
.icon-trophy {
	background-position: 0 -308px;
}
.icon-glass {
	background-position: -32px -308px;
}
.icon-mug {
	background-position: -60px -308px;
}
.icon-food {
	background-position: -88px -308px;
}
.icon-leaf {
	background-position: -116px -308px;
}
.icon-rocket {
	background-position: -144px -308px;
}
.icon-meter {
	background-position: -172px -308px;
}
.icon-meter2 {
	background-position: -200px -308px;
}
.icon-dashboard {
	background-position: -229px -308px;
}
.icon-hammer2 {
	background-position: -257px -308px;
}
.icon-fire {
	background-position: -287px -308px;
}
.icon-lab {
	background-position: -317px -308px;
}
.icon-magnet {
	background-position: -347px -308px;
}
.icon-remove {
	background-position: -377px -308px;
}
.icon-remove2 {
	background-position: 0 -336px;
}
.icon-briefcase {
	background-position: -32px -336px;
}
.icon-airplane {
	background-position: -60px -336px;
}
.icon-truck {
	background-position: -88px -336px;
}
.icon-road {
	background-position: -116px -336px;
}
.icon-accessibility {
	background-position: -144px -336px;
}
.icon-target {
	background-position: -172px -336px;
}
.icon-shield {
	background-position: -200px -336px;
}
.icon-lightning {
	background-position: -229px -336px;
}
.icon-switch {
	background-position: -257px -336px;
}
.icon-power cord {
	background-position: -287px -336px;
}
.icon-signup {
	background-position: -317px -336px;
}
.icon-list {
	background-position: -347px -336px;
}
.icon-list2 {
	background-position: -377px -336px;
}
.icon-numbered-list {
	background-position: 0 -364px;
}
.icon-menu {
	background-position: -32px -364px;
}
.icon-menu2 {
	background-position: -60px -364px;
}
.icon-tree {
	background-position: -88px -364px;
}
.icon-cloud {
	background-position: -116px -364px;
}
.icon-cloud-download {
	background-position: -144px -364px;
}
.icon-cloud-upload {
	background-position: -172px -364px;
}
.icon-download2 {
	background-position: -200px -364px;
}
.icon-upload2 {
	background-position: -229px -364px;
}
.icon-download3 {
	background-position: -257px -364px;
}
.icon-upload3 {
	background-position: -287px -364px;
}
.icon-globe {
	background-position: -317px -364px;
}
.icon-earth {
	background-position: -347px -364px;
}
.icon-link {
	background-position: -377px -364px;
}
.icon-flag {
	background-position: 0 -392px;
}
.icon-attachment {
	background-position: -32px -392px;
}
.icon-eye {
	background-position: -60px -392px;
}
.icon-eye-blocked {
	background-position: -88px -392px;
}
.icon-eye2 {
	background-position: -116px -392px;
}
.icon-bookmark {
	background-position: -144px -392px;
}
.icon-bookmarks {
	background-position: -172px -392px;
}
.icon-brightness-medium {
	background-position: -200px -392px;
}
.icon-brightness-contrast {
	background-position: -229px -392px;
}
.icon-contrast {
	background-position: -257px -392px;
}
.icon-star {
	background-position: -287px -392px;
}
.icon-star2 {
	background-position: -317px -392px;
}
.icon-star3 {
	background-position: -347px -392px;
}
.icon-heart {
	background-position: -377px -392px;
}
.icon-heart2 {
	background-position: 0 -420px;
}
.icon-heart-broken {
	background-position: -32px -420px;
}
.icon-thumbs-up {
	background-position: -60px -420px;
}
.icon-thumbs-up2 {
	background-position: -88px -420px;
}
.icon-happy {
	background-position: -116px -420px;
}
.icon-happy2 {
	background-position: -144px -420px;
}
.icon-smiley {
	background-position: -172px -420px;
}
.icon-smiley2 {
	background-position: -200px -420px;
}
.icon-tongue {
	background-position: -229px -420px;
}
.icon-tongue2 {
	background-position: -257px -420px;
}
.icon-sad {
	background-position: -287px -420px;
}
.icon-sad2 {
	background-position: -317px -420px;
}
.icon-wink {
	background-position: -347px -420px;
}
.icon-wink2 {
	background-position: -377px -420px;
}
.icon-grin {
	background-position: 0 -448px;
}
.icon-grin2 {
	background-position: -32px -448px;
}
.icon-cool {
	background-position: -60px -448px;
}
.icon-cool2 {
	background-position: -88px -448px;
}
.icon-angry {
	background-position: -116px -448px;
}
.icon-angry2 {
	background-position: -144px -448px;
}
.icon-evil {
	background-position: -172px -448px;
}
.icon-evil2 {
	background-position: -200px -448px;
}
.icon-shocked {
	background-position: -229px -448px;
}
.icon-shocked2 {
	background-position: -257px -448px;
}
.icon-confused {
	background-position: -287px -448px;
}
.icon-confused2 {
	background-position: -317px -448px;
}
.icon-neutral {
	background-position: -347px -448px;
}
.icon-neutral2 {
	background-position: -377px -448px;
}
.icon-wondering {
	background-position: 0 -476px;
}
.icon-wondering2 {
	background-position: -32px -476px;
}
.icon-point-up {
	background-position: -60px -476px;
}
.icon-point-right {
	background-position: -88px -476px;
}
.icon-point-down {
	background-position: -116px -476px;
}
.icon-point-left {
	background-position: -144px -476px;
}
.icon-warning {
	background-position: -172px -476px;
}
.icon-notification {
	background-position: -200px -476px;
}
.icon-question {
	background-position: -229px -476px;
}
.icon-info {
	background-position: -257px -476px;
}
.icon-info2 {
	background-position: -287px -476px;
}
.icon-blocked {
	background-position: -317px -476px;
}
.icon-cancel-circle {
	background-position: -347px -476px;
}
.icon-checkmark-circle {
	background-position: -377px -476px;
}
.icon-spam {
	background-position: 0 -504px;
}
.icon-close {
	background-position: -32px -504px;
}
.icon-checkmark {
	background-position: -60px -504px;
}
.icon-checkmark2 {
	background-position: -88px -504px;
}
.icon-spell-check {
	background-position: -116px -504px;
}
.icon-minus {
	background-position: -144px -504px;
}
.icon-plus {
	background-position: -172px -504px;
}
.icon-enter {
	background-position: -200px -504px;
}
.icon-exit {
	background-position: -229px -504px;
}
.icon-play2 {
	background-position: -257px -504px;
}
.icon-pause {
	background-position: -287px -504px;
}
.icon-stop {
	background-position: -317px -504px;
}
.icon-backward {
	background-position: -347px -504px;
}
.icon-forward2 {
	background-position: -377px -504px;
}
.icon-play3 {
	background-position: 0 -532px;
}
.icon-pause2 {
	background-position: -32px -532px;
}
.icon-stop2 {
	background-position: -60px -532px;
}
.icon-backward2 {
	background-position: -88px -532px;
}
.icon-forward3 {
	background-position: -116px -532px;
}
.icon-first {
	background-position: -144px -532px;
}
.icon-last {
	background-position: -172px -532px;
}
.icon-previous {
	background-position: -200px -532px;
}
.icon-next {
	background-position: -229px -532px;
}
.icon-eject {
	background-position: -257px -532px;
}
.icon-volume-high {
	background-position: -287px -532px;
}
.icon-volume-medium {
	background-position: -317px -532px;
}
.icon-volume-low {
	background-position: -347px -532px;
}
.icon-volume-mute {
	background-position: -377px -532px;
}
.icon-volume-mute2 {
	background-position: 0 -560px;
}
.icon-volume-increase {
	background-position: -32px -560px;
}
.icon-volume-decrease {
	background-position: -60px -560px;
}
.icon-loop {
	background-position: -88px -560px;
}
.icon-loop2 {
	background-position: -116px -560px;
}
.icon-loop3 {
	background-position: -144px -560px;
}
.icon-shuffle {
	background-position: -172px -560px;
}
.icon-arrow-up-left {
	background-position: -200px -560px;
}
.icon-arrow-up {
	background-position: -229px -560px;
}
.icon-arrow-up-right {
	background-position: -257px -560px;
}
.icon-arrow-right {
	background-position: -287px -560px;
}
.icon-arrow-down-right {
	background-position: -317px -560px;
}
.icon-arrow-down {
	background-position: -347px -560px;
}
.icon-arrow-down-left {
	background-position: -377px -560px;
}
.icon-arrow-left {
	background-position: 0 -588px;
}
.icon-arrow-up-left2 {
	background-position: -32px -588px;
}
.icon-arrow-up2 {
	background-position: -60px -588px;
}
.icon-arrow-up-right2 {
	background-position: -88px -588px;
}
.icon-arrow-right2 {
	background-position: -116px -588px;
}
.icon-arrow-down-right2 {
	background-position: -144px -588px;
}
.icon-arrow-down2 {
	background-position: -172px -588px;
}
.icon-arrow-down-left2 {
	background-position: -200px -588px;
}
.icon-arrow-left2 {
	background-position: -229px -588px;
}
.icon-arrow-up-left3 {
	background-position: -257px -588px;
}
.icon-arrow-up3 {
	background-position: -287px -588px;
}
.icon-arrow-up-right3 {
	background-position: -317px -588px;
}
.icon-arrow-right3 {
	background-position: -347px -588px;
}
.icon-arrow-down-right3 {
	background-position: -377px -588px;
}
.icon-arrow-down3 {
	background-position: 0 -616px;
}
.icon-arrow-down-left3 {
	background-position: -32px -616px;
}
.icon-arrow-left3 {
	background-position: -60px -616px;
}
.icon-tab {
	background-position: -88px -616px;
}
.icon-checkbox-checked {
	background-position: -116px -616px;
}
.icon-checkbox-unchecked {
	background-position: -144px -616px;
}
.icon-checkbox-partial {
	background-position: -172px -616px;
}
.icon-radio-checked {
	background-position: -200px -616px;
}
.icon-radio-unchecked {
	background-position: -229px -616px;
}
.icon-crop {
	background-position: -257px -616px;
}
.icon-scissors {
	background-position: -287px -616px;
}
.icon-filter {
	background-position: -317px -616px;
}
.icon-filter2 {
	background-position: -347px -616px;
}
.icon-font {
	background-position: -377px -616px;
}
.icon-text-height {
	background-position: 0 -644px;
}
.icon-text-width {
	background-position: -32px -644px;
}
.icon-bold {
	background-position: -60px -644px;
}
.icon-underline {
	background-position: -88px -644px;
}
.icon-italic {
	background-position: -116px -644px;
}
.icon-strikethrough {
	background-position: -144px -644px;
}
.icon-omega {
	background-position: -172px -644px;
}
.icon-sigma {
	background-position: -200px -644px;
}
.icon-table {
	background-position: -229px -644px;
}
.icon-table2 {
	background-position: -257px -644px;
}
.icon-insert-template {
	background-position: -287px -644px;
}
.icon-pilcrow {
	background-position: -317px -644px;
}
.icon-left to right {
	background-position: -347px -644px;
}
.icon-right to left {
	background-position: -377px -644px;
}
.icon-paragraph-left {
	background-position: 0 -672px;
}
.icon-paragraph-center {
	background-position: -32px -672px;
}
.icon-paragraph-right {
	background-position: -60px -672px;
}
.icon-paragraph-justify {
	background-position: -88px -672px;
}
.icon-paragraph-left2 {
	background-position: -116px -672px;
}
.icon-paragraph-center2 {
	background-position: -144px -672px;
}
.icon-paragraph-right2 {
	background-position: -172px -672px;
}
.icon-paragraph-justify2 {
	background-position: -200px -672px;
}
.icon-indent-increase {
	background-position: -229px -672px;
}
.icon-indent-decrease {
	background-position: -257px -672px;
}
.icon-new tab {
	background-position: -287px -672px;
}
.icon-embed {
	background-position: -317px -672px;
}
.icon-code {
	background-position: -347px -672px;
}
.icon-console {
	background-position: -377px -672px;
}
.icon-share {
	background-position: 0 -700px;
}
.icon-mail {
	background-position: -32px -700px;
}
.icon-mail2 {
	background-position: -60px -700px;
}
.icon-mail3 {
	background-position: -88px -700px;
}
.icon-mail4 {
	background-position: -116px -700px;
}
.icon-google {
	background-position: -144px -700px;
}
.icon-google plus {
	background-position: -172px -700px;
}
.icon-google plus2 {
	background-position: -200px -700px;
}
.icon-google plus3 {
	background-position: -229px -700px;
}
.icon-google plus4 {
	background-position: -257px -700px;
}
.icon-google-drive {
	background-position: -287px -700px;
}
.icon-facebook {
	background-position: -317px -700px;
}
.icon-facebook2 {
	background-position: -347px -700px;
}
.icon-facebook3 {
	background-position: -377px -700px;
}
.icon-instagram {
	background-position: 0 -728px;
}
.icon-twitter {
	background-position: -32px -728px;
}
.icon-twitter2 {
	background-position: -60px -728px;
}
.icon-twitter3 {
	background-position: -88px -728px;
}
.icon-feed2 {
	background-position: -116px -728px;
}
.icon-feed3 {
	background-position: -144px -728px;
}
.icon-feed4 {
	background-position: -172px -728px;
}
.icon-youtube {
	background-position: -200px -728px;
}
.icon-youtube2 {
	background-position: -229px -728px;
}
.icon-vimeo {
	background-position: -257px -728px;
}
.icon-vimeo2 {
	background-position: -287px -728px;
}
.icon-vimeo3 {
	background-position: -317px -728px;
}
.icon-lanyrd {
	background-position: -347px -728px;
}
.icon-flickr {
	background-position: -377px -728px;
}
.icon-flickr2 {
	background-position: 0 -756px;
}
.icon-flickr3 {
	background-position: -32px -756px;
}
.icon-flickr4 {
	background-position: -60px -756px;
}
.icon-picassa {
	background-position: -88px -756px;
}
.icon-picassa2 {
	background-position: -116px -756px;
}
.icon-dribbble {
	background-position: -144px -756px;
}
.icon-dribbble2 {
	background-position: -172px -756px;
}
.icon-dribbble3 {
	background-position: -200px -756px;
}
.icon-forrst {
	background-position: -229px -756px;
}
.icon-forrst2 {
	background-position: -257px -756px;
}
.icon-deviantart {
	background-position: -287px -756px;
}
.icon-deviantart2 {
	background-position: -317px -756px;
}
.icon-steam {
	background-position: -347px -756px;
}
.icon-steam2 {
	background-position: -377px -756px;
}
.icon-github {
	background-position: 0 -784px;
}
.icon-github2 {
	background-position: -32px -784px;
}
.icon-github3 {
	background-position: -60px -784px;
}
.icon-github4 {
	background-position: -88px -784px;
}
.icon-github5 {
	background-position: -116px -784px;
}
.icon-wordpress {
	background-position: -144px -784px;
}
.icon-wordpress2 {
	background-position: -172px -784px;
}
.icon-joomla {
	background-position: -200px -784px;
}
.icon-blogger {
	background-position: -229px -784px;
}
.icon-blogger2 {
	background-position: -257px -784px;
}
.icon-tumblr {
	background-position: -287px -784px;
}
.icon-tumblr2 {
	background-position: -317px -784px;
}
.icon-yahoo {
	background-position: -347px -784px;
}
.icon-tux {
	background-position: -377px -784px;
}
.icon-apple {
	background-position: 0 -812px;
}
.icon-finder {
	background-position: -32px -812px;
}
.icon-android {
	background-position: -60px -812px;
}
.icon-windows {
	background-position: -88px -812px;
}
.icon-windows8 {
	background-position: -116px -812px;
}
.icon-soundcloud {
	background-position: -144px -812px;
}
.icon-soundcloud2 {
	background-position: -172px -812px;
}
.icon-skype {
	background-position: -200px -812px;
}
.icon-reddit {
	background-position: -229px -812px;
}
.icon-linkedin {
	background-position: -257px -812px;
}
.icon-lastfm {
	background-position: -287px -812px;
}
.icon-lastfm2 {
	background-position: -317px -812px;
}
.icon-delicious {
	background-position: -347px -812px;
}
.icon-stumbleupon {
	background-position: -377px -812px;
}
.icon-stumbleupon2 {
	background-position: 0 -840px;
}
.icon-stackoverflow {
	background-position: -32px -840px;
}
.icon-pinterest {
	background-position: -60px -840px;
}
.icon-pinterest2 {
	background-position: -88px -840px;
}
.icon-xing {
	background-position: -116px -840px;
}
.icon-xing2 {
	background-position: -144px -840px;
}
.icon-flattr {
	background-position: -172px -840px;
}
.icon-yelp {
	background-position: -200px -840px;
}
.icon-libreoffice {
	background-position: -229px -840px;
}
.icon-file-pdf {
	background-position: -257px -840px;
}
.icon-file-openoffice {
	background-position: -287px -840px;
}
.icon-file-word {
	background-position: -317px -840px;
}
.icon-file-excel {
	background-position: -347px -840px;
}
.icon-file-zip {
	background-position: -377px -840px;
}
.icon-css3 {
	background-position: 0 -868px;
}
.icon-chrome {
	background-position: -32px -868px;
}
.icon-firefox {
	background-position: -60px -868px;
}
.icon-IE {
	background-position: -88px -868px;
}
.icon-opera {
	background-position: -116px -868px;
}
.icon-safari {
	background-position: -144px -868px;
}
.icon-IcoMoon {
	background-position: -172px -868px;
}
