table {
  width: 100%;
  border: 1px #dcdcdc solid;
  border-spacing: 0;

}

table caption {
  text-align: left;
  font-weight: bold;
  padding: 11.5px;
}

table tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}


table tbody tr td,
table thead tr th {
  font-weight: normal;
  padding: 6px 15px;
  font-size: 11.5px;
  border-top: 1px #ebebeb;
  border-right: 1px #dcdcdc solid;
  text-align: left;
}

.rcue-table-actions {
  padding: 1px;
  border-top: none;
}

/*
.rcue-table-actions span:last-child {
  float: right;
}
*/

.rcue-table-actions {
  padding: 1px;
}

/*
.rcue-table-actions button {
  padding: 3px 8px;
  font-size: 11px;
  box-shadow: 1px 2px 2px #e3e3e3;
  margin: 4px;
}
*/

.rcue-table-number {
  text-align: right;
  width: 100px;
}

table thead tr th {
  font-weight: bold;
  border: none;
  border-right: 1px #dcdcdc solid;
  background-image: linear-gradient(top, #fafafa 0%, #eee 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #eee 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
  background-image: -ms-linear-gradient(top, #fafafa 0%, #eee 100%);
  background-image: -webkit-gradient(
	  linear,
	  left top,
	  left bottom,
	  color-stop(0.0, #fafafa),
	  color-stop(1,0, #eee)
  );
  border-bottom: 1px #cedede solid;
}

/*
table tbody tr td:first-child {
  color: #0099d3;
}
*/

table thead tr th:last-child {
  border-right: none;
}

table thead tr th button,
table thead tr th .button {
    margin-left: 0.72727272727273em;
}

table tbody tr:first-child td {
  border-top: 1px solid #f2f2f2;
/*   padding-top: 9px; */
}


table tbody tr td:last-child {
  border-right: none;
}

/*
table tbody tr:hover {
  cursor: pointer;
  background-color: #ebebeb;
}
*/


/* Styles from Gabriel */
 
.rcue-table-actions button + button,
.rcue-table-actions .button + button {
    margin-left: 5px;
}

.rcue-table-actions div.actions {
    float: right;
    font-size: 0.90909090909091em;
}

table {
    
    tbody {
        
        tr {
        
            border-top: 1px solid #ededed;
                    
            &:hover {
                cursor: default;
            }
            
            td {
                vertical-align: middle;
            }
            
            td.token-cell {
                padding: 0 0.7em;
                line-height: 0;
                
                .token {
                    padding-top: 0.18181818181818em;
                    padding-bottom: 0.18181818181818em;
                    margin-top: 6px;
                    margin-bottom: 5px;
                }
                
                button {
                    float: left;
                    margin-bottom: 7px;
                    margin-top: 8px;
                }
            }
        }
        
        &.selectable-rows {
         
            tr:hover {
                cursor: pointer;
                background-color: #ebebeb;
            }
            
            tr:first-child td {
                padding-top: 9px;
            }
            
            tr.selected,
            tr.selected:hover {
                background-color: #eaf5fb;
                
                td:first-child {
                    background-image: url(img/icon-row-selected.svg);
                    background-position: 0.2em center;
                    background-repeat: no-repeat;
                }
            }
        }
    }    
    
    tfoot tr {
        border-top: 1px solid #cecece;
        
        .table-nav {
            float: right;
            
            a {
                display: inline-block;
                line-height: 2.4em;
                border-left: 1px solid #d9d9d9;
                width: 3.5em;
                background-color: #f3f3f3;
                background-image: linear-gradient(top, #fafafa 0%, #ededed 100%);
                background-image: -o-linear-gradient(top, #fafafa 0%, #ededed 100%);
                background-image: -moz-linear-gradient(top, #fafafa 0%, #ededed 100%);
                background-image: -webkit-linear-gradient(top, #fafafa 0%, #ededed 100%);
                background-image: -ms-linear-gradient(top, #fafafa 0%, #ededed 100%);
                background-image: -webkit-gradient(
                    linear,
                    left top,
                    left bottom,
                    color-stop(0.0, #fafafa),
                    color-stop(1,0, #ededed)
                );
                text-indent: -99999em;
                background-image: url(img/sprite-table-nav.png);
                background-repeat: no-repeat;
                background-position: left top;
                vertical-align: top;
                
                &.last {
                    background-position: top right;
                }
                
                &.prev {
                    background-position: bottom left;
                }
                
                &.next {
                    background-position: bottom right;
                }
                
                &:hover {
                    background-image: url(img/sprite-table-nav.png);
                    background-color: #eeeeee;
                }
                
                &:active {
                    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25) inset;
                }
                
                &.disabled {
                    opacity: 0.5;
                    filter:alpha(opacity=50);
                    cursor: default;
                    
                    &:active {
                        box-shadow: none;
                    }
                }
            }
            
            span {
                font-size: 1.1em;
                border-left: 1px solid #d9d9d9;
                line-height: 2.18181818181818em;
                display: inline-block;
                padding: 0 1.36363636363636em;
            }
        }
    }
}





