ul.rcue-tabs {
  border-bottom: 1px #e9e8e8 solid;
  font-size: 12.5px;
}

ul.rcue-tabs li {
  display: inline-block;
  margin: 0 10px;
}

ul.rcue-tabs li:first-child {
  margin-left: 0;
}

ul.rcue-tabs li a {
  padding: 8px 4px;
  color: #4d5258;
  text-decoration: none;
}

ul.rcue-tabs li a:hover {
  color: #777;
}

ul.rcue-tabs li.active {
  border-bottom: 2px #0099d3 solid;
  margin-bottom: -1px;
}

ul.rcue-tabs li.active a {
  display: inline-block;
  color: #0099d3;
  font-weight: bold;
}


ul.rcue-breadcrumbs li {
  display: inline-block;
  margin-right: 8px;
  padding-left: 8px;
  font-size: 11.5px;
}

ul.rcue-breadcrumbs li:before {
  padding-right: 12px;
  content: '\00bb \0020 \0020 \0020 \0020'; /* Right pointing chevron */
}

ul.rcue-breadcrumbs li:first-child:before {
  content: none;
}


