.navbar {
    height: unset;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}

.navbar .nav-item {
    margin-top: 0;
}

.nav-link {
    padding: 0;
}

body {
    padding-top: 4.5rem;
}

.toolbar {
    top: 4.5rem;
}

.nav-container {
    top: 4.5rem;
}

.nav {
    top: 4.5rem;
    height: calc(100vh - 4.5rem)
}

@media screen and (max-width: 1023.5px) {
    .navbar-menu {
        max-height: calc(100vh - 4.5rem);
    }
}

@media screen and (min-width: 1024px) {
    .nav {
        top: 4.5rem;
    }
}

footer.footer {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
}

.imageblock.shadow img {
    border-width: 1px;
    border-color: darkgrey;
    box-shadow: 5px 5px 5px darkgrey;
    border-style: solid;
}

/* avoid jumping navigation due to changing width of bold font weight when a nav link becomes active */
.is-current-page > .nav-link, .is-current-page > .nav-text {
    font-weight: normal;
    text-shadow: 1px 0 0 black;
}
