/* this is the CSS to be used when rendering a preview in the IDE */
@import "site.css";
@import "custom.css";

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(https://www.keycloak.org/keycloak-benchmark/antora/font/roboto-latin-400-normal.woff2) format("woff2"), url(https://www.keycloak.org/keycloak-benchmark/antora/font/roboto-latin-400-normal.woff) format("woff");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    src: url(https://www.keycloak.org/keycloak-benchmark/antora/font/roboto-latin-400-italic.woff2) format("woff2"), url(https://www.keycloak.org/keycloak-benchmark/antora/font/roboto-latin-400-italic.woff) format("woff");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url(https://www.keycloak.org/keycloak-benchmark/antora/font/roboto-latin-500-normal.woff2) format("woff2"), url(https://www.keycloak.org/keycloak-benchmark/antora/font/roboto-latin-500-normal.woff) format("woff");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    src: url(https://www.keycloak.org/keycloak-benchmark/antora/font/roboto-latin-500-italic.woff2) format("woff2"), url(https://www.keycloak.org/keycloak-benchmark/antora/font/roboto-latin-500-italic.woff) format("woff");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    src: url(https://www.keycloak.org/keycloak-benchmark/antora/font/roboto-mono-latin-400-normal.woff2) format("woff2"), url(https://www.keycloak.org/keycloak-benchmark/antora/font/roboto-mono-latin-400-normal.woff) format("woff");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    src: url(https://www.keycloak.org/keycloak-benchmark/antora/font/roboto-mono-latin-500-normal.woff2) format("woff2"), url(https://www.keycloak.org/keycloak-benchmark/antora/font/roboto-mono-latin-500-normal.woff) format("woff");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

body {
    padding-top: 0
}
