<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~ Copyright 2016 Red Hat, Inc. and/or its affiliates
  ~ and other contributors as indicated by the @author tags.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <module-name>sales-post-sig</module-name>

    <!-- Define a Security Constraint on this Application, only index.jsp and piechart.gif.  The rest is needed for logout.jsp -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SALES Application</web-resource-name>
            <url-pattern>/index.jsp</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>SALES Picture</web-resource-name>
            <url-pattern>/piechart.gif</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>manager</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- Define the Login Configuration for this Application -->
    <login-config>
        <auth-method>KEYCLOAK-SAML</auth-method>
    </login-config>

    <!-- Security roles referenced by this web application -->
    <security-role>
        <description>The role that is required to log in to the Manager Application</description>
        <role-name>manager</role-name>
    </security-role>
</web-app>
