<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_MSG_ONLY" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n%rEx</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Uncomment for logging ALL HTTP request and responses -->
    <!-- 	<logger name="io.gatling.http" level="TRACE" /> -->
    <!-- Uncomment for logging ONLY FAILED HTTP request and responses -->
    <logger name="io.gatling" level="WARN" /> 

    <logger name="org.keycloak" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE_MSG_ONLY" />
    </logger>

    <logger name="org.keycloak.performance" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE_MSG_ONLY" />
    </logger>

    
    <logger name="ch.qos.logback" level="WARN"/>
    
</configuration>