<?xml version="1.0" encoding="UTF-8"?>



<module xmlns="urn:jboss:module:1.1" name="org.keycloak.keycloak-saml-protocol">
    <resources>
        <artifact name="${org.keycloak:keycloak-saml-protocol}"/>
    </resources>
    <dependencies>
        <module name="org.keycloak.keycloak-core"/>
        <module name="org.keycloak.keycloak-saml-core"/>
        <module name="org.keycloak.keycloak-model-api"/>
        <module name="org.keycloak.keycloak-events-api"/>
        <module name="org.keycloak.keycloak-account-api"/>
        <module name="org.keycloak.keycloak-email-api"/>
        <module name="org.keycloak.keycloak-login-api"/>
        <module name="org.keycloak.keycloak-services"/>
        <module name="org.keycloak.keycloak-forms-common-freemarker"/>
        <module name="org.apache.httpcomponents" />
        <module name="org.jboss.logging"/>
        <module name="javax.ws.rs.api"/>
        <module name="org.jboss.resteasy.resteasy-jaxrs"/>
        <module name="org.jboss.resteasy.resteasy-crypto"/>
        <module name="org.jboss.resteasy.resteasy-multipart-provider"/>

        <module name="javax.api"/>
    </dependencies>

</module>
