
.dropdown {
  width: 100%;
  padding: 32px;
  border-bottom: 1px solid var(--pf-c-nav__link--before--BorderColor);

  outline: 1px solid var(--pf-global--Color--200);
  outline-offset:-32px;    
}

.menu {
    /* setting this to 85% for now */
    min-width: 85%;
}

.pf-c-button.pf-m-primary.realmSelectButton {
  width: 100%;
}

.toggle {
  color: var(--pf-c-nav__link--m-current--Color);
  width: 100%;
  background: var(--pf-global--BackgroundColor--dark-100);
}

.toggle:focus {
  outline:0;
}

.toggle::before {
  border: none;
}
