<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2016 Red Hat, Inc. and/or its affiliates
  ~ and other contributors as indicated by the @author tags.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<module xmlns="urn:jboss:module:1.3" name="org.keycloak.keycloak-model-infinispan">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.keycloak:keycloak-model-infinispan}"/>
    </resources>

    <dependencies>
        <module name="org.keycloak.keycloak-common"/>
        <module name="org.keycloak.keycloak-core"/>
        <module name="org.keycloak.keycloak-model-legacy"/>
        <module name="org.keycloak.keycloak-model-legacy-private"/>
        <module name="org.keycloak.keycloak-server-spi"/>
        <module name="org.keycloak.keycloak-server-spi-private"/>
        <module name="org.keycloak.keycloak-wildfly-extensions" export="true" services="import"/>
        <module name="org.infinispan"/>
        <module name="org.infinispan.commons"/>
        <module name="org.infinispan.persistence.remote"/>
        <module name="org.infinispan.client.hotrod"/>
        <module name="org.infinispan.jboss-marshalling"/>
        <module name="org.jgroups"/>
        <module name="org.jboss.logging"/>
        <module name="org.wildfly.clustering.marshalling.api"/>
        <module name="io.netty.netty-buffer"/>
        <module name="io.netty.netty-codec"/>
        <module name="io.netty.netty-codec-dns"/>
        <module name="io.netty.netty-codec-http"/>
        <module name="io.netty.netty-codec-http2"/>
        <module name="io.netty.netty-codec-socks"/>
        <module name="io.netty.netty-common"/>
        <module name="io.netty.netty-handler"/>
        <module name="io.netty.netty-handler-proxy"/>
        <module name="io.netty.netty-resolver"/>
        <module name="io.netty.netty-resolver-dns"/>
        <module name="io.netty.netty-transport"/>
        <module name="io.netty.netty-transport-native-epoll"/>
        <module name="io.netty.netty-transport-native-kqueue"/>
        <module name="io.netty.netty-transport-native-unix-common"/>
        <module name="javax.api"/>
    </dependencies>
</module>
