# OS stuff
###################
.DS_Store

# Intellij
###################
.idea
*.iml
!.idea/icon.png

# Eclipse #
###########
.project
.settings
.classpath
# reverting this as e.g. /distribution/feature-packs/server-feature-pack/src/main/resources/content/bin/
# should not be ignored
#bin/
.factorypath


# NetBeans #
############
nbactions.xml
nb-configuration.xml
catalog.xml
nbproject

# VS Code #
###########
*.code-workspace
*.vscode

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Python byte-compiled files #
##############################
*.pyc

# Logs and databases #
######################
*.log
.attach_pid*

# Maven #
#########
target
bin

# Maven shade
#############
*dependency-reduced-pom.xml

# testsuite #
#############
*offline-token.txt

# Quarkus ephemeral data #
##########################
quarkus/data/*.db

# Jakarta transformed sources #
###############################
/.metadata/

# Git ephemeral files
*.versionsBackup

!/quarkus/dist
!/quarkus/**/src/**/dist

# SDKMAM environment file
.sdkmanrc

# JENV
.java-version

.env
.env.test

# Keycloak state dir as suggested in the docs
# -Dkc.home.dir=.kc
.kc
