.keycloak__discovery-settings__metadata .pf-v5-c-expandable-section__toggle {
  margin-left: var(--pf-v5-c-form--m-horizontal__group-label--md--GridColumnWidth);
}

input#kc-role {
  width: 300px;
  margin-right: 24px;
}

h1.kc-add-mapper-title {
  margin-left: calc(-1 * var(--pf-v5-global--spacer--md));
}
