<!doctype html>
<html lang="en" data-ng-app="keycloak">

<head>
    <meta charset="utf-8">
    <title>Keycloak</title>

    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/admin.css" rel="stylesheet">
    <link href="css/admin-responsive.css" rel="stylesheet">

    <link href="css/styles.css" rel="stylesheet">

    <script src="lib/jquery/jquery-1.10.2.js"></script>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="lib/angular/ui-bootstrap-tpls-0.4.0.js"></script>

    <script src="/auth-server/rest/saas/isLoggedIn.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/loaders.js"></script>
    <script src="js/services.js"></script>
</head>

<body data-ng-controller="GlobalCtrl">

<div class="alert-container" data-ng-show="notification" data-ng-click="notification = null">
    <div class="alert alert-{{notification.type}}">{{notification.message}}</div>
</div>

<div id="wrap">
    <div data-ng-include data-src="'partials/menu.html'"></div>

    <div data-ng-view id="view" data-ng-hide="httpProviderError"></div>

    <div id="httpProviderError" data-ng-show="httpProviderError">
        <button class="btn btn-danger" data-ng-click="httpProviderError=null">
            <strong>Error</strong> {{httpProviderError}}
        </button>
    </div>

    <div id="loading">
        <i class="icon-spinner icon-spin"></i> Loading...
    </div>
</div>

</body>
</html>
