<?xml version="1.0" encoding="UTF-8"?>



<module xmlns="urn:jboss:module:1.1" name="org.keycloak.keycloak-core-jaxrs">
    <resources>
        <artifact name="${org.keycloak:keycloak-core-jaxrs}"/>
    </resources>
    <dependencies>
        <module name="org.keycloak.keycloak-core"/>
        <module name="org.codehaus.jackson.jackson-core-asl"/>
        <module name="org.codehaus.jackson.jackson-mapper-asl"/>
        <module name="org.codehaus.jackson.jackson-xc"/>
        <module name="javax.ws.rs.api"/>
        <module name="org.bouncycastle" />
        <module name="net.iharder.base64"/>
        <module name="javax.api"/>
    </dependencies>

</module>
