<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2016, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->

<module xmlns="urn:jboss:module:1.3" name="org.apache.activemq.artemis.journal">
    <resources>
        <resource-root path="lib"/>
        <resource-root path="artemis-commons-1.5.3.jbossorg-003.jar"/>
        <resource-root path="artemis-journal-1.5.3.jbossorg-003.jar"/>
        <resource-root path="artemis-native-1.5.3.jbossorg-003.jar"/>
    </resources>

    <dependencies>
        <!-- required for ARTEMIS-298 -->
        <module name="com.google.guava"/>
        <module name="javax.api"/>
        <module name="org.apache.commons.beanutils" />
        <!-- the journal module depends on org.apache.activemq.artemis so that
             Artemis's ClassLoadingUtil (from artemis-commons.jar) can load classes
              from the org.apache.activemq.artemis module) -->
        <module name="org.apache.activemq.artemis" />
        <module name="org.jboss.logging"/>
        <module name="io.netty"/>
        <!-- https://issues.jboss.org/browse/AS7-4936  this is to avoid an issue on IBM JDK -->
        <module name="sun.jdk"/>
    </dependencies>
</module>
