.keycloak__realm_selector_dropdown__toggle {
  --pf-v5-c-dropdown__toggle--Color: var(--pf-v5-c-nav__link--m-current--Color);
  --pf-v5-c-dropdown__toggle--BackgroundColor: var(
    --pf-v5-global--BackgroundColor--dark-100
  );
  --pf-v5-c-dropdown__toggle--before--BorderTopColor: var(
    --pf-v5-global--BorderColor--200
  );
  --pf-v5-c-dropdown__toggle--before--BorderRightColor: var(
    --pf-v5-global--BorderColor--200
  );
  --pf-v5-c-dropdown__toggle--before--BorderBottomColor: var(
    --pf-v5-global--BorderColor--100
  );
  --pf-v5-c-dropdown__toggle--before--BorderLeftColor: var(
    --pf-v5-global--BorderColor--200
  );
  width: 100%;
}

.keycloak__realm_selector__dropdown .pf-v5-c-dropdown__menu {
  min-width: 0;
  width: 15.125rem;

}
.keycloak__realm_selector__dropdown .pf-v5-c-dropdown__menu .pf-m-fill {
    overflow: hidden;
    text-overflow: ellipsis;
}

.pf-v5-c-context-selector.keycloak__realm_selector__context_selector {
  --pf-v5-c-context-selector__toggle--Color: var(--pf-v5-c-nav__link--m-current--Color);
}

.keycloak__realm_selector__dropdown {
  width: 100%;
}

.keycloak__realm_selector__list-item-split {
  width: 100%;
  text-align: left;
}

.pf-v5-c-nav__item.keycloak__page_nav__nav_item__realm-selector {
  margin-top: var(--pf-v5-c-nav__link--PaddingTop);
  padding-right: var(--pf-v5-c-nav__link--PaddingRight);
  margin-bottom: var(--pf-v5-c-nav__link--PaddingBottom);
  padding-left: var(--pf-v5-c-nav__link--PaddingLeft);
}
