<?xml version="1.0" encoding="UTF-8"?>



<module xmlns="urn:jboss:module:1.1" name="de.idyl.winzipaes">
    <resources>
        <artifact name="${de.idyl:winzipaes}"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="org.bouncycastle"/>
    </dependencies>

</module>
