<?xml version="1.0" encoding="UTF-8"?>



<module xmlns="urn:jboss:module:1.3" name="sun.jdk.jgss">
    <resources>
    </resources>
    <dependencies>
        <system export="true">
            <paths>
                <path name="sun/security/jgss" />
                <path name="sun/security/jgss/spi" />
                <path name="sun/security/jgss/krb5" />
            </paths>
        </system>
    </dependencies>

</module>