<?xml version="1.0" encoding="UTF-8"?>



<module xmlns="urn:jboss:module:1.1" name="org.keycloak.keycloak-connections-jpa">
    <resources>
        <artifact name="${org.keycloak:keycloak-connections-jpa}"/>
    </resources>
    <exports>
        <include path="META-INF/**"/>
    </exports>
    <dependencies>
        <module name="org.keycloak.keycloak-core"/>
        <module name="org.keycloak.keycloak-model-api"/>
        <module name="javax.persistence.api"/>
        <module name="org.jboss.logging"/>
        <module name="org.bouncycastle" />
        <module name="javax.api"/>
        <module name="org.hibernate" services="import"/>
        <module name="org.javassist"/>
    </dependencies>

</module>
