<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
    <form>
        <div>
            <label class="control-label" for="name">{{:: 'new-name' | translate}}</label>
            <input class="form-control" type="text" id="name" data-ng-model="name.value">
        </div>
        <div>
            <label class="control-label" for="name">{{:: 'new-description' | translate}}</label>
            <input class="form-control" type="text" id="description" data-ng-model="description.value">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{:: 'cancel' | translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">{{:: 'ok' | translate}}</button>
</div>