<div data-ng-controller="UserFederationTabCtrl">
    <h1 data-ng-hide="create">
        {{instance.displayName|capitalize}}
        <i class="pficon pficon-delete clickable" data-ng-show="!create && access.manageUsers" data-ng-click="removeUserFederation()"></i>
    </h1>
    <h1 data-ng-show="create">Add User Federation Provider</h1>

    <ul class="nav nav-tabs" data-ng-hide="create">
        <li ng-class="{active: !path[6]}"><a href="#/realms/{{realm.realm}}/user-federation/providers/{{instance.providerName}}/{{instance.id}}">Settings</a></li>
        <li ng-class="{active: path[6] == 'mappers'}"><a href="#/realms/{{realm.realm}}/user-federation/providers/{{instance.providerName}}/{{instance.id}}/mappers">Mappers</a></li>
    </ul>
</div>
