<div data-ng-controller="LDAPTabCtrl">
    <h1 data-ng-hide="create">
        {{instance.name|capitalize}}
        <i class="pficon pficon-delete clickable" data-ng-show="!create && access.manageUsers" data-ng-click="removeUserFederation()"></i>
    </h1>
    <h1 data-ng-show="create">{{:: 'add-user-federation-provider' | translate}}</h1>

    <ul class="nav nav-tabs" data-ng-hide="create">
        <li ng-class="{active: path[4] == 'ldap'}"><a href="#/realms/{{realm.realm}}/user-storage/providers/ldap/{{instance.id}}">{{:: 'settings' | translate}}</a></li>
        <li ng-class="{active: path[2] == 'ldap-mappers'}"><a href="#/realms/{{realm.realm}}/ldap-mappers/{{instance.id}}">{{:: 'mappers' | translate}}</a></li>
    </ul>
</div>
