@media (min-width: 768px) {
  .keycloak__policies_authentication__form .pf-v6-c-form__group {
    --pf-v6-c-form--m-horizontal__group-label--md--GridColumnWidth: 10rem;
  }
}
.keycloak__policies_authentication__minus-icon svg {
  color: var(--pf-v6-c-button--m-plain--Color);
}

.keycloak__policies_authentication__number-field {
  --pf-v6-c-number-input--c-form-control--Width: 10ch;
}