[defaults]
#log_path = ./ansible.log
host_key_checking=False
transport = ssh
forks = 50

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=yes -o StrictHostKeyChecking=no -o IdentitiesOnly=yes
