<?xml version="1.0" encoding="UTF-8"?>



<module xmlns="urn:jboss:module:1.1" name="org.keycloak.keycloak-invalidation-cache-infinispan">
    <resources>
        <artifact name="${org.keycloak:keycloak-invalidation-cache-infinispan}"/>
    </resources>
    <dependencies>
        <module name="org.keycloak.keycloak-core"/>
        <module name="org.keycloak.keycloak-model-api"/>
        <module name="org.keycloak.keycloak-invalidation-cache-model"/>
        <module name="org.keycloak.keycloak-connections-infinispan"/>
        <module name="org.infinispan"/>
        <module name="org.jboss.logging"/>
        <module name="javax.api"/>
    </dependencies>

</module>
