/* Welcome Page */

body {
  background: #f5f5f5;
}
.cards-pf {
  background: #f5f5f5;
}
.card-pf .row-cards-pf:first-child {
  padding-top: 0px;
}
.cards-pf .row-cards-pf {
  padding: 0 20px;
}
p.description {
  font-size: 14px;
  margin: 10px auto 20px;
  max-width: 60%;
  padding: 0 10px;
  text-align: center;
}
.card-pf-content-intro {
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;
}
.card-pf-content h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;
}
.card-pf-content h3:last-child {
  border-bottom: 0;
}

.btn-sign {
  margin-top: 10px;
}

.layout-pf-alt.layout-pf-alt-fixed .container-pf-alt-nav-pf-vertical-alt {
    margin-left: 210px;
}

.nav .nav-item-iconic {
  color: #d1d1d1;
}

.content-area {
  padding: 30px 30px 20px;
  background: #ffffff;
  margin-bottom: 10px;
}

/*Responsive Design*/
@media (max-width: 767px) {
  body {
    background: #fff;
  }

  .cards-pf {
    background: #ffffff;
  }
  .cards-pf .row-cards-pf {
    padding: 0;
  }

  .card-pf {
    margin: 0;
    background: #ffffff !important;
    box-shadow: 0 0 0;
    border-bottom: 1px solid #f5f5f5;
    border-top: 0;
  }
  .card-pf-body  {
    padding-bottom: 5px;
  }
  .card-pf-view.card-pf-view-select:hover {
    box-shadow: 0 0 0;
  }
  .cards-pf .row-cards-pf:first-child {
    padding-top: 0;
  }
  .container-cards-pf {
    margin-top: 0;
  }
  .col-xs-12,
  .col-sm-4,
  .col-md-4,
  .col-lg-3,
  .container-cards-pf {
    padding-left: 0;
    padding-right: 0;
  }
  #welcomeScreen .text-center h1,
  #welcomeScreen .card-pf-body hr{
    display: none;
  }
  .card-pf-view .card-pf-top-element .card-pf-icon-circle {
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 26px;
  }
  .card-pf-content-intro {
    border-bottom: 0;
  }
  .card-pf-content p {
    padding-bottom: 5px;
  }
  .card-pf-content h3 {
    border-bottom: 0;
    margin-top: 5px;
  }
  .card-pf-content {
    text-align: left;
    margin-top: -20px;
  }
  .card-pf-content h2 {
    font-size: 16px;
    font-weight: bold;
  }
  .card-pf-content h3{
    font-size: 14px;
    padding-bottom: 0;
  }
  .page-header {
    background: #f5f5f5;
    margin-top: 0;
    margin-left: -20px;
    margin-right: -20px;
  }
  .page-header h1 {
    margin-top: 0;
    line-height: 30px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 18px;
  }
  .password-update {
    margin-left: -20px;
    margin-right: -20px;
    border-bottom: solid 10px #f5f5f5;
  }
  .content-area {
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
  }


}

@media (min-width: 768px) {
  .cards-pf .row-cards-pf {
    padding: 0;
  }
  .container-cards-pf {
    margin-top: 0;
  }
}

/* personal Info Style */
.subtitle {
  color: #4d5258;
  font-size: 12px;
  margin-bottom: 10px;
}

.content-area .required{
  color: #cc0000;
}

.page-header {
  border-bottom: 0;
}

.non-edit {
  border: 1px solid #bbb;
  padding: 3px 10px;
  background-color: #f5f5f5;
}

/* Introduction Message on the left */
.introMessage {
    margin: 10px 20px 20px 0;

/* Device Activity */
.card-title{
	margin-left: 20px;
	margin-bottom: 30px;
}
.detail-description{
	margin-top:-10px;
}
.list-view-pf-view {
	margin-top: 0;
}
.m-l{
	margin-left: 20px;
}
.activity-item {
	padding-left: 60px;
}
.activity-item ul {
	list-style: none;
}
.activity-item h3 .fa {
	margin-left: -30px;
	margin-right: 5px;
	font-size: 20px;
}
.btn-logout {
	margin-left: 40px;
	margin-bottom: 20px;
	margin-top: 5px;
}
.list-view-pf .current-color {
	font-weight: bold;
	color: #4F9207!important;
}
