/* Welcome Page */

body {
  background: #f5f5f5;
}

p.description {
  font-size: 14px;
  margin: 10px auto 20px;
  max-width: 60%;
  padding: 0 10px;
  text-align: center;
}

.btn-sign {
  margin-top: 10px;
}

.layout-pf-alt.layout-pf-alt-fixed .container-pf-alt-nav-pf-vertical-alt {
    margin-left: 210px;
}

.nav .nav-item-iconic {
  color: #d1d1d1;
}

.content-area {
  padding: 30px 30px 20px;
  background: #ffffff;
  font-size: 13px;
}

/* personal Info Style */
.subtitle {
  color: #4d5258;
  font-size: 12px;
}

.content-area .required{
  color: #cc0000;
}

.page-header {
  border-bottom: 0;
}
