/* Welcome Page */

body {
  background: #f5f5f5;
}
.layout-pf-alt.layout-pf-alt-fixed body {
  padding-top: 55px;
}
.cards-pf {
  background: #f5f5f5;
}
.card-pf {
  margin: 0 0 20px;
}
.card-pf .row-cards-pf:first-child {
  padding-top: 0px;
}
.cards-pf .row-cards-pf {
  padding: 0 20px;
}
.card-pf-title {
  margin: 0 0 20px;
}
p.description {
  font-size: 14px;
  margin: 10px auto 20px;
  max-width: 60%;
  padding: 0 10px;
  text-align: center;
}
.card-pf-content-intro {
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;
}
.card-pf-content h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;
}
.card-pf-content h3:last-child {
  border-bottom: 0;
}

.btn-sign {
  margin-top: 10px;
}

.layout-pf-alt.layout-pf-alt-fixed .container-pf-alt-nav-pf-vertical-alt {
    margin-left: 210px;
}

.nav .nav-item-iconic {
  color: #d1d1d1;
}

.content-area {
  padding: 30px 30px 20px;
  background: #ffffff;
  margin-bottom: 10px;
}
.row {
  margin-left: -20px;
  margin-right: -20px;
}

/*Responsive Design*/
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .cards-pf {
    background: #ffffff;
  }
  .cards-pf .row-cards-pf {
    padding: 0;
  }

  .card-pf {
    margin: 0 0 10px;
    background: #ffffff !important;
    box-shadow: 0 0 0;
    border-bottom: 1px solid #f5f5f5;
    border-top: 0;
    padding: 0;
  }
  .card-pf-body {
    padding: 20px 20px 10px;
    margin-top: 0;
  }
  .card-pf-view.card-pf-view-select:hover {
    box-shadow: 0 0 0;
  }
  .cards-pf .row-cards-pf:first-child {
    padding-top: 0;
  }
  .container-cards-pf {
    margin-top: 0;
  }
  .col-xs-12,
  .col-xs-2,
  .col-xs-10,
  .col-sm-12,
  .col-sm-4,
  .col-md-4,
  .col-md-8,
  .col-lg-3,
  .container-cards-pf {
    padding-left: 0;
    padding-right: 0;
  }
  #welcomeScreen .text-center h1,
  #welcomeScreen .card-pf-body hr{
    display: none;
  }
  .card-pf-view .card-pf-top-element .card-pf-icon-circle {
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 26px;
    margin-top: -8px;
  }
  .card-pf-content-intro {
    border-bottom: 0;
  }
  .card-pf-content p {
    padding-bottom: 5px;
  }
  .card-pf-content h3 {
    border-bottom: 0;
    margin-top: 5px;
  }
  .card-pf-content {
    text-align: left;
    margin-top: -20px;
  }
  .card-pf-content h2 {
    font-size: 16px;
    font-weight: bold;
  }
  .card-pf-content h3{
    font-size: 14px;
    padding-bottom: 0;
  }
  .page-header {
    background: #f5f5f5;
    margin: 0;
  }
  .page-header h1 {
    margin-top: 0;
    line-height: 30px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 18px;
  }
  .content-area {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .list-view-pf-view {
    margin-top: 0;
  }
  .list-view-pf-main-info {
    padding-bottom: 10px;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .pull-right-sm {
    float: none !important;
    margin-bottom: 10px;
  }
  .p-b {
    padding-bottom: 20px;
  }

}

@media (min-width: 768px) {
  .cards-pf .row-cards-pf {
    padding: 0;
  }
  .container-cards-pf {
    margin-top: 0;
  }
}

/* personal Info Style */
.subtitle {
  color: #4d5258;
  font-size: 12px;
  margin-bottom: 10px;
}

.content-area .required{
  color: #cc0000;
}

.page-header {
  border-bottom: 0;
}

.non-edit {
  border: 1px solid #bbb;
  padding: 3px 10px;
  background-color: #f5f5f5;
}

/* Introduction Message on the left */
.introMessage {
    margin: 10px 20px 20px 0;
}

/* Device Activity */

.card-title {
	margin-left: 20px;
	margin-bottom: 30px;
}
.detail-description {
	margin-top:-10px;
}
.list-view-pf-view {
	margin-top: 0;
}
.m-l {
	margin-left: 20px;
}
.block-box {
  margin-left: 0;
  display: block;
}
.activity-item {
	padding-left: 60px;
}
.activity-item ul {
	list-style: none;
}
.activity-item h3 .fa {
	margin-left: -30px;
	margin-right: 5px;
	font-size: 20px;
}
.btn-logout {
	margin-left: 40px;
	margin-bottom: 20px;
	margin-top: 5px;
}
.list-view-pf .current-color {
	font-weight: bold;
	color: #4F9207!important;
}
.list-view-pf .list-group-item.list-view-pf-expand-active,
.list-view-pf .list-group-item.list-view-pf-expand-active:first-child {
  border-top-color: #d8d8d8;
  border: solid 1px #d8d8d8;
}
.list-group-item-container {
  border-top: solid 1px #d8d8d8;
}

/* Responsive Design for Devices Activiy*/
@media (max-width: 767px) {
  .activity-item {
    padding-left: 0;
  }
  .list-group-item-header {
    padding: 0;
  }
  .list-view-pf .list-group-item.list-view-pf-expand-active {
    margin-left: -21px;
    margin-right: -21px;
  }
  .list-view-pf .list-group-item.list-view-pf-expand-active .list-group-item-header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .list-group {
    margin-bottom: 0;
  }
  .list-view-pf .list-group-item:last-child {
    border-bottom: 0;
  }
  .list-group-item-container {
    padding-left: 5px;
    padding-right: 25px;
  }
}


/* Application Style */
.card-pf-application {
  padding: 0;
}
.card-pf-application .card-pf-body {
  padding-bottom: 0;
}
.card-pf-application .toolbar-pf {
  margin: 0;
  border-bottom: 0;
}
#toolbar-application-mobile {
  display: none;
}
.card-pf-application .close {
  position: absolute;
  right: 10px;
}
/* Linked  Style */
.list-view-pf-additional-info .fa-user {
  margin-right: 5px;
}
.card-linked-account .list-view-pf .list-group-item-heading {
    flex: 1 0 calc(40% - 20px);
}
.card-linked-account .list-view-pf-additional-info {
    width: 10%ï¼›
}
.card-linked-account .list-view-pf .list-group-item-text {
    width: calc(45% - 40px);
}
/*resource*/
.m-t {
	margin-top: 20px;
}
.list-view-pf .list-group-item {
	border-bottom: 1px solid #ededed;
}
.list-view-resources .list-view-pf-additional-info-item .pficon {
	margin-right: 0;
	color: #fff;
	font-size: 12px;
	margin-left: 5px;
}
.list-view-resources .list-view-pf-additional-info-item-lg {
	width: 45%;
}
.pfng-list-heading .list-view-pf-main-info {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 600;
	font-size: 13px;
}
.list-view-resources .list-view-pf-actions {
	width: 75px;
	height: 10px;
}
.pfng-list-heading .list-view-pf-additional-info {
	font-size: 12px;
	font-weight: 600;
}
.list-view-resources .list-view-pf-description {
	width: 35%;
}
.list-view-shared .list-view-pf-description {
	width: 30%;
}
.list-view-shared .list-view-pf-actions {
	width: 20px;
	height: 10px;
}
.list-view-detail .list-view-pf-actions {
	width: 90px;
}
.list-view-detail .list-view-master-actions {
	width: 105px;
}
.list-view-detail .list-view-space {
  width: 20px;
}
.list-view-resources .list-view-pf-status {
	width: auto;
}
.list-view-pf-additional-info-item {
	text-align: left;
}
.list-view-resources .list-view-pf-stacked .list-group-item-heading {
    font-size: 13px;
}
.list-view-resources .content-view-pf-pagination {
	border: none;
  background-color: #fff;
}
.resources-header {
	margin-bottom: 20px;
}
.resources-header .fa-file {
	font-size: 60px;
	float: left;
	margin-right: 20px;
}
.resources-info span {
	border-right: 1px solid #cccccc;
	padding-right: 20px;
	margin-right: 20px;
}
.resources-info span:last-child {
	border-right: 0px solid #cccccc;
}
.resources-actions {
	float: right;
	margin-top: -35px;
}
.resources-actions button {
	margin-right: 10px;
}
.list-view-master-actions {
	margin-top: 6px;
}
.permission-requests-labels ul {
  margin-bottom: 0;
}
.permission-requests-labels li {
	margin-bottom: 5px;
	margin-top: 5px;
}
.permission-requests-labels .label-info {
	background-color: #4A90E2;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 20px;
}
.permission-requests-labels .pficon-close {
  color:#fff;
}
.my-requests-labels .label-info {
	background-color: #15B692;
}
.modal-title span {
	font-weight: normal;
}
.resource-share-content {
	margin-top: 20px;
}
.resources-list .nav-tabs {
  margin-left: 20px;
}
.resources-list .content-view-pf-pagination {
  margin-bottom: -20px;
}
.breadcrumb {
    padding: 20px 15px 20px 0;
}
.resource-list-label {
  display: none;
}
.resources-list .card-pf-body {
  padding: 0;
}
@media (max-width: 767px) {
  .no-paddding-re {
    padding: 0;
  }
  .permission-requests-labels .m-b-s {
    margin-bottom: 10px;
  }
  .no-paddding-re .label-warning {
    margin-top: 10px;
  }
  .resource-list-label {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 5px;
  }
  .list-responsive-padding {
    padding-left: 20px;
    overflow: auto;
  }
  .list-view-pf .list-group-item {
    padding-bottom: 10px;
  }
  .pfng-list-heading.list-group-item {
    padding-bottom: 0px;
  }
  .list-view-resources .list-view-pf-stacked .list-group-item-heading {
      font-size: 16px;
      margin-bottom: 10px;
  }
  .list-view-pf-stacked .list-group-item-heading {
    margin-right: 10px;
  }
  .resources-info span {
    border: none;
    display: block;
    width: 100%;
  }
  .resources-info span label {
    margin-bottom: 0;
  }
  .list-view-pf .list-head-labels {
    display: none;
  }
  .list-head-label{
    display: none;
  }
  .card-pf-application h2 {
    margin-top: -10px;
  }
  .card-linked-account .card-pf-body {
    padding-left: 0;
    padding-right: 0;
  }
  .card-linked-account .list-group-item {
    padding: 10px 0;
  }
  .card-linked-account .list-view-pf-additional-info {
    margin-top: 20px;
  }
  .card-pf-application h2 a {
    text-decoration: none;
  }
  .card-pf-application .list-group-item-container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
  }
  .card-pf-application .form-horizontal {
    margin-bottom: 10px;
  }
  #toolbar-application-mobile {
    display: block;
  }
  #toolbar-application {
    display: none;
  }
  .non-display {
    display: none;
  }
  .breadcrumb {
    padding: 20px 15px 0px 20px;
  }
  .resources-header {
    padding: 20px 20px 0 20px;
    margin-bottom: 0px;
  }
  .resources-header .fa-file {
    font-size: 50px;
  }
  .resources-list .card-pf-body {
    padding: 0;
  }
  .resources-list .nav-tabs {
    margin-top: 10px;
  }
  .margin-bottom-none{
    padding-bottom: 0;
  }
}

/* authenticator style */
.list-pf {
    border-bottom: 0;
}
.list-authenticator {
    margin: 0 0 30px 0;
}
.list-authenticator-item {
    border-color: #ededed;
    border-left-color: #fff;
    border-right-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-top: none;
}
.list-authenticator .list-pf-icon {
  font-size: 1.8em;
  height: 20px;
  line-height: 30px;
  width: 10px;
  align-items: normal;
}
.list-authenticator .list-pf-title {
  font-size: 15px;
  font-weight: 600;
}
.top-margin-m {
    margin-top: 16px;
}
.authenticator-entry {
    font-size: 14px;
}
.authenticator-label {
    font-size: 75%;
    margin-left: 4px;
}
ol.setup-message li {
  margin: 10px 0;
}
ol.setup-message li ul li {
  margin: 5px 0;
}
.qrcode-code {
  display: none;
}
.link-right {
    text-align: right;
    margin-top: 6px;
    margin-bottom: 10px;
}
@media (max-width: 767px) {
  .qrcode-img {
    display: none;
  }
  .qrcode-code {
    display: block;
    margin-bottom: 20px;
  }
}


/* backup codes setup style*/
.backup-codes-box {
  background-color: #fdf2e5;
  border: 1px solid #ccc;
  border-radius: 1px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-top: 8px;
  max-width: 320px;
}

.backup-codes-box-body {
  font-size: 14px;
  margin-left: 24px;
  margin-top: 12px;
}
.backup-codes-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  counter-reset: list;
  list-style: none;
  padding-left: 0px;
}
.backup-codes-list > li:before {
  content: counter(list)". ";
  color: lightgrey;
  counter-increment: list;
  display: inline-block;
  width: 28px;
  margin-left: -16px;
  margin-right: 12px;
  text-align: right;
}
.left-padding-m {
  padding-left: 16px;
}
.generate-annotation {
  max-width: 320px;
  margin-top: 12px;
}
.header-text {
  margin-left: 24px;
  margin-bottom: 8px;
}
