/*.card-pf-view .card-pf-top-element .app-icon {
  display: block;
  font-size: 46px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  width: 40px;
}*/

/*
.col-lg-2 .card-pf-view .card-pf-top-element .card-pf-small-icon-circle {
  font-size: 23px;
  height: 54px;
  line-height: 50px;
  width: 54px;
}*/