<div class="cards-pf">
    <div><h1 class="text-center">Welcome to Keycloak Account Management</h1></div>
    <div class="container-fluid container-cards-pf">
        <div class="row row-cards-pf">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
                    <div class="card-pf-body">
                        <div class="card-pf-top-element">
                            <span class="fa pficon-user card-pf-icon-circle"></span>
                        </div>
                        <h2 class="card-pf-title text-center">
                            Personal Info
                        </h2>
                        <h3 class="card-pf-info text-center">
                            More stuff goes here
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
                    <div class="card-pf-body">
                        <div class="card-pf-top-element">
                            <span class="fa fa-shield card-pf-icon-circle"></span>
                        </div>
                        <h2 class="card-pf-title text-center">
                            Account Security
                        </h2>
                        <h3 class="card-pf-info text-center">
                            More stuff goes here
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
                    <div class="card-pf-body">
                        <div class="card-pf-top-element">
                            <span class="fa fa-th card-pf-icon-circle"></span>
                        </div>
                        <h2 class="card-pf-title text-center">
                            Applications
                        </h2>
                        <h3 class="card-pf-info text-center">
                            More stuff goes here
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
                    <div class="card-pf-body">
                        <div class="card-pf-top-element">
                            <span class="fa pficon-repository card-pf-icon-circle"></span>
                        </div>
                        <h2 class="card-pf-title text-center">
                            My Resources
                        </h2>
                        <h3 class="card-pf-info text-center">
                            More stuff goes here
                        </h3>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>