.navbar .navbar-header .navbar-brand {
    width:154px; 
    height:37px; 
    margin: 5px 0px 5px 20px;
    background: url('../img/keycloak-logo.png') no-repeat;
}

.navbar .navbar-header .navbar-brand span{
    display:none
}
