.keycloak_groups_treeview .pf-v5-c-tree-view__node-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.keycloak-groups-tree__non-viewable {
  color: var(--pf-v5-global--Color--200);
  cursor: default;
}