.keycloak_groups_treeview .pf-v6-c-tree-view__node-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.keycloak-groups-tree__non-viewable {
  color: var(--pf-t--global--text--color--subtle);
  cursor: default;
}