<div class="navbar-header">
<a class="navbar-brand" href="/auth/admin">
  <img src="{{resourceUrl}}/img/brand.svg" alt="Red Hat&reg; JBoss&reg; Identity and Access Management" />
</a>
</div>
<div class="collapse navbar-collapse navbar-collapse-1">
<ul class="nav navbar-nav navbar-utility">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <span class="pficon pficon-user"></span>
      {{auth.user.displayName|capitalize}} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{authUrl}}/realms/{{auth.user.realm}}/account?referrer=security-admin-console">Manage Account</a></li>
        <li class="divider"></li>
        <li><a href="" ng-click="auth.authz.logout()">Sign Out</a></li>
    </ul>
  </li>
</ul>
<ul class="nav navbar-nav navbar-primary">
  <li ng-class="homeClass">
    <a href ng-class="homeClass" ng-click="menuGoHome()">Home</a>
  </li>
  <li ng-class="serverInfoClass">
    <a href ng-class="serverInfoClass" ng-click="menuGoServerInfo()">Server Info</a>
  </li>
</ul>
</div>
