.keycloak__scopes_evaluate__clipboard-copy input {
  display: none;
}

.keycloak__scopes_evaluate__tabs {
  padding-top: var(--pf-v6-global--spacer--2xl);
}

#tabs .pf-v6-c-tabs__list {
  max-width: 300px;
}
