.keycloak-admin--groups__member-count {
  display: flex;
  align-items: center;
}

.keycloak-admin--groups__member-count svg {
  color: var(--pf-t--global--text--color--subtle);
  font-size: var(--pf-t--global--font--size--md);
  margin-right: var(--pf-t--global--spacer--sm);
}

.keycloak-admin--groups__section {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  height: 100vh;
}
