<footer class="footer">
    <p>This page was built using <a href="https://antora.org/" rel="nofollow">Antora</a> - © 2013-2022 The individual contributors. Released under the Apache License, Version 2.0 - <a href="https://github.com/keycloak/keycloak" rel="nofollow">GitHub</a> </p>
</footer>
