<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center pt-2 mt-3 pb-3">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted me-3">Sponsored by</span>
            <a href="http://www.redhat.com/" target="_blank" class="">
                <img alt="Red Hat" src="https://www.keycloak.org/resources/images/Logo-RedHat-A-Standard-RGB.svg" width="100">
            </a>
        </div>
    </footer>
</div>