<header class="navbar navbar-expand-md bg-light shadow-sm">
<nav class="container-xxl flex-wrap flex-md-no-wrap navbar-light">
    <a class="navbar-brand me-5" href="https://www.keycloak.org/">
        <img class="img-fluid" src="https://www.keycloak.org/resources/images/keycloak_logo_200px.svg" width="240" alt="Keycloak"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars fa-lg px-1 py-2"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link " href="https://www.keycloak.org/guides">Guides</a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link " href="https://www.keycloak.org/documentation">Docs</a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link " href="https://www.keycloak.org/downloads">Downloads</a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link " href="https://www.keycloak.org/community">Community</a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link " href="https://www.keycloak.org/blog">Blog</a>
        </li>
          {{#if env.SITE_SEARCH_PROVIDER}}
              <li class="nav-item col-6 col-md-auto">
                  <div id="search-field" class="field nav-link">
                      <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
                      <label class="filter checkbox">
                          <input type="checkbox" data-facet-filter="component:{{page.component.name}}"> In this guide
                      </label>
                  </div>
              </li>
          {{/if}}

      </ul>
    </div>
</nav>
</header>