.keycloak_eventsection_details {
  --pf-c-description-list--m-horizontal__term--width: 15ch;
}

.keycloak__events_search__form {
  --pf-c-form--m-horizontal__group-control--md--GridColumnWidth: 24rem;
  margin: 0 var(--pf-global--spacer--lg) var(--pf-global--spacer--lg)
    var(--pf-global--spacer--lg);
  --pf-c-form__group--m-action--MarginTop: 0rem;
  --pf-c-form--m-horizontal__group-label--md--GridColumnWidth: 5rem;
}

.keycloak__events_search__form_label {
  --pf-c-form--m-horizontal__group-label--md--GridColumnWidth: 5rem;
  line-height: 0px;
}

.keycloak__events_search__type_select .pf-c-select__menu {
  max-height: 200px;
  overflow: auto;
}
