@import "@patternfly/patternfly/patternfly.min.css";
@import "@patternfly/patternfly/patternfly-addons.css";

.keycloak__pageheader_brand {
  height: 35px;
}

.keycloak__form {
  max-width: 1024px;
}

label.pf-c-form__label {
  display: inline-flex;
}

.pf-c-form__group-label {
  display: flex;
  align-items: end;
}

.keycloak__form_actions {
  position: fixed;
  bottom: 0px;
  background-color: var(--pf-c-page__main-section--m-light--BackgroundColor);
  padding-top: var(--pf-global--spacer--md);
  padding-bottom: var(--pf-global--spacer--sm);
  padding-left: var(--pf-global--spacer--md);
  width: 100%;
  border-top: 1px solid var(--pf-global--BorderColor--100);
  margin-left: calc(-1 * var(--pf-global--spacer--lg));
}
