<?xml version='1.0' encoding='UTF-8'?>
<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright (c) 2011, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->
<module xmlns="urn:jboss:module:1.5" name="org.jboss.genericjms">
    <resources>
       <resource-root path="."/>
        <resource-root path="generic-jms-ra-jar-2.0.0.Alpha2.jar"/>
    </resources>
    <dependencies>
        <module name="javax.api" slot="main"/>
        <!-- WFLY-4656 export the JMS API module,  otherwise MDB using this RA will not found JMS classes -->
        <module name="javax.jms.api" slot="main" export="true"/>
        <module name="javax.resource.api" slot="main"/>
        <module name="org.jboss.logging" slot="main"/>

        <!--
             This module is used to provide the provider-specific classes
             containing the JMS implementation (and any of their dependencies)
             used by the generic JMS resource adapter
        -->
        <module name="org.jboss.genericjms.provider" slot="main" optional="true"/>
    </dependencies>
</module>
