<div id="wrapper" class="container">
    <div class="row">
        <aside class="span3" data-ng-include data-src="'partials/application-menu.html'"></aside>
        <div id="actions-bg"></div>

        <div id="container-right" class="span9">
            <h1 data-ng-show="create"><span class="gray">New Application</span></h1>

            <h1 data-ng-hide="create">
                <span class="gray">Application Settings</span>
            </h1>

            <div data-ng-show="applicationForm.showErrors && applicationForm.$error.required" class="alert alert-error">Please fill
                in all required fields
            </div>
            <p class="subtitle subtitle-right"><span class="required">*</span> Required fields</p>

            <form class="form-horizontal" name="applicationForm" novalidate>
                <fieldset>
                    <legend>Settings</legend>

                    <div data-kc-input>
                        <label>Name</label>
                        <input class="input-xlarge" type="text" name="name" data-ng-model="application.name" autofocus
                               required>
                    </div>

                    <div data-kc-input>
                        <label>Enabled</label>
                        <input class="input-xlarge" type="checkbox" name="enabled" data-ng-model="application.enabled">
                    </div>

                   <div data-kc-input>
                        <label>User registration</label>
                        <input class="input-xlarge" type="checkbox" name="social"
                               data-ng-model="application.userRegistration">
                    </div>

                    <div class="control-group">
                        <label for="applicationForm-adminUrl" class="control-label">Admin URL</label>

                        <div class="controls">
                            <input class="input-small" type="text" name="adminUrl"
                                   data-ng-model="application.adminUrl">
                         </div>
                    </div>
                </fieldset>
                <div class="form-actions" data-ng-show="create">
                    <button type="submit" data-ng-click="save()" class="btn btn-primary" data-ng-show="changed">Save
                    </button>
                    <button type="submit" data-ng-click="cancel()" class="btn" data-ng-click="cancel()"
                            data-ng-show="changed">Cancel
                    </button>
                </div>

                <div class="form-actions" data-ng-show="!create">
                    <button type="submit" data-ng-click="save()" class="btn btn-primary" data-ng-show="changed">Save
                        changes
                    </button>
                    <button type="submit" data-ng-click="reset()" class="btn" data-ng-show="changed">Clear changes
                    </button>
                    <button type="submit" data-ng-click="remove()" class="btn btn-danger" data-ng-hide="changed">
                        Delete
                    </button>
                </div>

            </form>
        </div>
        <div id="container-right-bg"></div>
    </div>
</div>