<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse">
                <nav id="global-nav">
                    <ul class="nav">
                        <li class="divider-vertical-left" data-ng-class="path[0] == '' && 'active'"><a href="#">Home</a>
                        </li>
                        <li class="divider-vertical-left" data-ng-class="path[0] == 'applications' && 'active'"
                            data-ng-show="auth.loggedIn"><a href="#/applications">Applications</a></li>
                        <li class="divider-vertical-left" data-ng-class="path[0] == 'realms' && 'active'"
                            data-ng-show="auth.loggedIn"><a href="#/realms">Realms</a></li>
                    </ul>
                    <ul class="nav pull-right" data-ng-hide="auth.loggedIn">
                        <li><a href="/auth-server/saas/saas-login.jsp">Login</a></li>
                        <li><a href="/ejs-identity/api/register/system">Register</a></li>
                    </ul>
                    <ul class="nav pull-right" data-ng-show="auth.loggedIn">
                        <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#"><i
                                class="icon-user icon-gray"></i> {{auth.user.displayName}} <i class="caret"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/auth-server/rest/saas/logout" >Sign Out</a></li>  <!--data-ng-click="auth.logout()" -->
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>