<div data-ng-hide="createRealm">
    <nav id="local-nav">
        <ul class="nav nav-list">
            <li data-ng-class="!path[2] && 'active'"><a href="#/realms/{{realm.id}}">Realm Settings</a>
            </li>
            <li data-ng-class="path[2] == 'users' && 'active'"><a href="#/realms/{{realm.id}}/users">Realm Users</a>
            </li>
            <li data-ng-class="path[2] == 'roles' && 'active'"><a href="#/realms/{{realm.id}}/roles">Realm Roles</a></li>
        </ul>
    </nav>
</div>