<div id="wrapper" class="container">
    <div class="row">
        <div class="bs-sidebar col-md-3 clearfix" data-ng-include data-src="'partials/realm-menu.html'"></div>
        <div id="content-area" class="col-md-9" role="main">
            <div class="top-nav" data-ng-hide="createRealm">
                <ul class="rcue-tabs">
                    <li class="active"><a href="#">Users</a></li>
                    <li><a href="#/create/user/{{realm.id}}">New User</a></li>
                </ul>
            </div>
            <div id="content">
                <h2 class="pull-left">Query Users</h2>
                <table>
                    <caption>Table of realm users</caption>
                    <thead>
                    <tr>
                        <th class="rcue-table-actions" colspan="4">
                            <div class="search-comp clearfix">
                                <input type="text" placeholder="Search..." data-ng-model="search" class="search">
                                <button data-ng-click="searchQuery()"
                                        class="icon-search tooltipRightTrigger"
                                        data-original-title="Search by full name, last name, email, or username.">
                                    Icon: search
                                </button>
                            </div>
                        </th>
                    </tr>
                    <tr>
                    <tr>
                        <th>Username</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email</th>
                    </tr>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <div class="table-nav">
                                <a href="#" class="first disabled">First page</a><a href="#" class="prev disabled">Previous
                                page</a><span><strong>1-8</strong> of <strong>10</strong></span><a href="#"
                                                                                                   class="next">Next
                                page</a><a href="#" class="last">Last page</a>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                    <tbody class="selectable-rows">
                    <tr ng-repeat="user in users">
                        <td><a href="#/realms/{{realm.id}}/users/{{user.username}}">{{user.username}}</a></td>
                        <td>{{user.lastName</td>
                        <td>{{user.firstName</td>
                        <td>{{user.email</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="container-right-bg"></div>
    </div>
</div>