.pf-v5-c-background-image {
  /* Change background size so that the image covers the entire background. */
  --pf-v5-c-background-image--BackgroundSize: cover;
}

.pf-v5-c-login__container {
  /* Change the grid layout so that the header is always above the main area. */
  grid-template-areas: "header" "main";
  --pf-v5-c-login__container--xl--GridTemplateColumns: minmax(auto, 34rem);
}

.kc-brand {
    height: 63px;
    width: 300px;
    display: block;
    margin: 0 auto;
}