    <fieldset class="border-top">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="username">Username</label>
            <div class="col-sm-4">
                <input ng-model="claims.username" name="username" id="username" onoffswitch />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="claimName">Name</label>
            <div class="col-sm-4">
                <input ng-model="claims.name" name="claimName" id="claimName" onoffswitch />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="email">Email</label>
            <div class="col-sm-4">
                <input ng-model="claims.email" name="email" id="email" onoffswitch />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="gender">Gender</label>
            <div class="col-sm-4">
                <input ng-model="claims.gender" name="gender" id="gender" onoffswitch />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="address">Address</label>
            <div class="col-sm-4">
                <input ng-model="claims.address" name="address" id="address" onoffswitch />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="locale">Locale</label>
            <div class="col-sm-4">
                <input ng-model="claims.locale" name="locale" id="locale" onoffswitch />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="phone">Phone</label>
            <div class="col-sm-4">
                <input ng-model="claims.phone" name="phone" id="phone" onoffswitch />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="profile">Profile URL</label>
            <div class="col-sm-4">
                <input ng-model="claims.profile" name="profile" id="profile" onoffswitch />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="picture">Picture URL</label>
            <div class="col-sm-4">
                <input ng-model="claims.picture" name="picture" id="picture" onoffswitch />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="website">Website</label>
            <div class="col-sm-4">
                <input ng-model="claims.website" name="website" id="website" onoffswitch />
            </div>
        </div>
    </fieldset>