<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">

    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/clients">Clients</a></li>
        <li>{{client.clientId}}</li>
    </ol>

    <h1><strong>Client</strong> {{client.clientId|capitalize}}</h1>

    <kc-tabs-client></kc-tabs-client>

    <form class="form-horizontal" name="credentialForm" novalidate kc-read-only="!access.manageRealm">
        <fieldset class="border-top">
            <div class="form-group">
                <label class="col-md-2 control-label" for="notBefore">Not Before</label>
                <div class="col-md-6">
                    <input ng-disabled="true" class="form-control" type="text" id="notBefore" name="notBefore" data-ng-model="notBefore" autofocus>
                </div>
                <kc-tooltip>Revoke any tokens issued before this date for this client.</kc-tooltip>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2" data-ng-show="access.manageClients">
                <button type="submit" data-ng-click="clear()" class="btn btn-default">Clear</button>
                <button type="submit" data-ng-click="setNotBeforeNow()" class="btn btn-default">Set To Now</button>
                <button type="submit" data-ng-click="pushRevocation()" class="btn btn-primary" tooltip="If admin URL is configured for this client, push this policy to that client." tooltip-placement="bottom">Push</button>
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>
