<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">

    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/clients">Clients</a></li>
        <li>{{client.clientId}}</li>
    </ol>

    <kc-tabs-client></kc-tabs-client>

    <form class="form-horizontal" name="keyForm" novalidate kc-read-only="!access.manageClients">
        <fieldset class="form-group col-sm-10">
            <legend uncollapsed><span class="text">Client Certificate</span>  <kc-tooltip>Client Certificate for validate JWT issued by client and signed by Client private key from your keystore.</kc-tooltip></legend>
            <div class="form-group" data-ng-hide="!signingKeyInfo.certificate">
                <label class="col-md-2 control-label" for="signingCert">Certificate</label>

                <div class="col-sm-10">
                    <textarea type="text" id="signingCert" name="signingCert" class="form-control" rows="5"
                              kc-select-action="click" readonly>{{signingKeyInfo.certificate}}</textarea>
                </div>
            </div>
            <div class="form-group" data-ng-show="!signingKeyInfo.certificate">
                <label class="col-md-4 control-label" for="signingCert">Client Certificate not yet generated or imported!</label>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2" data-ng-show="access.manageClients">
                    <button class="btn btn-default" type="submit" data-ng-click="generateSigningKey()">Generate new keys and certificate</button>
                    <button class="btn btn-default" type="submit" data-ng-click="importCertificate()">Import certificate</button>
                    <button class="btn btn-default" type="buttin" data-ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>

</div>

<kc-menu></kc-menu>