<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">

    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/clients">Clients</a></li>
        <li>{{client.clientId}}</li>
    </ol>

    <h1>{{client.clientId|capitalize}}</h1>

    <kc-tabs-client></kc-tabs-client>

    <h2><span>{{client.clientId}}</span> Service Accounts </h2>
    <p class="subtitle"></p>
    <form class="form-horizontal" name="serviceAccountsEnabledForm" novalidate kc-read-only="!access.manageClients">
        <fieldset class="border-top">
            <div class="form-group">
                <label class="col-md-2 control-label" for="serviceAccountsEnabled">Service Accounts Enabled</label>
                <kc-tooltip>Allows you to authenticate this client to Keycloak and retrieve access token dedicated to this client.</kc-tooltip>
                <div class="col-md-6">
                    <input ng-model="client.serviceAccountsEnabled" ng-click="serviceAccountsEnabledChanged()" name="serviceAccountsEnabled" id="serviceAccountsEnabled" onoffswitch />
                </div>
            </div>
        </fieldset>
    </form>

</div>

<kc-menu></kc-menu>