<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">

    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/clients">Clients</a></li>
        <li>{{client.clientId}}</li>
    </ol>

    <kc-tabs-client></kc-tabs-client>

    <table class="table table-striped table-bordered">
        <thead>
            <tr data-ng-hide="executions.length == 0">
                <th>Client Auth Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="authenticator in clientAuthenticatorProviders" data-ng-show="clientAuthenticatorProviders.length > 0">
            <td ng-repeat="lev in execution.preLevels"></td>
            <td>{{authenticator.displayName|capitalize}}</td>
            <td><a href="#/realms/{{realm.realm}}/clients/{{client.id}}/credentials/{{authenticator.id}}" data-ng-show="authenticator.configurablePerClient">Configure</a></td>
        </tr>
        <tr data-ng-show="clientAuthenticatorProviders.length == 0">
            <td>No client authenticators available</td>
        </tr>
        </tbody>
    </table>
</div>

<kc-menu></kc-menu>
