<form class="form-horizontal" name="credentialForm" novalidate kc-read-only="!access.manageClients" data-ng-show="client.attributes.length > 0">
    <fieldset>
        <kc-provider-config realm="realm" config="client.attributes" properties="clientConfigProperties"></kc-provider-config>
    </fieldset>

    <div class="form-group">
        <div class="col-md-10 col-md-offset-2" data-ng-show="access.manageClients">
            <button kc-save  data-ng-disabled="!changed">Save</button>
            <button kc-reset data-ng-disabled="!changed">Cancel</button>
        </div>
    </div>
</form>