<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">

    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/clients">Clients</a></li>
        <li><a href="#/realms/{{realm.realm}}/clients/{{client.id}}">{{client.clientId}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/clients/{{client.id}}/mappers">Mappers</a></li>
        <li class="active">Add Builtin Protocol Mappers</li>
    </ol>

    <h1>Add Builtin Protocol Mapper</h1>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="kc-table-actions" colspan="4">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="Search..." data-ng-model="search.name" class="form-control search" onkeyup="if(event.keyCode == 13){$(this).next('I').click();}">
                            <div class="input-group-addon">
                                <i class="fa fa-search" type="submit"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
        <tr data-ng-hide="mappers.length == 0">
            <th>Name</th>
            <th>Category</th>
            <th>Type</th>
            <th>Add</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="mapper in mappers | filter:search">
            <td>{{mapper.name}}</td>
            <td>{{mapperTypes[mapper.protocolMapper].category}}</td>
            <td>{{mapperTypes[mapper.protocolMapper].name}}</td>
            <td><input type="checkbox" ng-model="mapper.isChecked"></td>
        </tr>
        <tr data-ng-show="mappers.length == 0">
            <td>No mappers available</td>
        </tr>
        </tbody>
    </table>

    <div data-ng-show="access.manageRealm">
        <button class="btn btn-primary" data-ng-click="add()">Add Selected</button>
    </div>
</div>

<kc-menu></kc-menu>