<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <h1>Create Execution Flow</h1>

    <kc-tabs-authentication></kc-tabs-authentication>

    <form class="form-horizontal" name="clientForm" novalidate kc-read-only="!access.manageRealm">
        <div class="form-group">
            <label class="col-md-2 control-label" for="alias">Alias </label>
            <div class="col-sm-6">
                <input class="form-control" type="text" id="alias" name="alias" data-ng-model="flow.alias" autofocus>
            </div>
            <kc-tooltip>Specifies display name for the flow.</kc-tooltip>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="description">Description </label>

            <div class="col-md-6">
                <textarea class="form-control" rows="5" cols="50" id="description" name="description" data-ng-model="flow.description"></textarea>
            </div>
        </div>
        <div class="form-group" data-ng-hide="flow.type == 'client-flow'">
            <label class="col-md-2 control-label" for="flowType">Flow Type</label>
            <div class="col-sm-6">
                <div>
                    <select class="form-control" id="flowType"
                            ng-model="flow.type">
                        <option value="basic-flow">generic</option>
                        <option value="form-flow">form</option>
                    </select>
                </div>
            </div>
            <kc-tooltip>What kind of form is it</kc-tooltip>
        </div>
        <div class="form-group" data-ng-show="flow.type == 'form-flow'">
            <label class="col-md-2 control-label" for="provider">Form Provider</label>
            <div class="col-sm-6">
                <div>
                    <select class="form-control" id="provider"
                            ng-model="provider"
                            ng-options="provider.id for provider in formProviders">
                    </select>
                </div>
            </div>
            <kc-tooltip>{{provider.description}}</kc-tooltip>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button kc-save>Save</button>
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>