<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <h1>Create Top Level Flow</h1>

    <kc-tabs-authentication></kc-tabs-authentication>

    <form class="form-horizontal" name="clientForm" novalidate kc-read-only="!access.manageRealm">
        <div class="form-group">
            <label class="col-md-2 control-label" for="alias">Alias </label>
            <div class="col-sm-6">
                <input class="form-control" type="text" id="alias" name="alias" data-ng-model="flow.alias" autofocus required>
            </div>
            <kc-tooltip>Specifies display name for the flow.</kc-tooltip>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="description">Description </label>

            <div class="col-md-6">
                <textarea class="form-control" rows="5" cols="50" id="description" name="description" data-ng-model="flow.description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="flowType">Top Level Flow Type</label>
            <div class="col-sm-6">
                <div>
                    <select class="form-control" id="flowType"
                            ng-model="flow.providerId">
                        <option value="basic-flow">generic</option>
                        <option value="client-flow">client</option>
                    </select>
                </div>
            </div>
            <kc-tooltip>What kind of top level flow is it? Type 'client' is used for authentication of clients (applications) when generic is for users and everything else</kc-tooltip>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button kc-save>Save</button>
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>