<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/user-federation">User Federation</a></li>
        <li><a href="#/realms/{{realm.realm}}/user-federation/providers/{{provider.providerName}}/{{provider.id}}">{{provider.displayName|capitalize}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/user-federation/providers/{{provider.providerName}}/{{provider.id}}/mappers">User Federation Mappers</a></li>
        <li class="active" data-ng-show="create">Create User Federation Mapper</li>
        <li class="active" data-ng-hide="create">{{mapper.name}}</li>
    </ol>

    <h1 data-ng-hide="create">{{mapper.name|capitalize}}<i class="pficon pficon-delete clickable" data-ng-show="!create && access.manageRealm" 
    	data-ng-hide="changed" data-ng-click="remove()"></i></h1>
    <h1 data-ng-show="create">Add User Federation Mapper</h1>

    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageRealm">
        <fieldset>
            <div class="form-group clearfix" data-ng-show="!create">
                <label class="col-md-2 control-label" for="mapperId">ID </label>
                <div class="col-md-6">
                    <input class="form-control" id="mapperId" type="text" ng-model="mapper.id" readonly>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="name">Name <span class="required">*</span></label>
                <div class="col-md-6">
                    <input class="form-control" id="name" type="text" ng-model="mapper.name" data-ng-readonly="!create" required>
                </div>
                <kc-tooltip>Name of the mapper.</kc-tooltip>
            </div>
            <div class="form-group" data-ng-show="create">
                <label class="col-md-2 control-label" for="mapperTypeCreate">Mapper Type</label>
                <div class="col-sm-6">
                    <div>
                        <select class="form-control" id="mapperTypeCreate"
                                ng-model="mapperType"
                                ng-options="mapperType.name for (mapperKey, mapperType) in mapperTypes">
                        </select>
                    </div>
                </div>
                <kc-tooltip>{{mapperType.helpText}}</kc-tooltip>
            </div>
            <div class="form-group clearfix" data-ng-hide="create">
                <label class="col-md-2 control-label" for="mapperType">Mapper Type</label>
                <div class="col-md-6">
                    <input class="form-control" id="mapperType" type="text" ng-model="mapperType.name" data-ng-readonly="true">
                </div>
                <kc-tooltip>{{mapperType.helpText}}</kc-tooltip>
            </div>

            <kc-provider-config config="mapper.config" properties="mapperType.properties" realm="realm" clients="clients"></kc-provider-config>
        </fieldset>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2" data-ng-show="access.manageRealm">
                <button kc-save  data-ng-disabled="!changed">Save</button>
                <button kc-reset data-ng-disabled="!changed">Cancel</button>
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>