<div class="navbar-header">
<a class="navbar-brand" href="#">
  <span>RED HAT&reg; JBOSS&reg; IDENTITY AND ACCESS MANAGEMENT</span>
<!--  <img src="${resourceUrl}/img/brand.svg" alt="Red Hat&reg; JBoss&reg; Identity and Access Management" />-->
</a>
</div>
<div class="collapse navbar-collapse navbar-collapse-1">
<ul class="nav navbar-nav navbar-utility">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <span class="pficon pficon-user"></span>
      {{auth.user.displayName|capitalize}} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{authUrl}}/realms/{{auth.user.realm}}/account?referrer=security-admin-console">Manage Account</a></li>
        <li><a href="#/server-info">Server Info</a></li>
        <li class="divider"></li>
        <li><a href="" ng-click="auth.authz.logout()">Sign Out</a></li>
    </ul>
  </li>
</ul>
<ul class="nav navbar-nav navbar-primary">
  <li class="active">
    <a href="#" class="active">Home</a>
  </li>
</ul>
</div>
