<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2" data-ng-init="initProvider()">
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/identity-provider-settings">Identity Providers</a></li>
        <li>{{identityProvider.alias}}</li>
    </ol>

    <h1 data-ng-hide="create">{{identityProvider.alias|capitalize}}</h1>
    <h1 data-ng-show="create">Add OpenID Connect Identity Provider</h1>

    <ul class="nav nav-tabs" data-ng-hide="newIdentityProvider">
        <li><a href="#/realms/{{realm.realm}}/identity-provider-settings/provider/{{identityProvider.providerId}}/{{identityProvider.alias}}">Settings</a></li>
        <li><a href="#/realms/{{realm.realm}}/identity-provider-mappers/{{identityProvider.alias}}/mappers">Mappers</a></li>
        <li class="active"><a href="#/realms/{{realm.realm}}/identity-provider-settings/provider/{{identityProvider.providerId}}/{{identityProvider.alias}}/export" data-ng-show="!importFile && !newIdentityProvider">Export</a></li>
    </ul>

    <form class="form-horizontal" name="realmForm" novalidate>
        <fieldset class="border-top">
            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-primary" data-ng-click="download()" type="submit">Download</a>
                    <textarea class="form-control" rows="20" kc-select-action="click">{{exported}}</textarea>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<kc-menu></kc-menu>