<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <h1>Settings</h1>

    <kc-tabs-realm></kc-tabs-realm>

    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageRealm">
        <div class="form-group clearfix">
            <label class="col-md-2 control-label" for="smtpHost"><span class="required">*</span> Host</label>
            <div class="col-md-6">
                <input class="form-control" id="smtpHost" type="text" ng-model="realm.smtpServer.host" placeholder="SMTP Host" required>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-2 control-label" for="smtpPort">Port</label>
            <div class="col-md-6">
                <input class="form-control" id="smtpPort" type="number" ng-model="realm.smtpServer.port" placeholder="SMTP Port (defaults to 25)">
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-2 control-label" for="smtpFrom"><span class="required">*</span> From</label>
            <div class="col-md-6">
                <input class="form-control" id="smtpFrom" type="email" ng-model="realm.smtpServer.from" placeholder="Sender Email Address" required>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-2 control-label" for="smtpSSL">Enable SSL</label>
            <div class="col-md-6">
                <input ng-model="realm.smtpServer.ssl" name="smtpSSL" id="smtpSSL" onoffswitch />
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-md-2 control-label" for="smtpStartTLS">Enable StartTLS</label>
            <div class="col-md-6">
                <input ng-model="realm.smtpServer.starttls" name="smtpStartTLS" id="smtpStartTLS" onoffswitch />
            </div>
        </div>

        <div class="form-group clearfix">
            <label class="col-md-2 control-label" for="smtpAuth">Enable Authentication</label>
            <div class="col-md-6">
                <input ng-model="realm.smtpServer.auth" name="smtpAuth" id="smtpAuth" onoffswitch />
            </div>
        </div>
        <div class="form-group clearfix" data-ng-show="realm.smtpServer.auth">
            <label class="col-md-2 control-label" for="smtpUsername"><span class="required">*</span> Username</span></label>
            <div class="col-md-6">
                <input class="form-control" id="smtpUsername" type="text" ng-model="realm.smtpServer.user" placeholder="Login Username" ng-disabled="!realm.smtpServer.auth" ng-required="realm.smtpServer.auth">
            </div>
        </div>
        <div class="form-group clearfix" data-ng-show="realm.smtpServer.auth">
            <label class="col-md-2 control-label" for="smtpPassword"><span class="required">*</span> Password</label>
            <div class="col-md-6">
                <input class="form-control" id="smtpPassword" type="password" ng-model="realm.smtpServer.password" placeholder="Login Password" ng-disabled="!realm.smtpServer.auth" ng-required="realm.smtpServer.auth">
            </div>
        </div>

        <div class="form-group" data-ng-show="access.manageRealm">
            <div class="col-md-10 col-md-offset-2">
                <button data-kc-save data-ng-show="changed">Save</button>
                <button data-kc-reset data-ng-show="changed">Cancel</button>
            </div>
        </div>
    </form>
</div>


<kc-menu></kc-menu>