<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <h1>Identity Providers</h1>

    <form name="realmForm" novalidate class="form-horizontal">
        <fieldset>
            <div>
                <table class="table table-striped table-bordered">
                    <caption class="hidden">Table of identity providers</caption>
                    <thead>
                    <tr>
                        <th colspan="6" class="kc-table-actions">
                            <div class="dropdown pull-right">
                                <select class="form-control" ng-model="provider"
                                        ng-options="p.name group by p.groupName for p in allProviders track by p.id"
                                        data-ng-change="addProvider(provider); provider = null">
                                    <option value="" disabled selected>Add provider...</option>
                                </select>
                            </div>
                        </th>
                    </tr>
                    <tr ng-show="configuredProviders.length > 0">
                        <th>Name</th>
                        <th>Provider</th>
                        <th>Enabled</th>
                        <th width="15%">GUI order</th>
                        <th colspan="2">Actions</th>
                    </tr>
                    </thead>
                    <tbody ng-show="configuredProviders.length > 0">
                    <tr ng-repeat="identityProvider in configuredProviders">
                        <td>
                            <a href="#/realms/{{realm.realm}}/identity-provider-settings/provider/{{identityProvider.providerId}}/{{identityProvider.alias}}">{{identityProvider.alias}}</a>
                        </td>
                        <td>{{identityProvider.providerId}}</td>
                        <td>{{identityProvider.enabled}}</td>
                        <td>{{identityProvider.config.guiOrder}}</td>
                        <td class="kc-action-cell">
                            <button class="btn btn-default btn-block btn-sm" kc-open="/realms/{{realm.realm}}/identity-provider-settings/provider/{{identityProvider.providerId}}/{{identityProvider.alias}}">Edit</button>
                        </td>
                        <td class="kc-action-cell">
                            <button class="btn btn-default btn-block btn-sm" data-ng-click="removeIdentityProvider(identityProvider)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </form>
</div>


<kc-menu></kc-menu>