                    <div class="form-group clearfix">
                        <label class="col-sm-2 control-label" for="clientId">Key <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <input class="form-control" id="clientId" type="text" ng-model="identityProvider.config.key" required>
                        </div>
                        <span tooltip-placement="right" tooltip="The Key obtained from Stack Overflow application registration." class="fa fa-info-circle"></span>
                    </div>
