<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/users">Users</a></li>
        <li>{{user.username}}</li>
    </ol>

    <kc-tabs-user></kc-tabs-user>

    <form class="form-horizontal" name="userForm" novalidate>
            <fieldset class="border-top">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="password">New password <span class="required" data-ng-show="create">*</span></label>
                    <div class="col-md-6">
                        <input class="form-control" type="password" id="password" name="password" data-ng-model="password" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="confirmPassword">Password confirmation <span class="required" data-ng-show="create">*</span></label>
                    <div class="col-md-6">
                        <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" data-ng-model="confirmPassword" required>
                    </div>
                </div>

                <div class="form-group clearfix block">
                    <label class="col-md-2 control-label" for="temporaryPassword">Temporary</label>
                    <div class="col-sm-6">
                        <input ng-model="temporaryPassword" name="temporaryPassword" id="temporaryPassword" onoffswitch />
                    </div>
                    <kc-tooltip>If enabled user is required to change password on next login</kc-tooltip>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2" data-ng-show="password && confirmPassword">
                        <button class="btn btn-danger" type="submit" data-ng-click="resetPassword(true)">Reset Password</button>
                    </div>
                </div>
            </fieldset>

            <fieldset class="border-top" data-ng-show="user.totp">
                <div class="form-group" data-ng-show="user.totp">
                    <label class="col-md-2 control-label">Remove totp</label>
                    <div class="col-sm-5" data-ng-show="user.totp">
                        <button class="btn btn-danger"  type="submit" data-ng-click="removeTotp()" tooltip-trigger="mouseover mouseout" tooltip="Remove one time password generator for user." tooltip-placement="right">Remove TOTP</button>
                    </div>
                </div>
            </fieldset >
            <fieldset class="border-top" data-ng-show="user.email">
                <div class="form-group clearfix">
                    <label class="col-md-2 control-label" for="reqActions">Reset Actions</label>

                    <div class="col-md-6">
                        <select ui-select2 id="reqActions" ng-model="emailActions" data-placeholder="Select an action..." multiple>
                            <option ng-repeat="action in userReqActionList" value="{{action.alias}}">{{action.name}}</option>
                        </select>
                    </div>
                    <kc-tooltip>Set of actions to execute when sending the user a Reset Actions Email. 'Verify email' sends an email to the user to verify their email address.  'Update profile' requires user to enter in new personal information.  'Update password' requires user to enter in a new password.  'Configure TOTP' requires setup of a mobile password generator.</kc-tooltip>
                </div>
                <div class="form-group clearfix">
                    <label class="col-md-2 control-label" for="reqActionsEmail">Reset Actions Email</label>

                    <div class="col-md-6">
                        <button id="reqActionsEmail" class="btn btn-default" data-ng-click="sendExecuteActionsEmail()">Send Email</button>
                    </div>
                    <kc-tooltip>Sends an email to user with an embedded link.  Clicking on link will allow the user to execute the reset actions.  They will not have to login prior to this.  For example, set the action to update password, click this button, and the user will be able to change their password without logging in.</kc-tooltip>
                </div>
            </fieldset>
        </form>
</div>

<kc-menu></kc-menu>
