<fieldset>
    <legend collapsed><span class="text">Contact Information</span>  <kc-tooltip>Expand this section to configure user's contact information.</kc-tooltip></legend>
    <div class="form-group clearfix block">
        <label class="col-md-2 control-label" for="street">Street</label>
        <div class="col-md-6">
            <input ng-model="user.attributes.street" class="form-control" type="text" name="street" id="street" />
        </div>
        <kc-tooltip>Street address.</kc-tooltip>
    </div>
    <div class="form-group clearfix block">
        <label class="col-md-2 control-label" for="locality">City or Locality</label>
        <div class="col-md-6">
            <input ng-model="user.attributes.locality" class="form-control" type="text" name="locality" id="locality" />
        </div>
        <kc-tooltip>City or locality.</kc-tooltip>
    </div>
    <div class="form-group clearfix block">
        <label class="col-md-2 control-label" for="region">State, Province, or Region</label>
        <div class="col-md-6">
            <input ng-model="user.attributes.region" class="form-control" type="text" name="region" id="region" />
        </div>
        <kc-tooltip>State, province, prefecture, or region.</kc-tooltip>
    </div>
    <div class="form-group clearfix block">
        <label class="col-md-2 control-label" for="postal_code">Zip or Postal code</label>
        <div class="col-md-6">
            <input ng-model="user.attributes.postal_code" class="form-control" type="text" name="postal_code" id="postal_code" />
        </div>
        <kc-tooltip>Zip code or postal code.</kc-tooltip>
    </div>
    <div class="form-group clearfix block">
        <label class="col-md-2 control-label" for="country">Country</label>
        <div class="col-md-6">
            <input ng-model="user.attributes.country" class="form-control" type="text" name="country" id="country" />
        </div>
        <kc-tooltip>Country name.</kc-tooltip>
    </div>
</fieldset>