<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/users">Users</a></li>
        <li>{{user.username}}</li>
    </ol>

    <h1><strong>User</strong> {{user.username|capitalize}}</h1>

    <kc-tabs-user></kc-tabs-user>

    <form class="form-horizontal" name="userForm" novalidate>
            <fieldset class="border-top">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="password">New password <span class="required" data-ng-show="create">*</span></label>
                    <div class="col-md-6">
                        <input class="form-control" type="password" id="password" name="password" data-ng-model="password" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="confirmPassword">Password confirmation <span class="required" data-ng-show="create">*</span></label>
                    <div class="col-md-6">
                        <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" data-ng-model="confirmPassword" required>
                    </div>
                </div>

                <div class="form-group clearfix block">
                    <label class="col-md-2 control-label" for="temporaryPassword">Temporary</label>
                    <div class="col-sm-6">
                        <input ng-model="temporaryPassword" name="temporaryPassword" id="temporaryPassword" onoffswitch />
                    </div>
                    <kc-tooltip>If enabled user is required to change password on next login</kc-tooltip>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2" data-ng-show="password && confirmPassword">
                        <button class="btn btn-danger" type="submit" data-ng-click="resetPassword(true)">Reset Password</button>
                    </div>
                </div>
            </fieldset>

            <fieldset class="border-top" data-ng-show="user.email || user.totp">
                <div class="form-group" data-ng-show="user.email">
                    <label class="col-md-2 control-label" for="password">Reset password email</label>
                    <div class="col-sm-5">
                        <button class="btn btn-danger" type="submit" data-ng-click="resetPasswordEmail()" tooltip="Send an email to user with a link to reset their password" tooltip-placement="right">Send Email</button>
                    </div>
                </div>

                <div class="form-group" data-ng-show="user.totp">
                    <label class="col-md-2 control-label">Remove totp</label>
                    <div class="col-sm-5" data-ng-show="user.totp">
                        <button class="btn btn-danger"  type="submit" data-ng-click="removeTotp()" tooltip="Remove one time password generator for user." tooltip-placement="right">Remove TOTP</button>
                    </div>
                </div>
            </fieldset>
        </form>
</div>

<kc-menu></kc-menu>