<?xml version="1.0" encoding="UTF-8"?>



<module xmlns="urn:jboss:module:1.1" name="org.keycloak.keycloak-as7-subsystem">
    <resources>
        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.keycloak.keycloak-as7-adapter"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.as.web"/>
        <module name="org.jboss.modules"/>
        <module name="org.jboss.msc"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.vfs"/>
        <module name="org.jboss.metadata"/>
    </dependencies>
</module>
