<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2010, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->

<!-- deprecated module that some applications might have a dependency on.
     
     Instead applications should use module org.hibernate:4 which contains the 
     JPA integration classes for Hibernate 4.1.x (Hibernate jars need to be added)
     or use module org.hibernate which contains the JPA integration classes for Hibernate 4.3.x
-->

<module xmlns="urn:jboss:module:1.5" name="org.jboss.as.jpa.hibernate" slot="4">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
    </resources>

    <dependencies>
        <module name="org.infinispan" services="import"/>
        <module name="org.hibernate.infinispan" services="import"/>
        <module name="org.hibernate"/>
    </dependencies>
</module>
