<module xmlns="urn:jboss:module:1.3" name="javax.ws.rs.api">
    <resources>
        <resource-root path="jboss-jaxrs-api_2.0_spec-1.0.0.Final.jar"/>
        <!-- Insert resources here -->
    </resources>

    <dependencies>
        <module name="org.jboss.resteasy.resteasy-jaxrs" services="export"/>
        <module name="javax.xml.bind.api" />
        <module name="javax.api" />
    </dependencies>
</module>