<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2011, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->

<module xmlns="urn:jboss:module:1.5" name="org.jboss.as.domain-management">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <exports>
        <exclude path="org/jboss/as/domain/management/logging"/>
        <exclude path="org/jboss/as/domain/management/_private"/>
    </exports>

    <resources>
        <resource-root path="wildfly-domain-management-3.0.0.Beta11.jar"/>
    </resources>

    <dependencies>
        <module name="org.wildfly.openssl" />
        <module name="org.wildfly.common" />
        <module name="org.wildfly.security.elytron-private" />
        <module name="org.jboss.as.controller" />
        <module name="org.jboss.as.core-security"/>
        <module name="org.jboss.ejb-client" optional="true" />
        <module name="org.jboss.logging" />
        <module name="org.jboss.logmanager"/>
        <module name="org.jboss.modules" />
        <module name="org.jboss.msc" />
        <module name="org.jboss.staxmapper"/>
        <module name="org.picketbox" optional="true"/>
        <module name="org.wildfly.transaction.client" optional="true" />
        <module name="javax.api"/>
        <module name="sun.jdk" export="true" />        
    </dependencies>
</module>
