.keycloak__empty-execution-state__block {
  padding-top: var(--pf-t--global--spacer--sm);
}
.keycloak__empty-execution-state__help {
  max-width: 36rem;
  margin: 0 auto var(--pf-t--global--spacer--2xl);
}

.keycloak__empty-execution-state__help p {
  color: var(--pf-v6-global--Color--200);
}
