<div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
   <div class="card-pf-body">
       <div class="card-pf-top-element">

           <div class="card-pf-heading-kebab">
               <div class="dropup pull-right dropdown-kebab-pf">
                   <button class="btn btn-link dropdown-toggle" type="button" id="dropupKebabRight3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                       <span class="fa fa-ellipsis-v"></span>
                   </button>
                   <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropupKebabRight3">
                       <li><a href="#">Logout Session</a></li>
                       <li><a href="#">View Clients</a></li>
                   </ul>
               </div>
           </div>
           <div class="text-center">
               <span class="fa fa-clock-o card-pf-icon-circle"></span>
           </div>
       </div>
       <h2 class="card-pf-title text-center">
           <strong>{{'ip' | translate}}</strong> {{session.ipAddress}}
       </h2>
       <p class="card-pf-info text-center"><strong>{{'started' | translate}}</strong> {{session.started * 1000 | date:'medium'}}</p>
       <p class="card-pf-info text-center"><strong>{{'lastAccess' | translate}}</strong> {{session.lastAccess * 1000 | date:'medium'}}</p>
       <p class="card-pf-info text-center"><strong>{{'expires' | translate}}</strong> {{session.expires * 1000 | date:'medium'}}</p>
   </div>
</div>
