<div class="col-sm-9 content-area">

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>{{'ip' | translate}}</td>
                <td>{{'started' | translate}}</td>
                <td>{{'lastAccess' | translate}}</td>
                <td>{{'expires' | translate}}</td>
                <td>{{'clients' | translate}}</td>
            </tr>
        </thead>

        <tbody *ngFor="let session of sessions">
            <tr>
                <td>{{session.ipAddress}}</td>
                <td>{{session.started * 1000 | date:'medium'}}</td>
                <td>{{session.lastAccess * 1000 | date: 'medium'}}</td>
                <td>{{session.expires * 1000 | date: 'medium'}}</td>
                <td>
                    <span *ngFor="let client of session.clients">
                        {{client.clientId}}<br>
                    </span>
                </td>
            </tr>
        </tbody>

    </table>

    <a (click)="logoutAllSessions()" id="logout-all-sessions" href="#/sessions">{{'doLogOutAllSessions' | translate}}</a>

</div>