<?xml version="1.0" encoding="UTF-8"?>



<module xmlns="urn:jboss:module:1.1" name="org.keycloak.keycloak-adapter-core">
    <resources>
        <!-- Insert resources here -->
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="com.fasterxml.jackson.core.jackson-annotations"/>
        <module name="com.fasterxml.jackson.core.jackson-core"/>
        <module name="com.fasterxml.jackson.core.jackson-databind"/>
        <module name="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider"/>
        <module name="org.apache.httpcomponents"/>
        <module name="org.jboss.logging"/>
        <module name="org.keycloak.keycloak-common"/>
        <module name="org.keycloak.keycloak-core"/>
        <module name="org.keycloak.keycloak-adapter-spi"/>
    </dependencies>

</module>
