<?xml version="1.0" encoding="UTF-8"?>



<module xmlns="urn:jboss:module:1.1" name="org.keycloak.keycloak-core">
    <resources>
        <!-- Insert resources here -->
    </resources>
    <dependencies>
        <module name="com.fasterxml.jackson.core.jackson-annotations"/>
        <module name="com.fasterxml.jackson.core.jackson-core"/>
        <module name="com.fasterxml.jackson.core.jackson-databind"/>
        <module name="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider"/>
        <module name="org.keycloak.keycloak-common" />
        <module name="org.bouncycastle" />
        <module name="javax.api"/>
        <module name="javax.activation.api"/>
        <module name="sun.jdk" optional="true" />
        <module name="sun.jdk.jgss" optional="true" />
    </dependencies>

</module>
