/* General styles */
.btn-pressed {
  box-shadow: none;
  margin-top: 0.1em;
  margin-left: 0;
  margin-bottom: -0.1em;
  margin-right: 0.1em;
}
a {
  color: #07a1a3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input[type="submit"] {
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
strong {
  font-weight: bold;
}
span.required {
  color: #cb2915;
}
.hidden-element {
  display: none;
}
/* */
.register-login {
  background: url(images/register-login-bg.png) repeat left top;
  margin: 0 auto;
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777777;
}
.register-login .container {
  width: 68em;
  margin: 0 auto;
}
.register-login .header {
  margin-top: 7.5em;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 2.5em;
  width: 60em;
}
.register-login h1 {
  font-size: 4em;
  font-weight: normal;
  color: #c4c4c4;
  letter-spacing: -0.02em;
  float: left;
}
.register-login .back {
  float: right;
  font-size: 1.4em;
  margin-top: 1.42857142857143em;
}
.feedback {
  width: 60em;
  margin-left: 2em;
  padding: 1.5em 2em;
  clear: both;
}
.feedback p {
  font-size: 1.6em;
}
.feedback-error {
  background-color: #ffe7e3;
  border-left: 5px solid #cb2915;
  margin-bottom: -15px;
  z-index: 10;
  position: relative;
}
.feedback-error p {
  color: #cb2915;
}
.register-login-container {
  background-color: #fff;
  width: 100%;
}
.register-login-container form {
  padding: 5em 4em 2.2em;
}
p.subtitle {
  float: right;
  margin-top: -2.14285714285714em;
  font-size: 1.4em;
  color: #b7b7b7;
}
label {
  font-size: 1.8em;
  width: 8.88888888888889em;
  text-align: right;
  display: inline-block;
  position: relative;
}
label .required {
  position: absolute;
  right: -0.94444444444444em;
}
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #dddddd;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border 0.5s linear 0s, box-shadow 0.5s linear 0s;
  color: #333333;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
  border-color: #07a1a3;
  box-shadow: 0 0 5px rgba(7, 161, 163, 0.5);
}
input[type="text"].error,
input[type="email"].error,
input[type="password"].error,
select.error,
textarea.error {
  border-color: #cb2915;
  box-shadow: 0 0 5px rgba(203, 41, 21, 0.5);
  background-color: rgba(203, 41, 21, 0.05);
}
label + input {
  font-size: 2em;
  height: 2em;
  margin-left: 1.35em;
  padding: 0 0.5em;
}
.register-login label + input {
  width: 14em;
}
.register-login form > div {
  margin-bottom: 2.5em;
}
.register-login .form-actions {
  margin-left: 19em;
}
.form-actions .btn {
  float: left;
}
.form-actions a {
  font-size: 1.4em;
  float: left;
  margin-left: 1.07142857142857em;
  color: #999999;
  margin-top: 1em;
}
.btn {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  padding: 0 1.1em;
  height: 2em;
  line-height: 2em;
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn-primary {
  background-color: #07a1a3;
  color: #fff;
  box-shadow: -2px 2px 0 #077576;
  margin-left: 0.1em;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #068e90;
}
.btn-primary:active {
  box-shadow: none;
  margin-top: 0.1em;
  margin-left: 0;
  margin-bottom: -0.1em;
  margin-right: 0.1em;
  background-color: #077576;
}
.bottom-actions {
  background-color: rgba(221, 221, 221, 0.7);
  padding: 2em 4em;
}
.bottom-actions p {
  font-size: 1.4em;
}
/* Log in: social */
.social .login-container {
  float: left;
  width: 34em;
  border-right: 1px solid rgba(221, 221, 221, 0.7);
}
.social form,
.social .bottom-actions {
  clear: both;
}
.social form {
  padding: 4em 4em 1.8em;
}
.social label {
  display: block;
  width: auto;
  text-align: left;
  margin-bottom: 0.55555555555556em;
  line-height: 1em;
}
.social label + input {
  margin-left: 0;
  width: auto;
  width: 11.8em;
}
.social .form-actions {
  margin-left: 0;
}
.social-container {
  width: 26em;
  float: left;
  margin-right: 4em;
  margin-top: 4em;
  padding-top: 2.8em;
  padding-left: 3.9em;
}
.btn-social {
  color: #fff;
  display: block;
  padding: 0;
  line-height: 2em;
  height: 2em;
  margin-left: 0.1em;
  letter-spacing: -0.025em;
}
.btn-social .icon {
  display: block;
  width: 2em;
  border-right-width: 1px;
  border-right-style: solid;
  text-indent: -9999em;
  float: left;
}
.btn-social .text {
  font-size: 0.8em;
  text-align: center;
  display: block;
}
.btn-social:hover {
  text-decoration: none;
}
.btn-social.facebook {
  background-color: #3c5a99;
  box-shadow: -2px 2px 0 #293e6b;
}
.btn-social.facebook:hover,
.btn-social.facebook:focus {
  background-color: #36518a;
}
.btn-social.facebook:active {
  box-shadow: none;
  margin-top: 0.1em;
  margin-left: 0;
  margin-bottom: -0.1em;
  margin-right: 0.1em;
  background-color: #293e6b;
  margin-top: 0;
  border-top: 2px solid #fff;
}
.btn-social.facebook .icon {
  border-color: #293e6b;
  background-image: url(images/btn-social-fb.svg);
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: center 0.1em;
}
/* Specific social logins */
.social-two-three li {
  margin-bottom: 5.5em;
}
.social-four {
  padding-top: 1em;
}
.social-four li {
  margin-bottom: 3.5em;
}
.social-five-nine {
  padding-top: 0;
}
.social-five-nine h2 {
  font-size: 1.8em;
  margin-bottom: 1.11111111111112em;
}
.social-five-nine li {
  margin-right: 2.5em;
  margin-bottom: 2.5em;
  float: left;
}
.social-five-nine li:nth-child(3),
.social-five-nine li:nth-child(6),
.social-five-nine li:nth-child(9) {
  margin-right: 0;
}
.social-five-nine .btn-social {
  height: 2.9em;
  width: 3.4em;
  line-height: 0.85em;
  letter-spacing: -0.0125em;
}
.social-five-nine .btn-social .icon {
  display: block;
  width: 3.4em;
  height: 2em;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  float: none;
}
.social-five-nine .btn-social .text {
  font-size: 0.5em;
}
