.keycloak_eventsection_details {
  --pf-c-description-list--m-horizontal__term--width: 15ch;
}

.keycloak__user_events_search_selector_dropdown__toggle {
  --pf-c-dropdown__toggle--MinWidth: 21rem;
}

.keycloak__refresh_btn,
.keycloak__searchChips,
.keycloak__user_events_search_selector_dropdown__toggle {
  position: relative;
  z-index: 1;
}

.keycloak__user_events_search__form {
  margin: 0 0 var(--pf-global--spacer--lg) var(--pf-global--spacer--lg);
  --pf-c-form__group--m-action--MarginTop: 0rem;
  --pf-c-form--m-horizontal__group-control--md--GridColumnWidth: 12rem;
  --pf-c-form--m-horizontal__group-label--md--GridColumnWidth: 5rem;
}

.keycloak__user_events_search__form_label {
  --pf-c-form--m-horizontal__group-label--md--GridColumnWidth: 5rem;
}

.keycloak__user_events_search__event_type_select .pf-c-select__menu {
  max-height: 200px;
  overflow: auto;
}

.pf-c-toolbar {
  background-color: transparent;
}

.keycloak__events_table {
  margin-top: -4.25rem;
}

.keycloak__events_empty_state_divider {
  margin-top: 4.25rem;
}