@IMPORT url("../../rcue/css/styles.css");

.header.rcue {
    border-top: none !important;
}

.header.rcue .navbar.utility {
    background: #083556 !important;
}

.header.rcue .navbar-inner {
    background: #083556 !important;
}
