
.keycloak__client-scopes__searchtype button {
  width: 200px;
}

.keycloak__client-scopes-add__add-dropdown {
  margin-right: var(--pf-global--spacer--md);
}

.kc-protocolType-select {
  max-width: 25%;
}