

.kc-edit-icon {
  color: var(--pf-v5-global--Color--200);
  margin-left: var(--pf-v5-global--spacer--xs);
}

.kc-showData-btn {
  padding-left: 0;
}

.kc-userLabel-row.kc-userLabel-row {
  display: inline-block;
  width: 100%;
}

.kc-form-group-userLabel, .kc-userLabel-actionBtns {
  display: flex;
}

.kc-editUserLabel-btn.kc-editUserLabel-btn,
.kc-editUserLabel-cancelBtn.kc-editUserLabel-cancelBtn {
  color: var(--pf-v5-global--Color--200);
}

.kc-editUserLabel-btn {
  padding-top: 0px;
}

.kc-editUserLabel-btn:hover {
  filter: brightness(55%);
}

.kc-editUserLabel-acceptBtn {
  padding-right: var(--pf-v5-global--spacer--sm);
}

.kc-editUserLabel-cancelBtn[class] {
  padding-left: var(--pf-v5-global--spacer--sm);
}

.pf-v5-c-table.pf-m-compact tr:not(.pf-v5-c-table__expandable-row)>:last-child {
  overflow-wrap: anywhere;
}

.kc-setPasswordBtn-tbl {
  margin: var(--pf-v5-global--spacer--xl) 0 var(--pf-v5-global--spacer--xl) var(--pf-v5-global--spacer--xl);
}

.kc-form-userLabel {
  max-height: 0;
  margin-bottom: 0;
  padding-bottom: var(--pf-v5-global--spacer--md);
}

.kc-notExpandableRow-credentialType.kc-notExpandableRow-credentialType {
  padding: var(--pf-v5-global--spacer--md) 0 var(--pf-v5-global--spacer--md) var(--pf-v5-global--spacer--md);
}

.kc-expandableRow-credentialType.kc-expandableRow-credentialType {
  padding-left: var(--pf-v5-global--spacer--md);
}

.kc-expandRow-btn {
  vertical-align: middle;
}

.kc-temporaryPassword {
  margin: 6px 0 10px 35px;
}

.kc-resetCredentialBtn-header {
  float: right;
  margin: var(--pf-v5-global--spacer--lg) var(--pf-v5-global--spacer--2xl) 0 0;
}

tr.kc-table-header th[class] {
  padding-top: 0;
}

td.one-row button svg {
  color: var(--pf-v5-c-button--disabled--Color);
}