

.kc-edit-icon {
  color: var(--pf-v5-global--Color--200);
  margin-left: 5px;
}

.kc-showData-btn {
  padding-left: 0;
}

.kc-userLabel-row {
  display: inline-block !important;
  width: 100%;
}

.kc-form-group-userLabel, .kc-userLabel-actionBtns {
  display: flex;
}

.kc-editUserLabel-btn, .kc-editUserLabel-cancelBtn {
  color: var(--pf-v5-global--Color--200) !important;
}

.kc-editUserLabel-btn {
  padding-top: 0px;
}

.kc-editUserLabel-btn:hover {
  filter: brightness(55%);
}

.kc-editUserLabel-acceptBtn {
  padding-right: 8px;
}

.kc-editUserLabel-cancelBtn {
  padding-left: 8px !important;
}

.pf-v5-c-table.pf-m-compact tr:not(.pf-v5-c-table__expandable-row)>:last-child {
  overflow-wrap: anywhere;
}

.kc-setPasswordBtn-tbl {
  margin: 25px 0 25px 25px;
}

.kc-form-userLabel {
  max-height: 0px;
  margin-bottom: 0px;
  padding-bottom: 15px;;
}

.kc-notExpandableRow-credentialType {
  padding: 15px 0px 15px 15px !important;
}

.kc-expandableRow-credentialType {
  padding-left: 15px !important;
}

.kc-expandRow-btn {
  vertical-align: middle;
}

.kc-temporaryPassword {
  margin: 6px 0 10px 35px;
}

.kc-resetCredentialBtn-header {
  float: right;
  margin: 20px 40px 0 0;
}

tr.kc-table-header th {
  padding-top: 0px !important;
}

td.one-row button svg {
  color: var(--pf-v5-c-button--disabled--Color);
}