.kc-dropdown-panel {
  background-color: transparent;
  padding: var(--pf-t--global--spacer--xs) var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--xs)
    var(--pf-t--global--spacer--sm);
  border-color: var(--pf-t--global--border--color--regular) var(--pf-t--global--border--color--regular)
    var(--pf-t--global--border--color--default) var(--pf-t--global--border--color--regular);
  border-width: var(--pf-t--global--border--width--regular);
  border-style: solid;
  text-align: left;
  cursor: pointer;
  height: 2.25rem;
}

.kc-dropdown-panel:hover {
  border-bottom-color: var(--pf-t--global--color--brand--default);
}

.kc-dropdown-panel:focus,
.kc-dropdown-panel:active {
  border-bottom-color: var(--pf-t--global--color--brand--default);
  border-bottom-width: var(--pf-t--global--border--width--strong);
}

.kc-dropdown-panel-icon {
  float: right;
  margin-top: 0.2rem;
}

.kc-dropdown-panel-content {
  display: block;
  position: absolute;
  background-color: var(--pf-t--global--background--color--floating--default);
  min-width: 10rem;
  box-shadow: 0px 0.5rem 1rem 0px rgba(0, 0, 0, 0.2);
  padding: 0.75rem;
  z-index: 1;
}

@media (prefers-color-scheme: dark) {
  .pf-v6-theme-dark .kc-dropdown-panel-content {
    background-color: var(--pf-t--global--background--color--floating--default);
  }
}
