<div class="bs-sidebar col-md-3 clearfix" data-ng-include data-src="'partials/realm-menu.html'"></div>
<div id="content-area" class="col-md-9" role="main">
    <kc-navigation-application></kc-navigation-application>
    <div id="content">
        <ol class="breadcrumb">
            <li><a href="#/realms/{{realm.realm}}/applications">Applications</a></li>
            <li><a href="#/realms/{{realm.realm}}/applications/{{application.id}}">{{application.name}}</a></li>
            <li class="active">Revocation</li>
        </ol>
        <h2 data-ng-hide="create"><span>{{application.name}}</span> Revocation Policies</h2>
        <form class="form-horizontal" name="credentialForm" novalidate kc-read-only="!access.manageRealm">
            <fieldset class="border-top">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="notBefore">Not Before</label>
                    <div class="col-sm-4">
                        <input ng-disabled="true" class="form-control" type="text" id="notBefore" name="notBefore" data-ng-model="notBefore" autofocus>
                    </div>
                    <span tooltip-placement="right" tooltip="Revoke any tokens issued before this date for this application." class="fa fa-info-circle"></span>
                </div>
            </fieldset>
            <div class="pull-right form-actions" data-ng-show="access.manageApplications">
                <button type="submit" data-ng-click="clear()" class="btn btn-default btn-lg">Clear
                </button>
                <button type="submit" data-ng-click="setNotBeforeNow()" class="btn btn-primary btn-lg">Set To Now
                </button>
                <button type="submit" data-ng-click="pushRevocation()" class="btn btn-primary btn-lg" tooltip="If admin URL is configured for this application, push this policy to that application." tooltip-placement="bottom">Push
                </button>
            </div>
        </form>
    </div>
</div>
