<div id="wrapper" class="container">
    <div class="row">
        <div class="bs-sidebar col-md-3 clearfix"></div>
        <div id="content-area" class="col-md-9" role="main">
            <div class="error-container">
                <h2>Page <strong>not found</strong>...</h2>
                <p class="instruction">We could not find the page you are looking for. Please make sure the URL you entered is correct.</p>
                <a href="#" class="link-right">Go to the home page &raquo;</a>
                <!-- <a href="#" class="link-right">Go to the realm page &raquo;</a> -->
            </div>
        </div>
        <div id="container-right-bg"></div>
    </div>
</div>