<div class="bs-sidebar col-md-3 clearfix" data-ng-include data-src="'partials/realm-menu.html'"></div>
<div id="content-area" class="col-md-9" role="main">
    <kc-navigation-oauth-client></kc-navigation-oauth-client>
    <div id="content">
        <ol class="breadcrumb" data-ng-hide="create">
            <li><a href="#/realms/{{realm.realm}}/oauth-clients">OAuth Clients</a></li>
            <li><a href="#/realms/{{realm.realm}}/oauth-clients/{{oauth.id}}">{{oauth.name}}</a></li>
            <li class="active">Scope</li>
        </ol>
        <h2><span>{{oauth.name}}</span> Scope Mappings <span tooltip-placement="right" tooltip="Scope mappings allow you to restrict which user role mappings are included within the access token requested by the client." class="fa fa-info-circle"></span></h2>
        <p class="subtitle"></p>
        <form class="form-horizontal" name="allowScope" novalidate kc-read-only="!access.manageClients">
            <fieldset class="border-top">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="fullScopeAllowed">Full Scope Allowed</label>
                    <div class="col-sm-4">
                        <input ng-model="oauth.fullScopeAllowed" ng-click="changeFullScopeAllowed()" name="fullScopeAllowed" id="fullScopeAllowed" onoffswitch />
                    </div>
                    <span tooltip-placement="right" tooltip="Allows you to disable all restrictions." class="fa fa-info-circle"></span>
                </div>
            </fieldset>
        </form>
        <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageClients"  data-ng-show="!oauth.fullScopeAllowed">
            <fieldset>
                <legend><span class="text">Realm Roles</span> <span tooltip-placement="right" tooltip="Realm level roles assigned to scope." class="fa fa-info-circle"></span></legend>
                <div class="form-group col-sm-10">
                    <div class="controls changing-selectors">
                        <div class="select-title">
                            <label class="control-label" for="available">Available Roles <span tooltip-placement="right" tooltip="Realm level roles that can be assigned to scope." class="fa fa-info-circle"></span></label>
                            <select id="available" class="form-control" multiple size="5"
                                    ng-multiple="true"
                                    ng-model="selectedRealmRoles"
                                    ng-options="r.name for r in realmRoles">
                            </select>
                        </div>
                        <div class="middle-buttons kc-vertical">
                            <button class="btn btn-default" type="submit" ng-click="addRealmRole()" tooltip="Assign role" tooltip-placement="right">
                                <span class="kc-icon-arrow-right">Assign role</span>
                            </button>
                            <button class="btn btn-default" type="submit" ng-click="deleteRealmRole()" tooltip="Unassign role" tooltip-placement="left">
                                <span class="kc-icon-arrow-left">Unassign role</span>
                            </button>
                        </div>
                        <div class="select-title">
                            <label class="control-label" for="assigned">Assigned Roles <span tooltip-placement="right" tooltip="Realm level roles assigned to scope." class="fa fa-info-circle"></span></label>
                            <select id="assigned" class="form-control" multiple size=5
                                    ng-multiple="true"
                                    ng-model="selectedRealmMappings"
                                    ng-options="r.name for r in realmMappings">
                            </select>
                        </div>
                        <div class="middle-buttons">
                            -
                        </div>
                        <div class="select-title">
                            <label class="control-label" for="realm-composite">Effective Roles <span tooltip-placement="right" tooltip="Assigned realm level roles that may have been inherited from a composite role." class="fa fa-info-circle"></span></label>
                            <select id="realm-composite" class="form-control" multiple size=5
                                    ng-disabled="true"
                                    ng-model="dummymodel"
                                    ng-options="r.name for r in realmComposite">
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset ng-show="applications.length > 0">
                <legend><span class="text">Application Roles</span> </legend>
                <div class="form-group input-select">
                    <label class="col-sm-2 control-label" for="applications">Application <span tooltip-placement="right" tooltip="Select an application to view or modify additional roles to assign." class="fa fa-info-circle"></span></label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="select-kc">
                                <select id="applications" name="applications" ng-change="changeApplication()" ng-model="targetApp" ng-options="a.name for a in (applications)" ng-disabled="false">
                                    <option value="" selected> Select an Application </option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group" data-ng-show="targetApp">
                    <div class="controls changing-selectors col-sm-10">
                        <div class="select-title">
                            <label class="control-label" for="app-available">Available Roles <span tooltip-placement="right" tooltip="Application roles available to be assigned." class="fa fa-info-circle"></span></label>
                            <select id="app-available" class="form-control" multiple size="5"
                                    ng-multiple="true"
                                    ng-model="selectedApplicationRoles"
                                    ng-options="r.name for r in applicationRoles">
                            </select>
                        </div>
                        <div class="middle-buttons kc-vertical">
                            <button class="btn btn-default" type="submit" ng-click="addApplicationRole()" tooltip="Assign role" tooltip-placement="right">
                                <span class="kc-icon-arrow-right">Move right</span>
                            </button>
                            <button class="btn btn-default" type="submit" ng-click="deleteApplicationRole()" tooltip="Unassign role" tooltip-placement="left">
                                <span class="kc-icon-arrow-left">Move left</span>
                            </button>
                        </div>
                        <div class="select-title">
                            <label class="control-label" for="app-assigned">Assigned Roles <span tooltip-placement="right" tooltip="Assigned application roles." class="fa fa-info-circle"></span></label>
                            <select id="app-assigned" class="form-control" multiple size=5
                                    ng-multiple="true"
                                    ng-model="selectedApplicationMappings"
                                    ng-options="r.name for r in applicationMappings">
                            </select>
                        </div>
                        <div class="middle-buttons">
                            -
                        </div>
                        <div class="select-title">
                            <label class="control-label" for="app-composite">Effective Roles <span tooltip-placement="right" tooltip="Assigned application roles that may have been inherited from a composite role." class="fa fa-info-circle"></span></label>
                            <select id="app-composite" class="form-control" multiple size=5
                                    ng-disabled="true"
                                    ng-model="dummymodel"
                                    ng-options="r.name for r in applicationComposite">
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>