<div class="bs-sidebar col-sm-3" data-ng-include data-src="'partials/realm-menu.html'"></div>
<div id="content-area" class="col-sm-9" role="main">
    <kc-navigation-oauth-client></kc-navigation-oauth-client>
    <div id="content">
        <ol class="breadcrumb" data-ng-hide="create">
            <li><a href="#/realms/{{realm.realm}}/oauth-clients">OAuth Clients</a></li>
            <li><a href="#/realms/{{realm.realm}}/oauth-clients/{{oauth.id}}">{{oauth.name}}</a></li>
            <li class="active">Credentials</li>
        </ol>
        <h2 data-ng-hide="create"><span>{{oauth.name}}</span> Credentials</h2>
        <form class="form-horizontal" name="credentialForm" novalidate kc-read-only="!access.manageClients">
            <fieldset >
                <legend><span class="text">Client Secret</span></legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="secret">Secret</label>
                    <div class="col-sm-4">
                        <input ng-disabled="true" class="form-control" type="text" id="secret" name="secret" data-ng-model="secret" autofocus
                               required>
                    </div>
                </div>
            </fieldset>
            <div class="pull-right form-actions" data-ng-show="access.manageClients">
                <button type="submit" data-ng-click="changePassword()" class="btn btn-primary btn-lg">Regenerate Secret
                </button>
            </div>
        </form>
    </div>
</div>

