<div class="bs-sidebar col-sm-3" data-ng-include data-src="'partials/realm-menu.html'"></div>
<div id="content-area" class="col-md-9" role="main">
    <kc-navigation-oauth-client></kc-navigation-oauth-client>
    <div id="content">
        <ol class="breadcrumb" data-ng-hide="create">
            <li><a href="#/realms/{{realm.realm}}/oauth-clients">OAuth Clients</a></li>
            <li><a href="#/realms/{{realm.realm}}/oauth-clients/{{oauth.id}}">{{oauth.name}}</a></li>
            <li class="active">Installation</li>
        </ol>
        <h2>{{oauth.name}} Adapter Installation <span tooltip-placement="right" tooltip="Helper utility for generating various client adapter configuration formats which you can download or cut and paste to configure your client applications." class="fa fa-info-circle"></span></h2>
        <form class="form-horizontal" name="realmForm" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea class="form-control" rows="20" kc-select-action="click">{{installation | json}}</textarea>
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="pull-right form-actions">
            <a class="btn btn-primary btn-lg" data-ng-click="download()" type="submit">Download</a>
        </div>

    </div>
</div>