<div class="bs-sidebar col-sm-3 " data-ng-include data-src="'partials/realm-menu.html'"></div>
<div id="content-area" class="col-sm-9" role="main">
    <kc-navigation data-kc-current="general" data-kc-realm="realm.realm" data-kc-social="social"></kc-navigation>
    <div id="content">
        <ol class="breadcrumb" data-ng-hide="createRealm">
            <li><a href="#/realms/{{realm.realm}}">{{realm.realm}}</a></li>
            <li><a href="#/realms/{{realm.realm}}">Settings</a></li>
            <li class="active">Login</li>
        </ol>
        <div data-ng-show="access.viewRealm">
            <h2><span>{{realm.realm}}</span> Login Settings</h2>
            <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageRealm">
                <fieldset class="border-top">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="social">Social login</label>
                        <div class="col-sm-4">
                            <input ng-model="realm.social" name="social" id="social" onoffswitch />
                        </div>
                    </div>
                    <div class="form-group" data-ng-show="realm.social">
                        <label class="col-sm-2 control-label" for="updateProfileOnInitialSocialLogin">Update profile on first social login</label>
                        <div class="col-sm-4">
                            <input ng-model="realm.updateProfileOnInitialSocialLogin" name="updateProfileOnInitialSocialLogin" id="updateProfileOnInitialSocialLogin" onoffswitch />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="registrationAllowed" class="col-sm-2 control-label">User registration</label>
                        <div class="col-sm-4">
                            <input ng-model="realm.registrationAllowed" name="registrationAllowed" id="registrationAllowed" onoffswitch />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="resetPasswordAllowed" class="col-sm-2 control-label">Forget password</label>
                        <div class="col-sm-4">
                            <input ng-model="realm.resetPasswordAllowed" name="resetPasswordAllowed" id="resetPasswordAllowed" onoffswitch />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="rememberMe">Remember Me</label>
                        <div class="col-sm-4">
                            <input ng-model="realm.rememberMe" name="rememberMe" id="rememberMe" onoffswitch />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="verifyEmail" class="col-sm-2 control-label">Verify email</label>
                        <div class="col-sm-4">
                            <input ng-model="realm.verifyEmail" name="verifyEmail" id="verifyEmail" onoffswitch />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="passwordCredentialGrantAllowed" class="col-sm-2 control-label">Direct Grant API</label>
                        <div class="col-sm-4">
                            <input ng-model="realm.passwordCredentialGrantAllowed" name="passwordCredentialGrantAllowed" id="passwordCredentialGrantAllowed" onoffswitch />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sslRequired" class="col-sm-2 control-label">Require SSL</label>
                        <div class="col-sm-4">
                            <div class="select-kc">
                                <select id="sslRequired" ng-model="realm.sslRequired">
                                    <option value="all">all requests</option>
                                    <option value="external">external requests</option>
                                    <option value="none">none</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="pull-right form-actions" data-ng-show="access.manageRealm">
                    <button kc-reset data-ng-show="changed">Clear changes</button>
                    <button kc-save  data-ng-show="changed">Save</button>
                </div>
            </form>
        </div>
        <div data-ng-hide="access.viewRealm">
            <h2 ><span>{{realm.realm}}</span></h2>
        </div>

    </div>
</div>