<div class="bs-sidebar col-sm-3 " data-ng-include data-src="'partials/realm-menu.html'"></div>
<div id="content-area" class="col-sm-9" role="main">
    <data-kc-navigation data-kc-current="keys" data-kc-realm="realm.realm" data-kc-social="realm.social"></data-kc-navigation>
    <h2></h2>
    <div id="content">
        <h2><span>{{realm.realm}}</span> Realm Public Key <span tooltip-placement="right" tooltip="Realm's public key.  This is used to verify any signed tokens or documents created by the realm." class="fa fa-info-circle"></span></h2>
        <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageRealm">
            <fieldset class="border-top">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="publicKey">Public key</label>

                    <div class="col-sm-10">
                        <textarea type="text" id="publicKey" name="publicKey" class="form-control" rows="5"
                                  kc-select-action="click" readonly>{{realm.publicKey}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="certificate">Certificate</label>

                    <div class="col-sm-10">
                        <textarea type="text" id="certificate" name="certificate" class="form-control" rows="5"
                                  kc-select-action="click" readonly>{{realm.certificate}}</textarea>
                    </div>
                </div>
            </fieldset>
            <div class="pull-right form-actions" data-ng-show="access.manageRealm">
                <button class="btn btn-primary btn-lg" type="submit" data-ng-click="generate()">Generate new keys</button>
            </div>
        </form>
    </div>
</div>