<div class="bs-sidebar col-sm-3 " data-ng-include data-src="'partials/realm-menu.html'"></div>
<div id="content-area" class="col-sm-9" role="main">
    <kc-navigation data-kc-current="general" data-kc-realm="realm.realm" data-kc-social="social"></kc-navigation>
    <h2></h2>
    <div id="content">
        <div data-ng-show="access.viewRealm">
            <h2><span>{{realm.realm}}</span> Cache Settings</h2>
            <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageRealm">
                <fieldset class="border-top">
                     <div class="form-group">
                        <label class="col-sm-2 control-label" for="realmCacheEnabled">Realm Cache Enabled</label>
                        <div class="col-sm-4">
                            <input ng-model="realm.realmCacheEnabled" name="realmCacheEnabled" id="realmCacheEnabled" onoffswitch />
                        </div>
                         <span tooltip-placement="right" tooltip="Enable/disable cache for realm, application, oauth client, and role data." class="fa fa-info-circle"></span>
                     </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="userCacheEnabled">User Cache Enabled</label>
                        <div class="col-sm-4">
                            <input ng-model="realm.userCacheEnabled" name="userCacheEnabled" id="userCacheEnabled" onoffswitch />
                        </div>
                        <span tooltip-placement="right" tooltip="Enable/disable user and user role mapping cache." class="fa fa-info-circle"></span>
                    </div>
                </fieldset>
                <div class="pull-right form-actions" data-ng-show="access.manageRealm">
                    <button kc-reset data-ng-show="changed">Clear changes</button>
                    <button kc-save  data-ng-show="changed">Save</button>
                </div>
            </form>
        </div>
        <div data-ng-hide="access.viewRealm">
            <h2 ><span>{{realm.realm}}</span></h2>
        </div>

    </div>
</div>