<div class="bs-sidebar col-sm-3 " data-ng-include data-src="'partials/realm-menu.html'"></div>
<div id="content-area" class="col-sm-9" role="main">
    <ul class="nav nav-tabs nav-tabs-pf">
        <li class="active"><a href="#/realms/{{realm.realm}}/roles">Realm Roles</a></li>
        <li><a href="#/realms/{{realm.realm}}/default-roles">Default Roles</a></li>
    </ul>
    <h2></h2>
    <div id="content">
        <h2><span>{{realm.realm}}</span> Realm-Level Roles</h2>

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th class="kc-table-actions" colspan="3">
                        <div class="search-comp clearfix">
                            <input type="text" placeholder="Search..." data-ng-model="searchQuery" class="form-control search">
                            <button class="kc-icon-search" tooltip-placement="right"
                                    tooltip="Search by name">
                                Icon: search
                            </button>
                        </div>
                        <div class="pull-right" data-ng-show="access.manageRealm">
                            <a class="btn btn-primary" href="#/create/role/{{realm.realm}}">Add Role</a>
                            <!-- <button class="remove disabled">Remove</button> -->
                        </div>
                    </th>
                </tr>
                <tr data-ng-show="roles && roles.length > 0">
                    <th>Role Name</th>
                    <th>Composite</th>
                    <th>Description</th>
                </tr>
                </thead>
                <!--
                <tfoot data-ng-show="roles && roles.length > 5">
                <tr>
                    <td colspan="3">
                        <div class="table-nav">
                            <a href="#" class="first disabled">First page</a>
                            <a href="#" class="prev disabled">Previous page</a><span><strong>1-8</strong> of <strong>10</strong></span>
                            <a href="#" class="next">Next page</a><a href="#" class="last">Last page</a>
                        </div>
                    </td>
                </tr>
                </tfoot>
                 -->
                <tbody>
                <tr ng-repeat="role in roles | filter:{name: searchQuery}">
                    <td><a href="#/realms/{{realm.realm}}/roles/{{role.name}}">{{role.name}}</a></td>
                    <td>{{role.composite}}</td>
                    <td>{{role.description}}</td>
                </tr>
                <tr data-ng-show="!roles || roles.length == 0">
                    <td>No realm roles available</td>
                </tr>
                </tbody>
            </table>
    </div>
</div>
