<div class="bs-sidebar col-md-3 clearfix" data-ng-include data-src="'partials/realm-menu.html'"></div>
<div id="content-area" class="col-md-9" role="main">
    <ul class="nav nav-tabs nav-tabs-pf">
        <li><a href="#/realms/{{realm.realm}}/users/{{user.username}}">Attributes</a></li>
        <li><a href="#/realms/{{realm.realm}}/users/{{user.username}}/user-credentials">Credentials</a></li>
        <li><a href="#/realms/{{realm.realm}}/users/{{user.username}}/role-mappings">Role Mappings</a></li>
        <li class="active"><a href="#/realms/{{realm.realm}}/users/{{user.username}}/sessions">Sessions</a></li>
        <li data-ng-show="realm.social"><a href="#/realms/{{realm.realm}}/users/{{user.username}}/social-links">Social Links</a></li>
    </ul>
    <div id="content">
        <ol class="breadcrumb">
            <li><a href="#/realms/{{realm.realm}}">{{realm.realm}}</a></li>
            <li><a href="#/realms/{{realm.realm}}/users">Users</a></li>
            <li><a href="#/realms/{{realm.realm}}/users/{{user.username}}">{{user.username}}</a></li>
            <li class="active">User Sessions</li>
        </ol>
        <h2><span>{{user.username}}</span> Sessions</h2>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="kc-table-actions" colspan="5">
                    <div class="pull-right">
                        <a class="btn btn-primary" ng-click="logoutAll()">Logout All Sessions</a>
                    </div>
                </th>
            </tr>
            <tr>
                <th>IP Address</th>
                <th>Login Time</th>
                <th>Applications</th>
                <th>OAuth Clients</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="session in sessions">
                <td>{{session.ipAddress}}</td>
                <td>{{session.start | date:'medium'}}</td>
                <td><ul style="list-style: none; ">
                    <li data-ng-repeat="app in session.applications">
                        <a href="#/realms/{{realm.realm}}/applications/{{app}}/sessions">{{app}}</a>
                    </li>
                </ul>
                </td>
                <td><ul style="list-style: none; ">
                    <li data-ng-repeat="(clientId, clientName) in session.clients">
                        <a href="#/realms/{{realm.realm}}/oauth-clients/{{clientId}}">{{clientName}}</a>
                    </li>
                </ul>
                </td>
                <td><a ng-click="logoutSession(session.id)">logout</a> </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>