<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2010, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->
<module xmlns="urn:jboss:module:1.5" name="sun.scripting">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    <resources>
        <!-- currently jboss modules has not way of importing services from
        classes.jar so we duplicate them here -->
        <resource-root path="service-loader-resources"/>
    </resources>
    <dependencies>
        <system export="true">
            <paths>
                <path name="apple/applescript"/>
                <path name="com/sun/script/javascript"/>
                <path name="jdk/nashorn/api/scripting"/>
                <path name="jdk/nashorn/api/scripting/resources"/>
                <path name="jdk/nashorn/internal/codegen"/>
                <path name="jdk/nashorn/internal/codegen/types"/>
                <path name="jdk/nashorn/internal/ir"/>
                <path name="jdk/nashorn/internal/ir/annotations"/>
                <path name="jdk/nashorn/internal/ir/debug"/>
                <path name="jdk/nashorn/internal/ir/visitor"/>
                <path name="jdk/nashorn/internal/lookup"/>
                <path name="jdk/nashorn/internal/objects"/>
                <path name="jdk/nashorn/internal/objects/annotations"/>
                <path name="jdk/nashorn/internal/parser"/>
                <path name="jdk/nashorn/internal/runtime"/>
                <path name="jdk/nashorn/internal/runtime/arrays"/>
                <path name="jdk/nashorn/internal/runtime/linker"/>
                <path name="jdk/nashorn/internal/runtime/options"/>
                <path name="jdk/nashorn/internal/runtime/regexp"/>
                <path name="jdk/nashorn/internal/runtime/regexp/joni"/>
                <path name="jdk/nashorn/internal/runtime/resources"/>
                <path name="jdk/nashorn/internal/runtime/resources/fx"/>
                <path name="jdk/nashorn/internal/runtime/scripts"/>
                <path name="jdk/nashorn/internal/tools"/>
                <path name="jdk/nashorn/internal/tools/resources"/>
                <path name="jdk/internal/dynalink"/>
                <path name="jdk/internal/dynalink/beans"/>
                <path name="jdk/internal/dynalink/linker"/>
                <path name="jdk/internal/dynalink/support"/>
                <path name="META-INF/services"/>
            </paths>
            <exports>
                <include-set>
                    <path name="META-INF/services"/>
                </include-set>
            </exports>
        </system>
    </dependencies>
</module>
