<div class="modal-dialog" tabindex="-1" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <span class="pficon pficon-close"></span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
        </div>
        <div class="modal-body"><p ng-bind-html-unsafe="message"></p></div>
        <div class="modal-footer">
            <button ng-repeat="btn in buttons" ng-click="close(btn.result)" class="" ng-class="btn.cssClass">{{ btn.label }}</button>
        </div>
    </div>
</div>