fieldset {
  border: none;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  font-size: 1.1em;
  padding: 0 0.545454545454545em;
  min-width: 18.1818181818182em;
  height: 2.18181818181818em;
  border: 1px #b6b6b6 solid;
  border-radius: 2px;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  color: #333;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
  border-color: #62afdb;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-color: #62afdb;
  box-shadow: #62afdb 0 0 5px;
}
input[type="text"].error,
input[type="password"].error,
input[type="email"].error {
  border-color: #ba1212;
  background-color: #f8e7e7;
  transition: all 0.33s ease-in-out;
  -moz-transition: all 0.33s ease-in-out;
  -webkit-transition: all 0.33s ease-in-out;
}
input[type="text"].error:focus,
input[type="password"].error:focus,
input[type="email"].error:focus {
  box-shadow: 0 0 5px #ba1212;
}
input[type="button"],
input[type="submit"] {
  font-size: 1.3em;
  padding: 0.30769230769231em 1.07692307692308em;
  border-width: 1px;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.04em;
}
input[type="submit"] {
  background-image: linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -o-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -moz-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -webkit-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -ms-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00a9ec), color-stop(1, 0, #009bd3));
  border-color: #21799e;
  border-style: solid;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #009BD3;
}
input[type="submit"]:active {
  background-color: #0099d4;
}
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-image: none;
  cursor: pointer;
}
input[type="button"]:active,
input[type="submit"]:active {
  background-image: none;
  cursor: pointer;
  box-shadow: inset 0 0 5px 3px #0074ae;
}
input[type="checkbox"] {
  margin-right: 0.5em;
}
.feedback {
  position: absolute;
  opacity: 0;
  transition: opacity 0.33s ease-in-out;
  -moz-transition: opacity 0.33s ease-in-out;
  -webkit-transition: opacity 0.33s ease-in-out;
}
.feedback.show {
  opacity: 1;
}
.feedback.error {
  background-image: url(img/feedback-error-arrow-down.svg);
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-bottom: 1em;
}
.feedback.error p {
  border-color: #b91415;
  background-image: url(img/feedback-error-sign.svg);
  background-color: #f8e7e7;
  color: #4d5258;
}
.feedback p {
  padding: 1em 3.63636363636364em;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  background-repeat: no-repeat;
  background-position: 1.27272727272727em 1.63636363636364em;
  font-size: 1.1em;
  line-height: 1.27272727272727em;
  border-radius: 2px;
}
