<div id="content-area" class="col-md-9" role="main">
  <div id="content">
    <h1>{{title}}</h1>
    <h2><span>Products</span></h2>
    <button type="button" (click)="logout()">Sign Out</button>
    <button type="button" id="reload-data" (click)="reloadData()">Reload</button>
    <table class="table" [hidden]="!products.length">
      <thead>
      <tr>
        <th>Product Listing</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of products">
        <td>{{p}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
