
table tfoot tr .table-nav {
    float: right;
}
table tfoot tr .table-nav a,
table tfoot tr .table-nav button {
    display: inline-block;
    line-height: 22px;
    border-left: 1px solid #d9d9d9;
    border-right: none;
    border-top: none;
    border-bottom: none;
    width: 3.5em;
    background-color: #f3f3f3;
    background-image: linear-gradient(top, #fafafa 0%, #ededed 100%);
    background-image: -o-linear-gradient(top, #fafafa 0%, #ededed 100%);
    background-image: -moz-linear-gradient(top, #fafafa 0%, #ededed 100%);
    background-image: -webkit-linear-gradient(top, #fafafa 0%, #ededed 100%);
    background-image: -ms-linear-gradient(top, #fafafa 0%, #ededed 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, 0, #ededed));
    text-indent: -99999em;
    background-image: url(img/sprite-table-nav.png);
    background-repeat: no-repeat;
    background-position: left top;
    vertical-align: top;
}
table tfoot tr .table-nav a.last,
table tfoot tr .table-nav button.last {
    background-position: top right;
}
table tfoot tr .table-nav a.prev,
table tfoot tr .table-nav button.prev {
    background-position: bottom left;
}
table tfoot tr .table-nav a.next,
table tfoot tr .table-nav button.next {
    background-position: bottom right;
}
table tfoot tr .table-nav a:hover,
table tfoot tr .table-nav button:hover {
    background-image: url(img/sprite-table-nav.png);
    background-color: #eeeeee;
}
table tfoot tr .table-nav a:active,
table tfoot tr .table-nav button:active {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25) inset;
}
table tfoot tr .table-nav a.disabled,
table tfoot tr .table-nav button:disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: default;
}
table tfoot tr .table-nav a.disabled:active,
table tfoot tr .table-nav button:disabled:active {
    box-shadow: none;
}
table tfoot tr .table-nav span {
    font-size: 1.1em;
    border-left: 1px solid #d9d9d9;
    line-height: 2.18181818181818em;
    display: inline-block;
    padding: 0 1.36363636363636em;
}


td.events-success {
    background-color: #E4F1E1 !important;
}

td.events-error {
    background-color: #F8E7E7 !important;
}


/*
table {
  width: 100%;
  border: 1px #dcdcdc solid;
  border-spacing: 0;
}
table caption {
  text-align: left;
  font-weight: bold;
  padding: 11.5px;
}
table tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}
table tbody tr:nth-child(odd) {
  background-color: #fff;
}
table tbody tr td,
table thead tr th {
  font-weight: normal;
  padding: 6px 15px;
  font-size: 11.5px;
  border-top: 1px #ebebeb;
  border-right: 1px #dcdcdc solid;
  text-align: left;
}
.kc-table-actions {
  padding: 1px;
  border-top: none;
}
.kc-table-actions {
  padding: 1px;
}
.kc-table-number {
  text-align: right;
  width: 100px;
}
table thead tr th {
  font-weight: bold;
  border: none;
  border-right: 1px #dcdcdc solid;
  background-image: linear-gradient(top, #fafafa 0%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 100%);
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, #fafafa 0%, #eeeeee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, 0, #eeeeee));
  border-bottom: 1px #cedede solid;
}
table thead tr th button,
table thead tr th .button {
  margin-left: 0.72727272727273em;
}
table tbody tr:first-child td {
  border-top: 1px solid #f2f2f2;
}





.kc-table-actions button + button,
.kc-table-actions .button + button {
  margin-left: 5px;
}
.kc-table-actions div.actions {
  float: right;
  font-size: 0.90909090909091em;
}
table tbody tr {
  border-top: 1px solid #ededed;
}
table tbody tr:hover {
  cursor: default;
}
table tbody tr td {
  vertical-align: middle;
}
table tbody tr td.token-cell {
  padding: 0 0.7em;
  line-height: 0;
}
table tbody tr td.token-cell .token {
  padding-top: 0.18181818181818em;
  padding-bottom: 0.18181818181818em;
  margin-top: 6px;
  margin-bottom: 5px;
}
table tbody tr td.token-cell button {
  float: left;
  margin-bottom: 7px;
  margin-top: 8px;
}
table tbody.selectable-rows tr:hover {
  cursor: pointer;
  background-color: #ebebeb;
}
table tbody.selectable-rows tr:first-child td {
  padding-top: 9px;
}
table tbody.selectable-rows tr.selected,
table tbody.selectable-rows tr.selected:hover {
  background-color: #eaf5fb;
}
table tbody.selectable-rows tr.selected td:first-child,
table tbody.selectable-rows tr.selected:hover td:first-child {
  background-image: url(img/icon-row-selected.svg);
  background-position: 0.2em center;
  background-repeat: no-repeat;
}
table tfoot tr {
  border-top: 1px solid #cecece;
}

.kc-table-actions > * {
    vertical-align: middle;
}

td .form-group {
    margin-bottom: 0;
}

.kc-table-actions .form-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

.kc-table-actions select {
    height: 26px;
}
*/