<ol class="breadcrumb" id="breadcrumbs">
  <li><a href="#">{{'resources' | translate}}</a>
  </li>
  <li class="active"> <strong>Alice Family</strong>
  </li>
</ol>

<div class="col-sm-12 card-pf resources-list">
  <div class="resources-header">
    <span class="fa fa-file"></span>
    <h1>Alice Family</h1>
    <div class="resources-info">
      <span>Access management</span>
      <span><label>{{'application' | translate}}:</label> <a href="#">photoz-rest-api</a> </span>
      <span><label>{{'owner' | translate}}:</label> Christ Ma</span>
    </div>
  </div>
  <div class="card-pf-body row">
    <div class="m-t">
      <div id="pf-list-var3" class="list-group list-view-pf list-view-resources list-view-detail">
        <div class="list-group-item pfng-list-heading list-head-labels list-view-pf-stacked list-view-pf-top-align">
          <div class="list-view-pf-actions list-view-space">
          </div>
          <div class="list-view-pf-main-info">
            <div class="list-view-pf-body row">
                <div class="list-group-item-heading col-md-4">
                  {{'sharedwithMe' | translate}}
                </div>
                <div class="col-md-3">
                  {{'accessPermissions' | translate}}
                </div>
                <div class="col-md-3">
                  {{'permissionRequests' | translate}}
                </div>
                <div class="col-md-2">
                  {{'Status' | translate}}
                </div>
            </div>
          </div>
        </div>

        <div class="list-group-item list-view-pf-stacked list-view-pf-top-align">
          <div class="list-view-pf-actions list-view-pf-status">
            <div class="dropdown pull-right dropdown-kebab-pf">
              <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight3">
                <li><a href="#">{{'remove' | translate}}</a></li>
              </ul>
            </div>
          </div>
          <div class="list-view-pf-main-info">
            <div class="list-view-pf-body row">
                <div class="list-group-item-heading col-md-4">
                  Martin Liu (you)
                  <small>jhonsmith@paternfly.com</small>
                </div>
                <div class="list-view-pf-additional-info-item col-md-3 no-paddding-re">
                  Read, Battery, Test-date, Status
                </div>
                <div class="col-md-3 permission-requests-labels my-requests-labels no-paddding-re">
                  <ul class="list-inline m-b-s">
                    <li>
                      <span class="label label-info">
                        Status
                      </span>
                    </li>
                    <li>
                      <span class="label label-info">
                        Time
                      </span>
                    </li>
                    <li>
                      <span class="label label-info">
                        Beta
                      </span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-2 no-paddding-re">
                  <span class="label label-warning">{{'waitingforApproval' | translate}}</span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
