@IMPORT url("../../rcue/css/styles.css");

body.kc-login-register {
    background-color: #114872;
    background-image: url("../img/login-bg.png");
}

.kc-login-register .background-area {
    background-color: rgba(0, 0, 0, 0.25);
}

a {
    color: #3faae4;
}

input[type="button"].btn-primary,
button.btn-primary,
input[type="submit"].btn-primary,
a.button.btn-primary {
    background-color: #198bc9;
    background-image: linear-gradient(top, #1f97d8 0%, #1280bc 100%);
    background-image: -o-linear-gradient(top, #1f97d8 0%, #1280bc 100%);
    background-image: -moz-linear-gradient(top, #1f97d8 0%, #1280bc 100%);
    background-image: -webkit-linear-gradient(top, #1f97d8 0%, #1280bc 100%);
    background-image: -ms-linear-gradient(top, #1f97d8 0%, #1280bc 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1f97d8), color-stop(1, 0, #1280bc));
    border-color: #005e91;
}