.kc__effective_message_bundles_search_selector_dropdown__toggle {
  --pf-c-dropdown__toggle--MinWidth: 21rem;
  position: relative;
  z-index: 1;
}

.kc__effective_message_bundles_search__form {
  --pf-c-form--m-horizontal__group-control--md--GridColumnWidth: 24rem;
  --pf-c-form__group--m-action--MarginTop: 0rem;
  --pf-c-form--m-horizontal__group-label--md--GridColumnWidth: 5rem;
}

.pf-c-chip__text {
  overflow: visible;
}
