.kc-dropdown{
    position: relative;
}
.kc-dropdown > a{
    position: absolute;
    right: 0px;
    display:block;
    padding: 11px 10px 12px;
    line-height: 12px;
    font-size: 12px;
    color: #fff !important;
    text-decoration: none;
}
.kc-dropdown > a::after{
    content: "\2c5";
    margin-left: 4px;
}
.kc-dropdown:hover > a{
    background-color: rgba(0,0,0,0.2);
}
.kc-dropdown ul li a{
    padding: 1px 11px;
    font-size: 12px;
    color: #000 !important;
    border: 1px solid #fff;
    text-decoration: none;
    display:block;
    line-height: 20px;
}
.kc-dropdown ul li a:hover{
    color: #4d5258;
    background-color: #d4edfa;
    border-color: #b3d3e7;
}
.kc-dropdown ul{
    position: absolute;
    right: 0px;
    top: 35px;
    z-index: 2000;
    list-style:none;
    display:none;
    padding: 5px 0px;
    margin: 0px;
    background-color: #fff !important;
    border: 1px solid #b6b6b6;
    border-radius: 1px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    min-width: 100px;
}
.kc-dropdown:hover ul{
    display:block;
}

.login-pf .container {
    padding-top: 40px;
}

.login-pf a:hover {
    color: #0099d3;
}

#kc-logo {
    width: 100%;
}

#kc-logo-wrapper {
    background-image: url("../img/keycloak-logo.png");
    background-repeat: no-repeat;
    background-position: top right;

    height: 37px;

    margin: 50px;
}

#kc-header {
    overflow: visible;
    padding-left: 80px;
    white-space: nowrap;
}

#kc-header-wrapper {
    font-size: 26px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-bottom: 15px;
}

#kc-container-wrapper {
    bottom: 13%;
    position: absolute;
    width: 100%;
}

#kc-content {
    position: relative;
}

#kc-content-wrapper {
    overflow-y: hidden;
}

#kc-info {
    padding-bottom: 200px;
    margin-bottom: -200px;
}

#kc-info-wrapper {
    font-size: 13px;
}

#kc-form-options span {
    display: block;
}

#kc-login {
    float: right;
    margin-left: 10px;
}

#kc-feedback-wrapper {
    display: inline-block;
    width: auto;
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-bottom: 10px;
}

#kc-feedback span {
    display: block;
    padding: 0.90909090909091em 3.63636363636364em;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    background-repeat: no-repeat;
    background-position: 1.27272727272727em center;
    font-weight: normal;
    line-height: 1.4em;
    border-radius: 2px;
    color: #4d5258;
    margin-bottom: 0;
}

.feedback-error #kc-feedback-wrapper {
    background-image: url(../img/feedback-error-arrow-down.png);
}
.feedback-error span {
    border-color: #b91415;
    background-image: url(../img/feedback-error-sign.png);
    background-color: #f8e7e7;
}

.feedback-success #kc-feedback-wrapper {
    background-image: url(../img/feedback-success-arrow-down.png);
}
.feedback-success span {
    border-color: #4b9e39;
    background-image: url(../img/feedback-success-sign.png);
    background-color: #e4f1e1;
}

.feedback-warning #kc-feedback-wrapper {
    background-image: url(../img/feedback-warning-arrow-down.png);
}
.feedback-warning span {
    border-color: #f17528;
    background-image: url(../img/feedback-warning-sign.png);
    background-color: #fef1e9;
}

#kc-registration {
    margin-bottom: 15px;
}

/* TOTP */

ol#kc-totp-settings {
    margin: 0;
    padding: 0;
}

ol#kc-totp-settings li {
    margin-top: 1em;
}

ol#kc-totp-settings li:first-of-type {
    margin-top: 0;
}

/* OAuth */

#kc-oauth h3 {
    margin-top: 0;
}

#kc-oauth ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#kc-oauth ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    padding: 10px 30px;
}

#kc-oauth ul li:first-of-type {
    border-top: 0;
}

#kc-oauth .kc-role {
    display: inline-block;
    width: 50%;
}

/* Code */
#kc-code textarea {
    width: 100%;
    height: 8em;
}

/* Social */

#kc-social-providers ul {
    padding: 0;
    margin: 0;
}

#kc-social-providers li {
    display: block;
    margin-top: 5px;
}

#kc-social-providers li:first-of-type {
    margin-top: 0;
}

.zocial {
    width: 125px;
}

.zocial:hover {
    color: #fff !important;
}

.zocial.facebook,
.zocial.github,
.zocial.google,
.zocial.twitter {
    background-image: none;
    border-radius: 2px;

    font-family: "Open Sans", sans-serif;
    font-weight: normal;

    box-shadow: none;
    text-shadow: none;
}

.zocial.google {
    background-color: #dd4b39 !important;
}
.zocial.google .text:after {
    content: "+";
}

.zocial.facebook:hover,
.zocial.github:hover,
.zocial.google:hover,
.zocial.twitter:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%) !important;
}

@media (max-width: 767px) {
    #kc-logo-wrapper {
        margin-top: 30px;
        margin-right: 15px;
    }

    #kc-header {
        padding-left: 15px;
        padding-right: 15px;
        float: none;
    }

    #kc-feedback {
        padding-left: 15px;
        padding-right: 15px;
        float: none;
    }

    #kc-form {
        float: none;
    }

    #kc-info-wrapper {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 15px;
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 15px;
    }

    #kc-social-providers li {
        display: inline-block;
        margin-right: 5px;
    }

    .login-pf .container {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (max-height: 500px) {
    #kc-container-wrapper {
        position: inherit;
        float: none;
    }
}
