.pf-c-card.pf-m-flat.kc-login-screen,
.pf-c-card.pf-m-flat.kc-email-settings,
.pf-c-card.pf-m-flat.kc-email-template,
.pf-c-card.pf-m-flat.kc-email-connection,
.pf-c-card.pf-m-flat.kc-message-bundles,
.pf-c-card.pf-m-flat.kc-sso-session-template,
.pf-c-card.pf-m-flat.kc-client-session-template,
.pf-c-card.pf-m-flat.kc-offline-session-template,
.pf-c-card.pf-m-flat.kc-login-settings-template {
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: var(--pf-global--spacer--sm);
}

article.pf-c-card.pf-m-flat.kc-email-template
  > .pf-c-card__header.kc-form-panel__header,
article.pf-c-card.pf-m-flat.kc-email-connection
  > .pf-c-card__header.kc-form-panel__header {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.kc-login-screen > div.pf-c-card__header.kc-form-panel__header,
.kc-email-settings > div.pf-c-card__header.kc-form-panel__header {
  padding-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

.kc-email-settings > div.pf-c-card__body.kc-form-panel__body,
.kc-login-screen > div.pf-c-card__body.kc-form-panel__body {
  padding-left: 0px;
  padding-bottom: var(--pf-global--spacer--2xl);
}

.kc-email-template > div.pf-c-card__body.kc-form-panel__body {
  padding-left: 0px;
  padding-bottom: var(--pf-global--spacer--2xl);
}

button#kc-certificate.pf-c-button.pf-m-secondary {
  margin-left: var(--pf-global--spacer--md);
}

.pf-c-data-list__item-row.test {
  font-weight: bold;
}

.pf-c-data-list__item-content.data-list-cells {
  margin-left: var(--pf-global--spacer--xl);
}

button.pf-c-data-list__item-draggable-button.pf-m-disabled.header-drag-button {
  display: none;
}

button.pf-c-data-list__item-draggable-button.row-drag-button {
  padding-top: var(--pf-global--spacer--md);
}

.pf-c-data-list__item-control {
  margin-right: 0px;
}

.pf-c-data-list__item-row.test {
  font-weight: bold;
}

button.pf-c-button.pf-m-link.add-provider {
  padding: 0px;
}

.pf-c-toolbar__group.providers-toolbar {
  padding-left: var(--pf-c-toolbar__content--PaddingLeft);
}

div#login-action-timeout-label > .pf-c-form__group-label,
div#offline-session-max-label > .pf-c-form__group-label {
  width: 90%;
}

div#offline-session-max-label > .pf-c-form__group-label {
  width: 85%;
}

.add-provider-modal > div.pf-c-modal-box__body {
  overflow: visible;
}

.pf-c-content.messageBundleDescription {
  max-width: 1024px;
  padding-bottom: var(--pf-global--spacer--lg);
}

.kc-message-bundles > .pf-c-card__body.kc-form-panel__body > div.tableBorder {
  border-style: solid;
  border-width: 1px;
  border-color: var(--pf-global--BorderColor--100);
  max-width: 1024px;
}

.pf-c-form__group.kc-email-form-group {
  display: inline-block !important;
}

.pf-c-content.kc-provide-email-text {
  padding-bottom: var(--pf-global--spacer--md);
}

.kc-sso-session-idle-input,
.kc-sso-session-max-input,
.kc-sso-session-max-input,
.kc-sso-session-idle-remember-me-input,
.kc-sso-session-max-remember-me-input,
.kc-offline-session-idle-input,
.kc-offline-session-max-input,
.kc-client-session-idle-input,
.kc-client-session-max-input,
.kc-login-timeout-input,
.kc-login-action-timeout-input {
  width: 170px;
  margin-right: 12px;
}

.kc-sso-session-idle-select,
.kc-sso-session-max-select,
.kc-sso-session-idle-remember-me-select,
.kc-sso-session-max-remember-me-select,
.kc-client-session-idle-select,
.kc-client-session-max-select,
.kc-offline-session-idle-select,
.kc-offline-session-max-select,
.kc-login-action-timeout-select,
.kc-sso-session-idle-select.pf-m-expanded,
.kc-sso-session-max-select.pf-m-expanded {
  width: 170px;
}

article.pf-c-card.pf-m-flat.kc-sso-session-template
  > .pf-c-card__header.kc-form-panel__header,
article.pf-c-card.pf-m-flat.kc-sso-session-template
  > .pf-c-card__body.kc-form-panel__body,
article.pf-c-card.pf-m-flat.kc-client-session-template
  > .pf-c-card__header.kc-form-panel__header,
article.pf-c-card.pf-m-flat.kc-client-session-template
  > .pf-c-card__body.kc-form-panel__body,
article.pf-c-card.pf-m-flat.kc-offline-session-template
  > .pf-c-card__header.kc-form-panel__header,
article.pf-c-card.pf-m-flat.kc-offline-session-template
  > .pf-c-card__body.kc-form-panel__body,
article.pf-c-card.pf-m-flat.kc-login-settings-template
  > .pf-c-card__header.kc-form-panel__header,
article.pf-c-card.pf-m-flat.kc-login-settings-template
  > .pf-c-card__body.kc-form-panel__body {
  padding: 0px;
}
