<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title">{{:: 'register-required-action' | translate}}</h4>
</div>
<div class="modal-body">
    <form>
        <div>
            <label class="control-label" for="selector">{{:: 'required-action' | translate}}</label>
            <select id="selector" class="form-control"
                    ng-model="selected.selected"
                    ng-options="r.name for r in unregisteredRequiredActions">
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">{{:: 'cancel' | translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">{{:: 'ok' | translate}}</button>
</div>