.keycloak__authentication__title {
  width: fit-content;
  width: -moz-fit-content;
}

.keycloak__authentication__title .pf-v5-c-card__body {
  padding-bottom: var(--pf-v5-global--spacer--sm);
  padding-top: var(--pf-v5-global--spacer--sm);
}
