.pf-v6-c-button.keycloak__permissions__empty_state {
  color: var(--pf-v6-c-button--disabled--Color);
  background-color: var(--pf-v6-c-button--disabled--BackgroundColor);
  --pf-v6-c-button--after--BorderWidth: 0;
}
