<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <h1>Authentication</h1>

    <kc-tabs-authentication></kc-tabs-authentication>

    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageRealm">
        <div class="form-group">
            <label for="browser" class="col-md-2 control-label">Browser Flow</label>
            <div class="col-md-2">
                <div>
                    <select id="browser" ng-model="realm.browserFlow" class="form-control" ng-options="flow.alias as flow.alias for flow in flows">
                    </select>
                </div>
            </div>
            <kc-tooltip>Select the flow you want to use for browser authentication.</kc-tooltip>
        </div>
        <div class="form-group">
            <label for="registration" class="col-md-2 control-label">Registration Flow</label>
            <div class="col-md-2">
                <div>
                    <select id="registration" ng-model="realm.registrationFlow" class="form-control" ng-options="flow.alias as flow.alias for flow in flows">
                    </select>
                </div>
            </div>
            <kc-tooltip>Select the flow you want to use for registration.</kc-tooltip>
        </div>
        <div class="form-group">
            <label for="grant" class="col-md-2 control-label">Direct Grant Flow</label>
            <div class="col-md-2">
                <div>
                    <select id="grant" ng-model="realm.directGrantFlow" class="form-control" ng-options="flow.alias as flow.alias for flow in flows">
                    </select>
                </div>
            </div>
            <kc-tooltip>Select the flow you want to use for direct grant authentication.</kc-tooltip>
        </div>

        <div class="form-group">
            <label for="resetCredentials" class="col-md-2 control-label">Reset Credentials</label>
            <div class="col-md-2">
                <div>
                    <select id="resetCredentials" ng-model="realm.resetCredentialsFlow" class="form-control" ng-options="flow.alias as flow.alias for flow in flows">
                    </select>
                </div>
            </div>
            <kc-tooltip>Select the flow you want to use when the user has forgotten their credentials.</kc-tooltip>
        </div>

        <div class="form-group">
            <label for="resetCredentials" class="col-md-2 control-label">Client Authentication</label>
            <div class="col-md-2">
                <div>
                    <select id="clientAuthentication" ng-model="realm.clientAuthenticationFlow" class="form-control" ng-options="flow.alias as flow.alias for flow in clientFlows">
                    </select>
                </div>
            </div>
            <kc-tooltip>Select the flow you want to use for authentication of clients.</kc-tooltip>
        </div>

        <div class="form-group" data-ng-show="access.manageRealm">
            <div class="col-md-10 col-md-offset-2">
                <button kc-save data-ng-disabled="!changed">Save</button>
                <button kc-reset data-ng-disabled="!changed">Cancel</button>
            </div>
        </div>
    </form>

</div>


<kc-menu></kc-menu>