<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">

    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/client-scopes">{{:: 'client-scopes' | translate}}</a></li>
        <li>{{clientScope.name}}</li>
    </ol>

    <kc-tabs-client-scope></kc-tabs-client-scope>

        <h2><span>{{clientScope.name}}</span> {{:: 'scope-mappings' | translate}} </h2>
        <p class="subtitle"></p>

        <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageClients">
            <div class="form-group">
                <label class="col-md-2 control-label" class="control-label">{{:: 'realm-roles' | translate}}</label>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label" for="available">{{:: 'available-roles' | translate}}</label>
                            <kc-tooltip>{{:: 'scope.available-roles.tooltip' | translate}}</kc-tooltip>

                            <select id="available" class="form-control overflow-select" multiple size="5"
                                    ng-multiple="true"
                                    ng-model="selectedRealmRoles">
                                <option ng-repeat="r in realmRoles | orderBy:'name'" value="{{r}}" title="{{r.name}}">
                                    {{r.name}}
                                </option>
                            </select>
                            <button ng-disabled="selectedRealmRoles.length == 0" class="btn btn-default" type="submit" ng-click="addRealmRole()">
                                {{:: 'add-selected' | translate}} <i class="fa fa-angle-double-right"></i>
                            </button>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label" for="assigned">{{:: 'assigned-roles' | translate}}</label>
                            <kc-tooltip>{{:: 'assigned-roles.tooltip' | translate}}</kc-tooltip>
                            <select id="assigned" class="form-control overflow-select" multiple size=5
                                    ng-multiple="true"
                                    ng-model="selectedRealmMappings">
                                <option ng-repeat="r in realmMappings | orderBy:'name'" value="{{r}}" title="{{r.name}}">
                                    {{r.name}}
                                </option>
                            </select>
                            <button ng-disabled="selectedRealmMappings.length == 0" class="btn btn-default" type="submit" ng-click="deleteRealmRole()">
                                <i class="fa fa-angle-double-left"></i> {{:: 'remove-selected' | translate}}
                            </button>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label" for="realm-composite">{{:: 'effective-roles' | translate}}  </label>
                            <kc-tooltip>{{:: 'realm.effective-roles.tooltip' | translate}}</kc-tooltip>
                            <select id="realm-composite" class="form-control overflow-select" multiple size=5
                                    disabled="true"
                                    ng-model="dummymodel">
                                <option ng-repeat="r in realmComposite | orderBy:'name'" value="{{r}}" title="{{r.name}}">
                                    {{r.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="clients">{{:: 'client-roles' | translate}}</label>
                <div class="col-md-6">
                    <input type="hidden" ui-select2="clientsUiSelect" id="clients" data-ng-model="selectedClient" data-ng-change="changeClient(selectedClient);" data-placeholder="{{:: 'authz-select-client' | translate}}...">
                    </input>
                </div>

                <div class="col-md-10 col-md-push-2">
                    <div class="row" data-ng-show="selectedClient">
                        <div class="col-md-3">
                            <label class="control-label" for="available-client">{{:: 'available-roles' | translate}}</label>
                            <kc-tooltip>{{:: 'assign.available-roles.tooltip' | translate}}</kc-tooltip>
                            <select id="available-client" class="form-control overflow-select" multiple size="5"
                                    ng-multiple="true"
                                    ng-model="selectedClientRoles">
                                <option ng-repeat="r in clientRoles | orderBy:'name'" value="{{r}}" title="{{r.name}}">
                                    {{r.name}}
                                </option>
                            </select>
                            <button ng-disabled="selectedClientRoles.length == 0" class="btn btn-default" type="submit" ng-click="addClientRole()">
                                {{:: 'add-selected' | translate}} <i class="fa fa-angle-double-right"></i>
                            </button>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label" for="assigned-client">{{:: 'assigned-roles' | translate}}</label>
                            <kc-tooltip>{{:: 'client.assigned-roles.tooltip' | translate}}</kc-tooltip>
                            <select id="assigned-client" class="form-control overflow-select" multiple size=5
                                    ng-multiple="true"
                                    ng-model="selectedClientMappings">
                                <option ng-repeat="r in clientMappings | orderBy:'name'" value="{{r}}" title="{{r.name}}">
                                    {{r.name}}
                                </option>
                            </select>
                            <button ng-disabled="selectedClientMappings.length == 0" class="btn btn-default" type="submit" ng-click="deleteClientRole()">
                                <i class="fa fa-angle-double-left"></i> {{:: 'remove-selected' | translate}}
                            </button>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label" for="client-composite">{{:: 'effective-roles' | translate}}</label>
                            <kc-tooltip>{{:: 'client.effective-roles.tooltip' | translate}}</kc-tooltip>
                            <select id="client-composite" class="form-control overflow-select" multiple size=5
                                    disabled="true"
                                    ng-model="dummymodel">
                                <option ng-repeat="r in clientComposite | orderBy:'name'" value="{{r}}" title="{{r.name}}">
                                    {{r.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

<kc-menu></kc-menu>