<div>
    <form class="form-horizontal no-margin-top" name="credentialForm" novalidate kc-read-only="!client.access.configure" data-ng-controller="ClientSecretCtrl">
        <div class="form-group">
            <label class="col-md-2 control-label" for="secret">{{:: 'secret' | translate}}</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <input readonly kc-select-action="click" class="form-control" type="text" id="secret" name="secret" data-ng-model="secret">
                    </div>
                    <div class="col-sm-6" data-ng-show="client.access.configure && !clientSecretRotationEnabled">
                        <button type="submit" data-ng-click="changePassword()" class="btn btn-default">{{:: 'regenerate-secret' | translate}}</button>
                    </div>
                    <div class="col-sm-6" data-ng-show="client.access.configure  && clientSecretRotationEnabled">
                        <button type="submit" data-ng-click="changePassword()" class="btn btn-default">{{:: 'rotate.secret' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="clientSecretRotationEnabled">{{:: 'secret-rotation' | translate}}</label>
            <kc-tooltip>{{:: 'secret-rotation-enabled.tooltip' | translate}}</kc-tooltip>
            <div class="col-md-6">
                <input name="clientSecretRotationEnabled" id="clientSecretRotationEnabled" data-ng-model="clientSecretRotationEnabled" ng-click="switchChange()" onoffswitch on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}"/>
            </div>
        </div>

        <div class="form-group" data-ng-show="client.access.configure && clientSecretRotationEnabled  && secretRotated">
            <label class="col-md-2 control-label" for="secretRotated">{{:: 'secret-rotated' | translate}}</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <input readonly kc-select-action="click" class="form-control" type="text" id="secretRotated" name="secretRotated" data-ng-model="secretRotated">
                    </div>
                    <div class="col-sm-6" data-ng-show="client.access.configure && clientSecretRotationEnabled && secretRotated">
                        <button type="submit" data-ng-click="changePassword()" class="btn btn-default">{{:: 'invalidate-secret' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2" data-ng-show="client.access.configure">
                <button kc-save  data-ng-disabled="!changed">{{:: 'save' | translate}}</button>
                <button kc-cancel data-ng-click="cancel()" data-ng-disabled="!changed">{{:: 'cancel' | translate}}</button>
            </div>
        </div>

    </form>
</div>
