<div>
    <form class="form-horizontal no-margin-top" name="credentialForm" novalidate kc-read-only="!client.access.configure" data-ng-controller="ClientSecretCtrl">
        <div class="form-group">
            <label class="col-md-2 control-label" for="secret">{{:: 'secret' | translate}}</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <input readonly kc-select-action="click" class="form-control" type="text" id="secret" name="secret" data-ng-model="secret">
                    </div>
                    <div class="col-sm-6" data-ng-show="client.access.configure">
                        <button type="submit" data-ng-click="changePassword()" class="btn btn-default">{{:: 'regenerate-secret' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="tokenEndpointAuthSigningAlg">{{:: 'token-endpoint-auth-signing-alg' | translate}}</label>
            <div class="col-sm-6">
                <div>
                    <select class="form-control" id="tokenEndpointAuthSigningAlg"
                            ng-change="switchChange()"
                            ng-model="tokenEndpointAuthSigningAlg">
                        <option value=""></option>
                        <option ng-repeat="provider in serverInfo.listProviderIds('clientSignature')" value="{{provider}}">{{provider}}</option>
                    </select>
                </div>
            </div>
            <kc-tooltip>{{:: 'token-endpoint-auth-signing-alg.tooltip' | translate}}</kc-tooltip>
        </div>

     <div class="form-group">
         <div class="col-md-10 col-md-offset-2" data-ng-show="client.access.configure">
             <button kc-save  data-ng-disabled="!changed" data-ng-click="save()">{{:: 'save' | translate}}</button>
         </div>
     </div>

    </form>
</div>
