<div>
    <form class="form-horizontal no-margin-top" name="credentialForm" novalidate kc-read-only="!client.access.configure" data-ng-controller="ClientSecretCtrl">
        <div class="form-group">
            <label class="col-md-2 control-label" for="secret">{{:: 'secret' | translate}}</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <input readonly kc-select-action="click" class="form-control" type="text" id="secret" name="secret" data-ng-model="secret">
                        <label data-ng-show="serverInfo.featureEnabled('CLIENT_SECRET_ROTATION') && secret_expiration_time" class="control-label">{{:: 'secret-expires-on' | translate}} {{secret_expiration_time | date:'medium'}}</label>
                    </div>
                    <div class="col-sm-6" data-ng-show="client.access.configure">
                        <button type="submit" data-ng-click="changePassword()" class="btn btn-default">{{:: 'regenerate-secret' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" data-ng-show="client.access.configure && secretRotated && serverInfo.featureEnabled('CLIENT_SECRET_ROTATION')">
            <label class="col-md-2 control-label" for="secretRotated">{{:: 'secret-rotated' | translate}}</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <input readonly kc-select-action="click" class="form-control" type="text" id="secretRotated" name="secretRotated" data-ng-model="secretRotated">
                        <label class="control-label">{{:: 'secret-expires-on' | translate}} {{rotated_secret_expiration_time | date:'medium'}}</label>
                    </div>
                    <div class="col-sm-6" data-ng-show="client.access.configure && secretRotated">
                        <button type="submit" data-ng-click="removeRotatedSecret()" class="btn btn-default">{{:: 'invalidate-secret' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
