<div>
    <form class="form-horizontal no-margin-top" name="credentialForm" novalidate kc-read-only="!access.manageClients" data-ng-controller="ClientSecretCtrl">
        <div class="form-group">
            <label class="col-md-2 control-label" for="secret">{{:: 'secret' | translate}}</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <input readonly kc-select-action="click" class="form-control" type="text" id="secret" name="secret" data-ng-model="secret">
                    </div>
                    <div class="col-sm-6" data-ng-show="access.manageClients">
                        <button type="submit" data-ng-click="changePassword()" class="btn btn-default">{{:: 'regenerate-secret' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
