<div class="form-horizontal no-margin-top" name="keyForm" novalidate kc-read-only="!client.access.configure" data-ng-controller="ClientSignedJWTCtrl">

    <div class="form-group">
         <label class="col-md-2 control-label" for="tokenEndpointAuthSigningAlg">{{:: 'token-endpoint-auth-signing-alg' | translate}}</label>
         <div class="col-sm-6">
             <div>
                 <select class="form-control" id="tokenEndpointAuthSigningAlg"
                         ng-model="tokenEndpointAuthSigningAlg">
                     <option value=""></option>
                     <option ng-repeat="provider in serverInfo.listProviderIds('clientSignature')" value="{{provider}}">{{provider}}</option>
                 </select>
             </div>
         </div>
         <kc-tooltip>{{:: 'token-endpoint-auth-signing-alg.tooltip' | translate}}</kc-tooltip>
     </div>

    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">{{:: 'need-to-configure-keys' | translate}}</div>
            </div>
        </div>
    </div>

</div>