 <div class="form-horizontal no-margin-top" name="keyForm" novalidate kc-read-only="!client.access.configure" data-ng-controller="ClientSignedJWTCtrl">

    <div class="form-group">
         <label class="col-md-2 control-label" for="tokenEndpointAuthSigningAlg">{{:: 'token-endpoint-auth-signing-alg' | translate}}</label>
         <div class="col-sm-6">
             <div>
                 <select class="form-control" id="tokenEndpointAuthSigningAlg"
                         ng-change="switchChange()"
                         ng-model="tokenEndpointAuthSigningAlg">
                     <option value=""></option>
                     <option ng-repeat="provider in serverInfo.listProviderIds('clientSignature')" value="{{provider}}">{{provider}}</option>
                 </select>
             </div>
         </div>
         <kc-tooltip>{{:: 'token-endpoint-auth-signing-alg.tooltip' | translate}}</kc-tooltip>
     </div>

     <div class="form-group">
         <label class="col-md-2 control-label" for="useJwksUrl">{{:: 'use-jwks-url' | translate}}</label>
         <div class="col-sm-6">
             <input ng-model="useJwksUrl" name="useJwksUrl" id="useJwksUrl" ng-click="switchChange()" onoffswitch on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}"/>
         </div>
         <kc-tooltip>{{:: 'use-jwks-url.tooltip' | translate}}</kc-tooltip>
     </div>

     <div class="form-group" data-ng-show="useJwksUrl">
         <label class="col-md-2 control-label" for="jwksUrl">{{:: 'jwks-url' | translate}}</label>
         <div class="col-sm-6">
             <input class="form-control" type="text" name="jwksUrl" id="jwksUrl" data-ng-model="client.attributes['jwks.url']">
         </div>
         <kc-tooltip>{{:: 'jwks-url.tooltip' | translate}}</kc-tooltip>
     </div>

     <div data-ng-show="!useJwksUrl">

         <div class="form-group" data-ng-show="signingKeyInfo.certificate">
             <label class="col-md-2 control-label" for="signingCert">{{:: 'certificate' | translate}}</label>
             <kc-tooltip>{{:: 'certificate.tooltip' | translate}}</kc-tooltip>

             <div class="col-sm-10" data-ng-show="signingKeyInfo.certificate">
                 <textarea type="text" id="signingCert" name="signingCert" class="form-control" rows="5" kc-select-action="click" readonly>{{signingKeyInfo.certificate}}</textarea>
             </div>
         </div>

         <div class="form-group" data-ng-show="signingKeyInfo.publicKey">
             <label class="col-md-2 control-label" for="publicKey">{{:: 'publicKey' | translate}}</label>
             <kc-tooltip>{{:: 'publicKey.tooltip' | translate}}</kc-tooltip>

             <div class="col-sm-10" data-ng-show="signingKeyInfo.publicKey">
                 <textarea type="text" id="publicKey" name="publicKey" class="form-control" rows="5" kc-select-action="click" readonly>{{signingKeyInfo.publicKey}}</textarea>
             </div>
         </div>

         <div class="form-group" data-ng-show="signingKeyInfo.kid">
             <label class="col-md-2  control-label" for="kid">{{:: 'kid' | translate}}</label>
             <kc-tooltip>{{:: 'kid.tooltip' | translate}}</kc-tooltip>

             <div class="col-sm-6">
                 <div class="row">
                     <div class="col-sm-6">
                         <input readonly kc-select-action="click" class="form-control" type="text" id="kid" name="kid" data-ng-model="signingKeyInfo.kid">
                     </div>
                 </div>
             </div>
         </div>

         <div class="form-group" data-ng-hide="signingKeyInfo.certificate || signingKeyInfo.publicKey">
             <label class="col-md-2 control-label"></label>
             <div class="col-sm-6">
                 <div class="row">
                     <div class="col-sm-6">
                         {{:: 'no-client-certificate-configured' | translate}}
                     </div>
                 </div>
             </div>
         </div>

     </div>

     <div class="form-group">
         <div class="col-md-10 col-md-offset-2" data-ng-show="client.access.configure">
             <button class="btn btn-default" type="submit" data-ng-click="generateSigningKey()">{{:: 'gen-new-keys-and-cert' | translate}}</button>
             <button data-ng-disabled="useJwksUrl" class="btn btn-default" type="submit" data-ng-click="importCertificate()">{{:: 'import-certificate' | translate}}</button>
             <button kc-save  data-ng-disabled="!changed" data-ng-click="save()">{{:: 'save' | translate}}</button>
             <button kc-reset data-ng-disabled="!changed" data-ng-click="reset()">{{:: 'cancel' | translate}}</button>
         </div>
     </div>

</div>