<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/user-federation">User Federation</a></li>
        <li><a href="#/realms/{{realm.realm}}/user-federation/providers/{{provider.providerName}}/{{provider.id}}">{{provider.displayName|capitalize}}</a></li>
        <li>User Federation Mappers</li>
    </ol>

    <kc-tabs-user-federation></kc-tabs-user-federation>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="kc-table-actions" colspan="4">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="Search..." data-ng-model="search.name" class="form-control search" onkeyup="if(event.keyCode == 13){$(this).next('I').click();}">
                            <div class="input-group-addon">
                                <i class="fa fa-search" type="submit"></i>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" data-ng-show="hasAnyMapperTypes">
                        <a class="btn btn-primary" href="#/create/user-federation-mappers/{{realm.realm}}/{{provider.providerName}}/{{provider.id}}">Create</a>
                    </div>
                </div>
            </th>
        </tr>
        <tr data-ng-hide="mappers.length == 0">
            <th>Name</th>
            <th>Category</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="mapper in mappers | filter:search">
            <td><a href="#/realms/{{realm.realm}}/user-federation/providers/{{provider.providerName}}/{{provider.id}}/mappers/{{mapper.id}}">{{mapper.name}}</a></td>
            <td>{{mapperTypes[mapper.federationMapperType].category}}</td>
            <td>{{mapperTypes[mapper.federationMapperType].name}}</td>
        </tr>
        <tr data-ng-show="mappers.length == 0">
            <td>No mappers available</td>
        </tr>
        </tbody>
    </table>
</div>

<kc-menu></kc-menu>