    <h1 data-ng-show="model.create">{{:: 'create-protocol-mapper' | translate}}</h1>
    <h1 data-ng-hide="model.create">{{model.mapper.name|capitalize}}<i class="pficon pficon-delete clickable" data-ng-show="!model.create && access.manageClients"
    	data-ng-hide="model.changed" data-ng-click="remove()"></i></h1>

    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageClients">

        <fieldset>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="protocol">{{:: 'protocol' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" id="protocol" type="text" ng-model="model.protocol" readonly>
                </div>
                <kc-tooltip>{{:: 'protocol.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group clearfix" data-ng-show="!model.create">
                <label class="col-md-2 control-label" for="mapperId">{{:: 'id' | translate}} </label>
                <div class="col-md-6">
                    <input class="form-control" id="mapperId" type="text" ng-model="model.mapper.id" readonly>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-md-2 control-label" for="name">{{:: 'name' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" id="name" type="text" ng-model="model.mapper.name" data-ng-readonly="!model.create" required>
                </div>
                <kc-tooltip>{{:: 'mapper.name.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group" data-ng-show="model.create">
                <label class="col-md-2 control-label" for="mapperTypeCreate">{{:: 'mapper-type' | translate}}</label>
                <div class="col-md-6">
                    <div>
                        <select class="form-control" id="mapperTypeCreate"
                                ng-model="model.mapperType"
                                ng-options="mapperType.name for mapperType in model.mapperTypes"
                                required>
                        </select>
                    </div>
                </div>
                <kc-tooltip>{{model.mapperType.helpText}}</kc-tooltip>
            </div>
            <div class="form-group clearfix" data-ng-hide="model.create">
                <label class="col-md-2 control-label" for="mapperType">{{:: 'mapper-type' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" id="mapperType" type="text" ng-model="model.mapperType.name" data-ng-readonly="true">
                </div>
                <kc-tooltip>{{model.mapperType.helpText}}</kc-tooltip>
            </div>
            <kc-provider-config config="model.mapper.config" properties="model.mapperType.properties" realm="model.realm" clients="clients"></kc-provider-config>
        </fieldset>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2" data-ng-show="model.create && access.manageClients">
                <button kc-save>{{:: 'save' | translate}}</button>
                <button kc-cancel data-ng-click="cancel()">{{:: 'cancel' | translate}}</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2" data-ng-show="!model.create && access.manageClients">
                <button kc-save  data-ng-disabled="!model.changed">{{:: 'save' | translate}}</button>
                <button kc-reset data-ng-disabled="!model.changed">{{:: 'cancel' | translate}}</button>
            </div>
        </div>
    </form>
