<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <h1>{{:: 'identity-providers' | translate}}</h1>

    <form name="realmForm" novalidate class="form-horizontal">
        <fieldset>
            <div>
                <table class="table table-striped table-bordered">
                    <caption class="hidden">{{:: 'table-of-identity-providers' | translate}}</caption>
                    <thead>
                    <tr>
                        <th colspan="6" class="kc-table-actions">
                            <div class="dropdown pull-right">
                                <select class="form-control" ng-model="provider"
                                        ng-options="p.name group by p.groupName for p in allProviders track by p.id"
                                        data-ng-change="addProvider(provider); provider = null">
                                    <option value="" disabled selected>{{:: 'add-provider.placeholder' | translate}}</option>
                                </select>
                            </div>
                        </th>
                    </tr>
                    <tr ng-show="configuredProviders.length > 0">
                        <th>{{:: 'name' | translate}}</th>
                        <th>{{:: 'provider' | translate}}</th>
                        <th>{{:: 'enabled' | translate}}</th>
                        <th width="15%">{{:: 'gui-order' | translate}}</th>
                        <th colspan="2">{{:: 'actions' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody ng-show="configuredProviders.length > 0">
                    <tr ng-repeat="identityProvider in configuredProviders">
                        <td>
                            <a href="#/realms/{{realm.realm}}/identity-provider-settings/provider/{{identityProvider.providerId}}/{{identityProvider.alias}}">{{identityProvider.alias}}</a>
                        </td>
                        <td>{{identityProvider.providerId}}</td>
                        <td translate="{{identityProvider.enabled}}"></td>
                        <td>{{identityProvider.config.guiOrder}}</td>
                        <td class="kc-action-cell">
                            <button class="btn btn-default btn-block btn-sm" kc-open="/realms/{{realm.realm}}/identity-provider-settings/provider/{{identityProvider.providerId}}/{{identityProvider.alias}}">{{:: 'edit' | translate}}</button>
                        </td>
                        <td class="kc-action-cell">
                            <button class="btn btn-default btn-block btn-sm" data-ng-click="removeIdentityProvider(identityProvider)">{{:: 'delete' | translate}}</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </form>
</div>


<kc-menu></kc-menu>