<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <kc-tabs-realm></kc-tabs-realm>

    <form class="form-horizontal" name="realmForm" novalidate kc-read-only="!access.manageRealm">
            <div class="form-group">
                <label class="col-md-2 control-label" for="name"><span class="required">*</span> {{:: 'name' | translate}}</label>
                <div class="col-md-6">
                    <input kc-no-reserved-chars class="form-control" data-ng-disabled="disableRename" type="text" id="name" name="name" data-ng-model="realmName" autofocus required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="name">{{:: 'displayName' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="displayName" name="displayName" data-ng-model="realm.displayName">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="name">{{:: 'displayNameHtml' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="displayNameHtml" name="displayNameHtml" data-ng-model="realm.displayNameHtml">
                </div>
            </div>

            <div class="form-group" data-ng-show="serverInfo.listProviderIds('hostname').includes('default')">
                <label class="col-md-2 control-label" for="name">{{:: 'realm-detail.frontendUrl' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="frontendUrl" name="frontendUrl" data-ng-model="realm.attributes.frontendUrl">
                </div>
                <kc-tooltip>{{:: 'realm-detail.frontendUrl.tooltip' | translate}}</kc-tooltip>
            </div>

            <div class="form-group" data-ng-show="serverInfo.listProviderIds('hostname').includes('fixed')">
                <label class="col-md-2 control-label" for="name">{{:: 'realm-detail.hostname' | translate}}</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="hostname" name="hostname" data-ng-model="realm.attributes.hostname">
                </div>
                <kc-tooltip>{{:: 'realm-detail.hostname.tooltip' | translate}}</kc-tooltip>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="enabled">{{:: 'enabled' | translate}}</label>
                <div class="col-md-6">
                    <input ng-model="realm.enabled" name="enabled" id="enabled" onoffswitch on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}" />
                </div>
                <kc-tooltip>{{:: 'realm-detail.enabled.tooltip' | translate}}</kc-tooltip>
            </div>

            <div class="form-group" data-ng-show="serverInfo.featureEnabled('AUTHORIZATION')">
                <label class="col-md-2 control-label" for="userManagedAccessAllowed">{{:: 'userManagedAccess' | translate}}</label>
                <div class="col-md-6">
                    <input ng-model="realm.userManagedAccessAllowed" name="userManagedAccessAllowed" id="userManagedAccessAllowed" onoffswitch on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}" />
                </div>
                <kc-tooltip>{{:: 'realm-detail.userManagedAccess.tooltip' | translate}}</kc-tooltip>
            </div>

            <div class="form-group" data-ng-show="serverInfo.featureEnabled('DECLARATIVE_USER_PROFILE')">
                <label class="col-md-2 control-label" for="userProfileEnabled">{{:: 'userProfileEnabled' | translate}}</label>
                <div class="col-md-6">
                    <input ng-model="realm.attributes['userProfileEnabled']" name="userProfileEnabled" id="userProfileEnabled" onoffswitch on-text="{{:: 'onText' | translate}}" off-text="{{:: 'offText' | translate}}" />
                </div>
                <kc-tooltip>{{:: 'userProfileEnabled.tooltip' | translate}}</kc-tooltip>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">{{:: 'endpoints' | translate}}</label>
                <div class="col-md-6">
                    <a class="form-control" ng-href="{{authServerUrl}}/realms/{{realm.realm}}/.well-known/openid-configuration" rel="noopener noreferrer" target="_blank">{{:: 'realm-detail.protocol-endpoints.oidc' | translate}}</a>
                    
                    <a class="form-control" ng-href="{{authServerUrl}}/realms/{{realm.realm}}/protocol/saml/descriptor" rel="noopener noreferrer" target="_blank">{{:: 'realm-detail.protocol-endpoints.saml' | translate}}</a>
                </div>
                <kc-tooltip>{{:: 'realm-detail.protocol-endpoints.tooltip' | translate}}</kc-tooltip>
            </div>

            <div class="form-group">
                <div class="col-md-10 col-md-offset-2" data-ng-show="createRealm && access.manageRealm">
                    <button kc-save data-ng-show="changed">{{:: 'save' | translate}}</button>
                    <button kc-cancel data-ng-click="cancel()">{{:: 'cancel' | translate}}</button>
                </div>

                <div class="col-md-10 col-md-offset-2" data-ng-show="!createRealm && access.manageRealm">
                    <button kc-save  data-ng-disabled="!changed">{{:: 'save' | translate}}</button>
                    <button kc-reset data-ng-disabled="!changed">{{:: 'cancel' | translate}}</button>
                </div>
            </div>
    </form>
</div>

<kc-menu></kc-menu>