<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <h1>
        Server Info
        <i id="serverInfoReload" class="pficon  pficon-restart clickable" data-ng-click="serverInfoReload()"></i>
    </h1>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#/server-info">Info</a></li>
        <li><a href="#/server-info/providers">Providers</a></li>
    </ul>

    <table class="table table-striped table-bordered">
        <tr>
            <td width="20%">Server Version</td>
            <td>{{serverInfo.systemInfo.version}}</td>
        </tr>
        <tr>
            <td>Server Time</td>
            <td>{{serverInfo.systemInfo.serverTime}}</td>
        </tr>
        <tr>
            <td>Server Uptime</td>
            <td>{{serverInfo.systemInfo.uptime}}</td>
        </tr>
    </table>

    <fieldset>
        <legend>Memory</legend>
        <table class="table table-striped table-bordered" style="margin-top: 0;">
            <tr>
                <td width="20%">Total Memory</td>
                <td>{{serverInfo.memoryInfo.totalFormated}}</td>
            </tr>
            <tr>
                <td>Free Memory</td>
                <td>{{serverInfo.memoryInfo.freeFormated}} ({{serverInfo.memoryInfo.freePercentage}}%)</td>
            </tr>
            <tr>
                <td>Used Memory</td>
                <td>{{serverInfo.memoryInfo.usedFormated}}</td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>System</legend>
        <table class="table table-striped table-bordered" style="margin-top: 0;">
            <tr>
                <td width="20%">Current Working Directory</td>
                <td>{{serverInfo.systemInfo.userDir}}</td>
            </tr>
            <tr>
                <td>Java Version</td>
                <td>{{serverInfo.systemInfo.javaVersion}}</td>
            </tr>
            <tr>
                <td>Java Vendor</td>
                <td>{{serverInfo.systemInfo.javaVendor}}</td>
            </tr>
            <tr>
                <td>Java Runtime</td>
                <td>{{serverInfo.systemInfo.javaRuntime}}</td>
            </tr>
            <tr>
                <td>Java VM</td>
                <td>{{serverInfo.systemInfo.javaVm}}</td>
            </tr>
            <tr>
                <td>Java VM Version</td>
                <td>{{serverInfo.systemInfo.javaVmVersion}}</td>
            </tr>
            <tr>
                <td>Java Home</td>
                <td>{{serverInfo.systemInfo.javaHome}}</td>
            </tr>
            <tr>
                <td>User Name</td>
                <td>{{serverInfo.systemInfo.userName}}</td>
            </tr>
            <tr>
                <td>User Timezone</td>
                <td>{{serverInfo.systemInfo.userTimezone}}</td>
            </tr>
            <tr>
                <td>User Locale</td>
                <td>{{serverInfo.systemInfo.userLocale}}</td>
            </tr>
            <tr>
                <td>System Encoding</td>
                <td>{{serverInfo.systemInfo.fileEncoding}}</td>
            </tr>
            <tr>
                <td>Operating System</td>
                <td>{{serverInfo.systemInfo.osName}} {{serverInfo.systemInfo.osVersion}}</td>
            </tr>
            <tr>
                <td>OS Architecture</td>
                <td>{{serverInfo.systemInfo.osArchitecture}}</td>
            </tr>
        </table>
    </fieldset>
</div>

<kc-menu></kc-menu>