fieldset {
  border: none;
}
fieldset.border-top {
    border-color: #E9E8E8;
    border-style: solid;
    border-width: 1px 0 0;
    padding-top: 2em;
}
*::-moz-placeholder,
::-webkit-input-placeholder {
  color: #838383;
  font-style: italic;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  font-size: 1.1em;
  padding: 0 0.545454545454545em;
  min-width: 18.1818181818182em;
  height: 2.36363636363636em;
  border: 1px #b6b6b6 solid;
  border-radius: 2px;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  color: #333;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
  border-color: #62afdb;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-color: #62afdb;
  box-shadow: #62afdb 0 0 5px;
}
input[type="text"].error,
input[type="password"].error,
input[type="email"].error {
  border-color: #ba1212;
  transition: all 0.33s ease-in-out;
  -moz-transition: all 0.33s ease-in-out;
  -webkit-transition: all 0.33s ease-in-out;
}
input[type="text"].error:focus,
input[type="password"].error:focus,
input[type="email"].error:focus {
  box-shadow: 0 0 5px #ba1212;
}
input[type="button"],
button,
input[type="submit"],
a.button {
  font-size: 1.3em;
  padding: 0.30769230769231em 1.07692307692308em;
  border-width: 1px;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.04em;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
input[type="button"].btn-primary,
button.btn-primary,
input[type="submit"].btn-primary,
a.button.btn-primary {
  background-image: linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -o-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -moz-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -webkit-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -ms-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00a9ec), color-stop(1, 0, #009bd3));
  border-color: #21799e;
  border-style: solid;
}
input[type="button"].btn-primary:hover,
input[type="submit"].btn-primary:hover,
button.btn-primary:hover,
a.button.btn-primary:hover,
input[type="button"].btn-primary:focus,
input[type="submit"].btn-primary:focus,
button.btn-primary:focus,
a.button.btn-primary:focus {
  background-color: #009BD3;
}
input[type="button"].btn-primary:active,
input[type="submit"].btn-primary:active,
button.btn-primary:active,
a.button.btn-primary:active {
  background-color: #0099d4;
}
input[type="button"].disabled,
input[type="submit"].disabled,
button.disabled,
a.button.disabled {
  border-color: #cfcdcd;
  color: #838383;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  font-weight: normal;
  letter-spacing: 0.06363636363636em;
}

input[type="button"].btn-secondary,
button.btn-secondary,
input[type="submit"].btn-secondary,
a.button.btn-secondary {
    background-color: #EEEEEE;
    border-color: #BBBBBB;
    color: #4D5258;
}

input[type="button"].disabled:hover,
input[type="submit"].disabled:hover,
button.disabled:hover,
a.button.disabled:hover {
  cursor: default;
}
input[type="button"].disabled:active,
input[type="submit"].disabled:active,
button.disabled:active,
a.button.disabled:active {
  box-shadow: none;
}
input[type="button"]:hover,
input[type="submit"]:hover,
button:hover,
a.button:hover,
input[type="button"]:focus,
input[type="submit"]:focus,
button:focus,
a.button:focus {
  background-image: none;
  cursor: pointer;
}
input[type="button"]:active,
input[type="submit"]:active,
button:active,
a.button:active {
  background-image: none;
  cursor: pointer;
  box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.25);
}
input[type="checkbox"] {
  margin-right: 0.5em;
}
/* Code from Hylke */
button,
a.button {
  border-color: #21799e;
  background-image: linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -ms-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, 0, #ededed));
  color: #fff;
  padding: 4px 14px;
  border: 1px #bbb solid;
  border-radius: 2px;
  color: #4d5258;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 0.4px;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 2.18181818181818em;
}
input[type='submit'].primary,
button.primary {
  border-color: #21799e;
  background-image: linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -o-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -moz-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -webkit-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -ms-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00a9ec), color-stop(1, 0, #009bd3));
  color: #fff;
}
button.primary:hover,
button.primary:focus {
  background-color: #009BD3;
}
button.primary:enabled:active {
  background-color: #0099d4;
  box-shadow: inset 0 0 5px 3px #0074ae;
}
/* Code from Gabriel */
.rcue-login-register.register .two-fields input[type="text"] {
  width: 121px;
  min-width: 0;
}
.rcue-login-register.register .two-fields input + input {
  margin-left: 10px;
}
.search-comp {
  position: relative;
  display: inline-block;
  font-size: 0.90909090909091em;
}
.search-comp input[type="text"] {
  padding-right: 2.45454545454545em;
}
.search-comp .icon-search {
  position: absolute;
  right: 0.2em;
  top: 0.4em;
  opacity: 0.5;
}
.search-comp .icon-search:hover {
  opacity: 1;
  -webkit-transition: ease-in-out opacity 0.25s;
  -moz-transition: ease-in-out opacity 0.25s;
  -o-transition: ease-in-out opacity 0.25s;
  transition: ease-in-out opacity 0.25s;
}
.search-comp .icon-search + .tooltip {
  width: 20em;
  font-weight: normal;
}
.feedback-aligner {
  position: absolute;
  top: 1.5em;
  text-align: center;
  width: 100%;
  height: 0;
  z-index: 100;
}
.feedback-aligner .feedback {
  position: relative;
  display: inline-block;
  text-align: left;
  border-width: 1px;
}
.feedback-aligner .feedback p {
  border-width: 1px;
}
.feedback {
  position: absolute;
  opacity: 0;
  transition: opacity 0.33s ease-in-out;
  -moz-transition: opacity 0.33s ease-in-out;
  -webkit-transition: opacity 0.33s ease-in-out;
}
.feedback p {
  padding: 0.90909090909091em 3.63636363636364em;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  background-repeat: no-repeat;
  background-position: 1.27272727272727em center;
  font-size: 1.1em;
  line-height: 1.4em;
  border-radius: 2px;
  color: #4d5258;
  margin-bottom: 0;
}
.feedback.show {
  opacity: 1;
}
.feedback.bottom-left {
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-bottom: 1em;
}
.feedback.bottom-left p {
  background-position: 1.27272727272727em 1.63636363636364em;
}
.feedback.error {
  background-image: url(img/feedback-error-arrow-down.png);
}
.feedback.error p {
  border-color: #b91415;
  background-image: url(img/feedback-error-sign.png);
  background-color: #f8e7e7;
}
.feedback.success {
  background-image: url(img/feedback-success-arrow-down.png);
}
.feedback.success p {
  border-color: #4b9e39;
  background-image: url(img/feedback-success-sign.png);
  background-color: #e4f1e1;
}
.feedback.warning p {
  border-color: #f17528;
  background-image: url(img/feedback-warning-sign.png);
  background-color: #fef1e9;
}
button,
a.button {
  background-color: #eeeeee;
}
a.button {
  display: inline-block;
}
a.button:hover {
  color: #4D5258;
  text-decoration: none;
}
button[class^="icon-"] {
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  line-height: 1em;
}

legend {
  font-size: 1em;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #e9e8e8;
  padding-top: 2em;
  display: block;
  margin-bottom: 0;
  padding-bottom: 0.8em;
  cursor: pointer;
}
legend .icon-collapse {
  vertical-align: baseline;
}
legend .text {
  font-weight: bold;
  font-size: 1.25em;
}

.form-group {
  display: block;
  margin-bottom: 1em;
  position: relative;
}
.form-group > label {
  font-size: 1.1em;
  font-weight: 300;
  width: 10em;
  margin-right: 0.90909090909091em;
  margin-bottom: 0;
  float: left;
  margin-top: 0.45454545454545em;
}
.form-group > label.two-lines {
  margin-top: -2px;
}
.form-group > label + span {
  font-size: 1.1em;
  display: inline-block;
  margin-top: 0.454545454545455em;
}
.form-group > label + .onoffswitch {
  float: left;
}
.form-group > label.pull-left {
  margin-top: 4px;
}
.form-group .required {
  position: absolute;
  left: 10em;
  font-size: 1.1em;
  color: #CB2915;
}
legend + .form-group {
  padding-top: 1em;
}
legend + table {
  margin-top: 1em;
}
.code {
  font-family: Courier, monospace;
}
.onoffswitch {
  -moz-user-select: none;
  height: 26px;
  position: relative;
  width: 62px;
}
.onoffswitch .onoffswitch-checkbox {
  display: none;
}
.onoffswitch .onoffswitch-label {
  border: 1px solid #bbb;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  overflow: hidden;
  width: 62px;
}
.onoffswitch .onoffswitch-inner {
  display: block;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
  width: 200%;
}
.onoffswitch .onoffswitch-inner > span {
  -moz-box-sizing: border-box;
  color: white;
  float: left;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  padding: 0;
  width: 50%;
}
.onoffswitch .onoffswitch-switch {
  background-image: linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -ms-linear-gradient(top, #fafafa 0%, #ededed 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, 0, #ededed));
  border: 1px solid #aaa;
  border-radius: 2px;
  bottom: 0;
  margin: 0;
  position: absolute;
  right: 39px;
  top: 0;
  transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  width: 23px;
}
.onoffswitch .onoffswitch-inner .onoffswitch-active {
  background-image: linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -o-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -moz-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -webkit-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -ms-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00a9ec), color-stop(1, 0, #009bd3));
  color: #FFFFFF;
  padding-left: 10px;
}
.onoffswitch .onoffswitch-inner .onoffswitch-inactive {
  background: linear-gradient(#fefefe, #e8e8e8) repeat scroll 0 0 transparent;
  color: #4d5258;
  padding-right: 10px;
  text-align: right;
}
.onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}
input[type="text"].tiny,
input[type="password"].tiny,
input[type="email"].tiny {
  min-width: 40px;
  width: 40px;
}
.select-rcue:hover {
  border-color: #62afdb;
}
.select-rcue:focus {
  border-color: #62afdb;
  box-shadow: #62afdb 0 0 5px;
}
.select-rcue.error {
  border-color: #ba1212;
  background-color: #f8e7e7;
  transition: all 0.33s ease-in-out;
  -moz-transition: all 0.33s ease-in-out;
  -webkit-transition: all 0.33s ease-in-out;
}
.select-rcue.error:focus {
  box-shadow: 0 0 5px #ba1212;
}
.select-rcue select {
  height: 30px;
  line-height: 30px;
  margin-top: -2px;
  margin-left: -2px;
  font-size: 1.1em;
  padding: 5px 0.545454545454545em;
  background-color: transparent;
  border: none;
  width: 150%;
  font-family: "Open Sans", sans-serif;
}
.select-rcue option {
  line-height: 2em;
  padding-left: 0.90909090909091em;
}
.select-rcue option:hover {
  background-color: #d5ecf9;
}

.input-group input + .select-rcue {
  border-radius: 0 2px 2px 0;
  border-left: 0;
  display: inline-block;
}
.input-select .input-group input {
  float: left;
}

.form-actions {
  float: right;
  margin-top: 3em;
  margin-bottom: 5em;
}
.form-actions .primary {
  float: right;
  margin-left: 0.90909090909091em;
}
.form-actions a {
  font-size: 1.1em;
  margin-right: 0.90909090909091em;
}

ul.nav li {
    z-index: 200;
}