/* General styles */

html, 
body, 
#wrap {height: 100%;}

body > #wrap {
	height: auto; 
	min-height: 100%;
}

body {background: url(../img/body-bg.jpg) repeat left top;}

.link {
	background: none;
	border: none;
	color: #1C5182;
	padding: 0;
}

.link:hover {
	color: #005580;
    text-decoration: underline;
}

.icon-gray {background-image: url("../img/glyphicons-halflings-gray.png");}

.gray {color: #999;}

.dropdown-menu .disabled {color: #aaa;}

.dropdown-menu .disabled:hover {
	cursor: default;
	background-color: transparent;
	color: #aaa;
	text-decoration: none;
}

.tooltip {z-index: 1060;}



.btn.disabled {cursor: default;}

.btn.disabled, 
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover {background: #f0f0f0;}

i {
	text-indent: -99999px;
	text-align: left;
}

a {color: #1c5182;}
a:focus {outline: none;}
a:hover {color: #285786;}

button.close,
a.close {
	text-indent: -99999px;
	display: inline-block;
	width: 10px;
	height: 12px;
	background: url(../img/icon-close.png) no-repeat left top;
}

input[type="file"] {
    height: auto;
	font-family: Helvetica, Arial, sans-serif;
}

.alert .close {top: 5px;}

h1,
h2,
h3,
legend,
.nav-list li div span.toggle {font-family: 'Ubuntu', "Trebuchet MS", sans-serif;}

h1,
h2,
h3,
h4,
h5,
h6 {margin-top: 0;}

button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

.hidden-element {display: none!important;}
.visible {visibility: visible!important;}

.toggle {
	cursor: pointer;
	background-image: url(../img/icon-arrow-opened.png);
	background-repeat: no-repeat;
	background-position: left 2px;
	padding-left: 16px;
	line-height: 16px; 
}

.toggle.closed {background-image: url(../img/icon-arrow-closed.png);}

.dropdown-toggle {cursor: pointer;}

.dropdown-menu.up {
	bottom: 100%;
	top: auto;
}

.dropdown-menu.left {
	left: auto;
	right: 0;
}

.dropdown-menu li.separator {
	border-top: 1px solid #E5E5E5;
	margin-top: 4px;
	padding-top: 4px;
}

table .dropdown-menu {min-width: 120px;}

table .dropdown-menu a {
	font-size: 12px;
	text-align: left;
}

label {display: inline-block;}

.initial {
	margin-left: 75px;
	width: 520px;
}

h2.initial {
	margin-top: 80px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 22px;
	margin-bottom: 15px;
}

p.initial {
	color: #999;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 40px;
}

.table td {vertical-align: middle;}

.table.table-striped th, 
.table.table-striped td {border: none;}

th.actions,
td.actions {
	width: 100px;
	text-align: right;
	padding-right: 20px;
}

td.actions button {display: inline-block;}

td.actions a+a,
td.actions button+a,
td.actions a+button,
td.actions a+div {
	margin-left: 5px;
	display: inline-block;
}

.table span.second-info {
	display: block;
	font-size: 12px;
	color: #999;	
}

td input,
td textarea,
td select {margin-bottom: 0;}

.table-striped tbody tr:nth-child(2n+1) td, 
.table-striped tbody tr:nth-child(2n+1) th {background-color: #f9f9f9;}

.table tbody tr:hover td {background-color: #f2f2f2;}

.btn-primary {
	background-color: #005490;
	background-image: none;
	border-color: #1c4e7e;
}

.btn-primary:hover {background-color: #014f87;}

.btn-primary[disabled],
.btn-primary.disabled,
.btn-primary[disabled]:hover,
.btn-primary.disabled:hover {background-color: #005490;}

.transparent,
.injectable {
	-moz-transition: opacity 0.3s linear;
	-webkit-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}

.transparent,
.disabled.transparent {opacity: 0.3;}

.injectable {opacity: 0;}
.injectable.fade-in {opacity: 1;}

.table-striped tbody tr.yellow td {
	background-color: #fdf7e5;
	-moz-transition: background-color 2s linear;
	opacity: 0;
}

.table-striped tbody tr.yellow.fade-in td {
	background-color: #f9f9f9;;
	opacity: 1;
}

.table-striped tbody tr.white:nth-child(2n+1) td {background-color: #fff!important;}

.icon-users {background-position: 0 -168px;}
.icon-closed {background-position: -24px -168px;}
.icon-opened {background-position: -48px -168px;}
.icon-hierarchy {background-position: -72px -168px;}
.icon-order {background-position: -96px -168px;}
.icon-dropdown {background-position: -120px -168px;}
.icon-forum {background-position: -144px -168px;}
.icon-twitter {background-position: -168px -168px;}
.icon-IRC {background-position: -192px -168px;}
.icon-blog {background-position: -216px -168px;}


/* Header */

.divider-vertical-left,
.divider-vertical-right {
	background-image: url(../img/divider-vertical.png);
	background-repeat: repeat-y;
}

li.divider-vertical-left {
	background-position: left top;
	padding-left: 7px;
	margin-left: 5px;
}

li.divider-vertical-right {
	background-position: right top;
	padding-right: 7px;
	margin-right: 5px;
}

a#logo {
	text-indent: -99999px;
	display: inline-block;
	width: 21px;
	height: 40px;
	background-repeat: no-repeat;
	background-image: url(../img/logo.png);
	background-position: center center;
	padding: 0 20px;
}

#mini {display: none;}

.navbar .divider-vertical {margin: 0 5px;}

.navbar .nav li.dropdown:hover > .dropdown-toggle .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}

.nav > li > a:hover i.icon-gray {background-image: url("../img/glyphicons-halflings.png");}

ul.dropdown-menu {z-index: 2000;}

.nav.pull-right > li > a i.icon-user {margin-right: 1px;}


/* Aside */

aside {
	margin-top: 70px;
	position: relative;
}

.nav-list {padding: 0 0 2px 0;}

.nav-list > li {margin-bottom: 30px;}

.nav-list li div {margin-bottom: 5px;}

.nav-list li div span.toggle {
	font-size: 18px;
	color: #95999e;
	text-shadow: 0px 1px 0px white;
	background-position: left -100px;
}

.nav-list:hover li div span.toggle {background-position: left -22px;}

.nav-list:hover li div span.toggle.closed {background-image: url(../img/icon-arrow-closed.png);}

.nav-list ul {margin-left: 0;}

.nav-list li {list-style: none;}

.nav-list a {
	color: #444;
	font-size: 14px;
}

.nav-list li:hover a {text-decoration: none;}

.nav-list li li:hover,
.nav-list li li.open {
	background-color: rgba(0,0,0,0.04);
	border-radius: 5px 0 0 5px;
}

.nav-list > li > ul > li.active:hover,
.nav-list > li > ul > li.active.open {background: none;}

.nav-list a i {margin-top: 2px;}

.nav-list > li > ul > li > a {
	line-height: 34px;
    padding: 0 15px;
    margin: 0;
    display: block;
}

.nav-list > li > ul > .active > a, 
.nav-list > li > ul > .active > a:hover {
	background-color: #005490;
	text-shadow: 0px 1px 0px #000;
	color: #fff;
	border-radius: 5px 0 0 5px;
}

.nav-list .active > a {font-weight: bold;}

.nav-list .active > a i {background-image: url("../img/glyphicons-halflings-white.png");}

.nav-list li.active > ul.sub-items li a {
	display: block;
    line-height: 16px;
    margin-left: 0;
    margin-right: 0;
    padding: 7px 15px 8px 45px;
}

.nav-list .active > ul > .active > a {
	color: #005490;
	text-shadow: 0px 1px 0px #fff;
}

.nav-list li#pages-nav {position: relative;}

.nav-list a#add-page {
	position: absolute;
	padding: 0;
	right: 10px;
	top: 7px;
	line-height: 16px;
	visibility: hidden;
}

.nav-list li#pages-nav:hover a#add-page {visibility: visible;}

.nav-list a#add-page:hover, 
.nav-list li#pages-nav:hover a#add-page {background-color: transparent;}

.nav-list > li > ul > li {position: relative;}

.nav-list > li li > span {
    position: absolute;
    top: 5px;
    right: 10px;
    visibility: hidden;
    cursor: pointer;
}

.nav-list > li li:hover > span,
.nav-list > li li.open > span {visibility: visible;}

.nav-list > li li.active > span i,
.nav-list > li li.active.open > span i {background-image: url("../img/glyphicons-halflings-white.png");}

.nav-list > li li.open > span i {background-image: url("../img/glyphicons-halflings.png");}


.nav-list > li li:not(.active) > span i:hover {background-image: url("../img/glyphicons-halflings.png");}

.nav-list .dropdown-menu {
    top: 26px;
    right: 2px;
    left: auto;
    z-index: 1000;
}

.nav-list .dropdown-menu:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: auto;
    right: 10px;
    position: absolute;
    top: -6px;
}

.nav-list .more {
	float: right;
	font-size: 12px;
	color: #999;
	margin-right: 15px;
	visibility: hidden;
	cursor: pointer;
}

.nav-list > li:hover .more {visibility: visible;}

li#server {margin-bottom: 20px;}

aside .actions {
	position: fixed;
	bottom: 0;
	z-index: 10;
}

#actions-bg {
	background-color: #ededed;
    position: fixed;
	bottom: 0;
	width: 950px;
	height: 30px;
    left: 0;
    z-index: 0;
    background: #ededed url(../img/actions-border-top.png) repeat-x left top;
}

aside .actions .btn-group {float: left;}

aside .actions .btn {
	border-top: none;
	border-bottom: none;
	border: none;
	background: none;
	border-radius: 0;
}

aside .actions .btn:hover {background-color: #dfdfdf;}

.caret-inverted {
	border-top: none;
	border-bottom: 4px solid #000000;
	margin-top: 9px;
}

.actions .caret-inverted {
	border-left-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
}

aside .actions li a:hover i {background-image: url("../img/glyphicons-halflings-white.png");}

aside .actions #add-space {position: relative;}

aside .actions #add-space i.icon-info-sign {
	position: absolute;
	right: 10px;
	top: 5px;
}

aside .actions #add-space:hover a {
	background-color: #0088CC;
	color: #fff;
}


/* Content */

.span9 {
	width: 670px;
	padding-left: 25px;
	padding-right: 25px;
}

#container-right {
	margin-left: 0;
	padding-top: 30px;
	position: relative;
	z-index: 10;
	padding-bottom: 50px;
	margin-top: 40px;
}

#container-right-bg {
	position: fixed;
    top: 40px;
	bottom: 0;
    background-color: #fff;
	box-shadow:0px 0px 5px rgba(0,0,0,0.1);
    margin-left: 240px;
    width: 720px;
}

h1 {
	margin-bottom: 10px;
	margin-top: -7px;
	margin-left: 0;
  	font-size: 26px;
	font-weight: normal;
}

p.subtitle {
	text-align: right;
	margin-bottom: 5px;
	color: #999;
}

span.required {color: red;}

#container-right form {margin-bottom: 0;}

legend {
	border: none;
	margin-bottom: 0;
	display: inline-block;
	width: auto;
	font-size: 20px;
}

legend i {
	margin-top: 3px;
	margin-right: 3px;
}

legend + div {margin-top: 18px;}

fieldset {margin-bottom: 20px;}

#access-permission .controls {margin-top: 3px;}

.radio.inline + .radio.inline, 
.checkbox.inline + .checkbox.inline {margin-left: 0;}

.radio.inline,
.checkbox.inline {
    margin-right: 20px;
    padding-left: 5px;
}

.checkbox.inline + i {
    margin-left: -15px;
    margin-top: 6px;
}

.controls > i {
	margin-top: 3px;
	margin-left: 5px;
}

#access-permission .alert {
	margin-top: 8px;
	float: left;
	clear: both;
	margin-bottom: 0;
}


#permission-settings table {
	margin-top: 5px;
	margin-bottom: 0;
}

a.inline {
	display: inline-block;
	margin-bottom: -5px;
}

.control-group table {margin-bottom: 0;}

td.styles-hidden,
.table-striped tbody tr td.styles-hidden {
	border-top: none;
	background-color: #fff;
}

.form-actions {
	padding: 10px 0 0 0;
	background: transparent;
	border-top: none;
	margin: 0;
	text-align: right;	
	border-top: none;
}

.form-actions .btn-primary {margin-left: 5px;}


/* Page Mobile Redirects */

.form-horizontal .onoffswitch-checkbox {display: none;}

.table-striped tbody tr.form-mobile-redirect > td {
	background: #fff;
	border-top: 1px solid #fff;
	padding: 0;
}

.form-mobile-redirect form {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-bottom: 40px;
}

.header-mobile-redirect {
	background-color: #f9f9f9;
	padding: 15px 10px;
	border-bottom: 1px solid #fff;
}

.header-mobile-redirect legend + div {margin-top: 3px;}

.header-mobile-redirect > div {
	margin: 0;
	float: left;
}

.form-mobile-redirect .header-mobile-redirect .control-group,
.form-mobile-redirect .header-mobile-redirect .control-group:last-child {
	width: 260px;
	margin-left: 35px;
	margin-bottom: 0;
}

.header-mobile-redirect .control-label {width: auto;}

.header-mobile-redirect .control-group label {
	font-weight: bold;
	width: auto;
	display: inline-block;
	margin-right: 10px;
}

.header-mobile-redirect input,
.header-mobile-redirect select {width: 145px;}

a.inside-table {float: right;}

.table-striped tbody .table-striped tr:nth-child(2n+1) th,
.table-striped tbody .table-striped tr:nth-child(2n) td {background-color: #fff;}

.table-striped tbody .table-striped tbody tr td {
	line-height: 18px;
    padding: 8px;
}

.table-striped tbody .table-striped tbody tr td.actions {padding-right: 20px;}

.table-striped tbody .table-striped tbody tr:nth-child(2n+1) td {background-color: #f9f9f9;}

.table-striped tbody .table-striped tbody tr:hover td {background-color: #f2f2f2;}

table.action-small th {padding-top: 6px;}

.form-mobile-redirect td.actions,
.form-mobile-redirect th.actions {width: 50px;}

.form-mobile-redirect .control-group {margin-bottom: 14px;}

.form-mobile-redirect .control-group:last-child {margin-bottom: 10px;}


tbody.sortable tr:hover {
	cursor: move;
	cursor: -moz-grab;
}

.table-striped tbody.sortable tr td:nth-child(1) {padding-left: 12px;}

tbody.sortable tr:hover td:nth-child(1) {background: url(../img/icon-grippy.png) no-repeat 5px center;}

tbody.sortable tr td:nth-child(1) {width: 110px;}
tbody.sortable tr td:nth-child(2) {width: 290px;}
tbody.sortable tr td:nth-child(3) {width: 110px;}

/* Page Space Configuration */

.input-prepend.clear-input {position: relative;}

.input-prepend span i {
	margin-left: 0;
	margin-top: 1px;
}

.input-prepend.clear-input button {
	position: absolute;
	right: 5px;
	top: 6px;
	z-index: 1000;
}

.input-prepend.clear-input button:hover i {background-image: url(../img/glyphicons-halflings.png);}

.controls button i {margin: 0;}


#space-group #create-group {padding: 4px 12px;}

#space-group #create-group,
#space-group #order {margin-left: 15px;}

.dropdown-menu.selector li a {padding-left: 29px;}

.dropdown-menu.selector li.active a {
	background-image: url(../img/icon-ok.png);
	background-repeat: no-repeat;
	background-position: 10px 3px;
	background-color: transparent;
    color: #333333;
}

.dropdown-menu.selector li.active a:hover {
	background-position: 10px -44px;
	background-color: #0088CC;
	color: #fff;
}

p.results {margin-top: 10px;}

p.results span {color: #999;}

.window-list {
	border: 1px solid #ccc;
	border-left-color: #fff;
	border-right-color: #fff;
	max-height: 400px;
	overflow-y: scroll;
}

.window-list ul {margin: 0;}

.window-list li {
	line-height: 1.3em;
	border-radius: 3px;
	list-style: none;
}

.window-list ul li:nth-child(2n+1) {background-color: #f2f2f2;}

.window-list li label {
	display: block;
	padding: 0 10px;
	line-height: 24px;
	position: relative;
	margin: 0;
	border-radius: 3px;
}

.window-list li label:hover {
	background-color: #ebf0f5;
	cursor: pointer;
}

.window-list label.active,
.window-list label.active:hover {
	background-color: #0088cc;
	color: #fff;
}

.window-list label span {
	color: #999;
	display: inline-block;
	width: 60%;
	float: right;
}

.window-list label input {display: none;}

.window-list label.active span {color: #fff;}

.window-tree {
	border: 1px solid #ccc;
	border-radius: 5px;
	position: relative;
	height: 400px;
}

.window-tree ul {margin: 0;}

.window-tree div {
	width: 175px;
	float: left;
}

.window-tree div ul {
	border-right: 1px solid #ccc;
	top: 0;
	min-height: 375px;
}

.window-tree div ul.scroll {
	overflow-y: scroll;
	height: 375px;
}

.window-tree div li {
	list-style: none;
}

.window-tree div li a {
	display: block;
	line-height: 24px;
	padding-left: 10px;
	color: #333;
}

.window-tree div li a:hover,
.window-tree div li.opened > a:hover {
	background-color: #ebf0f5;
	text-decoration: none;
}

.window-tree div li.parent > a {
	background-image: url(../img/icon-arrow-closed.png);
	background-repeat: no-repeat;
	background-position: right -20px;
}

.window-tree div li.opened > a {
	background-color: #f2f2f2;
	background-position: right 2px;
}

.window-tree div li.active > a,
.window-tree div li.active > a:hover {
	background-color: #0088cc;
	color: #fff;
	background-position: right -44px;
}

.window-tree .tree {
	background-color: #eee;
	position: absolute;
	bottom: 0;
	margin: 0;
	width: 100%;
	border-radius: 0px 0px 5px 5px;
	border-top: 1px solid #ccc;
}

.window-tree .tree li {
	list-style: none;
	display: inline-block;
	background-image: url(../img/icon-arrow-closed.png);
	background-repeat: no-repeat;
	background-position: left -19px;
	padding-left: 18px;
	line-height: 24px;
}

.window-tree .tree li:first-child {
	padding-left: 10px;
	background: none;
}

/* ON OFF Switch */

.onoffswitch {
	position: relative; 
	width: 52px;
	height: 22px;
	-webkit-user-select:none; 
	-moz-user-select:none; 
	-ms-user-select: none;
}

.onoffswitch-checkbox {display: none;}

.onoffswitch-label {
	display: block; 
	overflow: hidden; 
	cursor: pointer;
	border: 1px solid #b9b9b9; 
	border-radius: 12px;
}

.onoffswitch-inner {
	display: block;
	width: 200%; 
	margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s; 
	-webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s; 
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner > span {
	float: left; 
	width: 50%; 
	height: 20px; 
	padding: 0; 
	line-height: 20px;
	font-size: 10px; 
	color: white; 
	font-weight: bold;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

.onoffswitch-inner .onoffswitch-active {
	padding-left: 6px;
	background-color: #0097e3;
	background: -moz-linear-gradient(#00a3f4, #008acf);
	background: -webkit-linear-gradient(#00a3f4, #008acf);
	background: -o-linear-gradient(#00a3f4, #008acf);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a3f4', endColorstr='#008acf');
	color: #FFFFFF;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}

.onoffswitch-inner .onoffswitch-inactive {
	padding-right: 6px;
	background-color: #F2F2F2;
	background: -moz-linear-gradient(#fefefe, #e8e8e8);
	background: -webkit-linear-gradient(#fefefe, #e8e8e8);
	background: -o-linear-gradient(#fefefe, #e8e8e8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e8e8e8');
	color: #999999;
	text-align: right;
}

.onoffswitch-switch {
	width: 20px; 
	margin: 0px;
	background-color: #f7f7f7;
	background: -moz-linear-gradient(#fbfbfb, #eaeaea);
	background: -webkit-linear-gradient(#fbfbfb, #eaeaea);
	background: -o-linear-gradient(#fbfbfb, #eaeaea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#eaeaea');
	border: 1px solid #848484; 
	border-radius: 12px;
	position: absolute; 
	top: 0; 
	bottom: 0; 
	right: 30px;
	-moz-transition: all 0.3s ease-in 0s; 
	-webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s; 
	transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {margin-left: 0;}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {right: 0px;}


/* Footer */

footer {
	height: 38px;
    position: relative;
	clear:both;
	margin: -38px auto 0 auto;
	width: 940px;
}

footer p {
	font-size: 12px;
	color: #a7a7a7;
	float: left;
	margin-bottom: 0;
	margin-left: 245px;
}

footer a {color: #666;}

footer > ul {
	float: right;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 25px;
}

footer > ul > li {
	display: inline-block;
	padding-left: 9px;
	margin-left: 4px;
	background: url(../img/bullet-separator.png) no-repeat left center;
}

footer > ul > li:first-child {background: none;}

footer ul li a {font-size: 12px;}

footer .caret-inverted {border-bottom-color: #666;}


/* Alerts */

.alert-container {
	position: fixed;
	top: 25px;
	left: 50%;
	width: 451px;
	margin-left: -225px;
	z-index: 2000;
}

.alert-container .alert {
    width: 400px;
        z-index: 2000;
    }

.alert {
	padding-top: 3px;
	padding-bottom: 3px;
	display: inline-block;
}


/* Modal */

.modal h3 {font-weight: normal;}

.modal-header .close {margin-top: 7px;}

.modal.confirmation p span {
	display: block;
	font-size: 12px;
	margin-top: 10px;
}

.modal .control-group label {
	float: left;
	width: 120px;
	text-align: right;
	margin-right: 10px;
	padding-top: 4px;
}

.modal table {margin-top: 25px;}

.modal table:first-child {margin-top: 20px;}

table.button-mini th {padding-top: 1px;}

.modal th.actions, 
.modal td.actions {width: 60px;}


/* Redirect Condition Modal */

#condition-string label {
	text-align: left;
	width: 110px;
}

#condition-string td > div {
	float: right;
	width: 390px;
}

#condition-string div.condition {width: 360px;}

#condition-string span.value {
    margin-top: 4px;
    display: inline-block;
    margin-left: 8px;
}

span.td-condition {
	display: inline-block;
	color: #999;
	font-size: 11px;
	padding-right: 5px;
	width: 22px;
	text-align: right;
}

#condition-string td > div:last-child {margin-bottom: 0;}

#condition-string input {width: 250px;}

#condition-string div div {
	visibility: hidden;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}

#condition-string div:hover div button,
#condition-string div:hover div a {visibility: visible;}

#condition-string button+button,
#condition-string a+button {margin-left: 5px;}

#condition-properties td.condition {width: 240px;}

#condition-properties input,
#condition-properties select,
#condition-properties div {margin-right: 5px;}

#condition-properties div+div {
	margin-right: 0;
	margin-left: 5px;
}

#condition-properties input.property {
    width: 90px;
    margin-bottom: 0;
}

#condition-properties td.condition.first-line input.property {
    margin-left: 31px;
}

#condition-properties input.value {
	width: 50px;
	margin-right: 0;
	margin-bottom: 0;
}

#condition-properties th.actions,
#condition-properties td.actions {width: 0;}
   
select.attribute {width: 105px;}


/* Modal Permission Settings */

.permission-group {width: 45%;}

.permission-group .select {margin-top: 5px;}

.select {
	border: 1px solid #ddd;
	border-radius: 5px;
	list-style: none;
	margin: 0;
	opacity: 0.5;
}

.select.enabled {opacity: 1;}

.select li {
	position: relative;
}

.select.enabled li span:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}

.select li i {
	position: absolute;
	left: 5px;
	top: 3px;
}

.select li span {
	display: block;
	padding: 3px 10px 3px 22px;
}

.select li:first-child span {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.select li:last-child span {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}


.select.enabled li span.selected {
	background-color: #0088CC;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.select ul {
	list-style: none;
	margin-left: 0;
}

.select ul.second li span {padding-left: 40px;}

.select ul.second li i {left: 20px;}

.select ul.third li span {padding-left: 60px;}

.select ul.third li i {left: 40px;}

#modal-permission .modal-body > span {
	color: #999999;
    display: inline-block;
    font-size: 12px;
    margin-top: 64px;
    text-align: center;
    text-transform: uppercase;
    width: 10%;
}

/* Modal Import Site */

.modal .attachment {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 3px 10px;
    display: inline-block;
    border-radius: 3px;
}

.modal .attachment span {font-weight: bold;}

.modal .attachment button {
    margin-left: 20px;
    opacity: .3;
}

.modal .attachment button:hover {opacity: 1;}



.required {
	font-weight: bold;
	color: #b81616;
}

label.control-label {position: relative;}

.control-label .required {
	position: absolute; 
	right: -12px
}

.subtitle-right {
    float: right;
}

.help-inline.error {
    color: #b94a48;
}

.form-actions a {
    margin-right: 1em;
}