<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <module-name>multi-tenant</module-name>

    <servlet>
        <servlet-name>MultiTenantServlet</servlet-name>
        <servlet-class>org.keycloak.testsuite.adapter.servlet.MultiTenantServlet</servlet-class>
    </servlet>
    
    <context-param>
        <param-name>keycloak.config.resolver</param-name>
        <param-value>org.keycloak.testsuite.adapter.servlet.MultiTenantResolver</param-value>
    </context-param>
    
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Users</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>KEYCLOAK</auth-method>
    </login-config>

    <security-role>
        <role-name>user</role-name>
    </security-role>
    
</web-app>
