.buttonGroup {
  position: fixed;
  bottom: 0px;
  background-color: var(--pf-v5-c-page__main-section--m-light--BackgroundColor);
  padding-top: var(--pf-v5-global--spacer--md);
  padding-bottom: var(--pf-v5-global--spacer--sm);
  padding-left: var(--pf-v5-global--spacer--md);
  width: 100%;
  border-top: 1px solid var(--pf-v5-global--BorderColor--100);
  margin-left: calc(-1 * var(--pf-v5-global--spacer--lg));
}
