<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.keycloak.keycloak-wildfly-extensions">
    <resources>
        <!-- Insert resources here -->
    </resources>
    <dependencies>
        <module name="org.keycloak.keycloak-core"/>
        <module name="org.keycloak.keycloak-model-api"/>
        <module name="org.keycloak.keycloak-services"/>
        <module name="org.keycloak.keycloak-forms-common-freemarker"/>
        <module name="org.keycloak.keycloak-forms-common-themes"/>
        <module name="org.jboss.modules"/>
    </dependencies>
</module>
