<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2011, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->

<module xmlns="urn:jboss:module:1.5" name="org.jboss.as.xts">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <exports>
        <exclude path="org/jboss/as/xts/logging"/>
    </exports>

    <resources>
        <resource-root path="wildfly-xts-11.0.0.Alpha1.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
        <module name="javax.ejb.api"/>
        <module name="org.jboss.as.ee"/>
        <module name="org.jboss.msc"/>
        <module name="org.jboss.as.controller"/>
        <module name="org.wildfly.security.elytron-private"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.as.deployment-repository"/>
        <module name="org.jboss.as.transactions"/>
        <!-- need this for the endpoint service -->
        <module name="org.jboss.as.webservices.server.integration"/>
        <!-- need this for the endpoint security context -->
        <module name="org.jboss.as.security"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.xts"/>
        <module name="org.jboss.threads"/>
        <!-- need this to get the SPIProviderResolver  -->
        <module name="org.jboss.ws.spi"/>
        <!-- need this to get the actual SPIProvider  -->
        <module name="org.jboss.ws.common"/>
        <module name="org.jboss.jandex"/>
        <module name="org.jboss.weld.spi" />
        <module name="org.jboss.weld.api" />
        <module name="org.jboss.weld.core" />
        <module name="org.jboss.as.weld"/>
        <module name="org.jboss.modules"/>
        <module name="javax.enterprise.api"/>
        <module name="org.jboss.as.ejb3"/>
        <module name="org.jboss.invocation"/>
        <module name="org.jboss.as.naming"/>
        <module name="org.jboss.as.web-common"/>
        <module name="org.jboss.narayana.compensations" />
        <module name="org.omg.api"/>

        <!-- TODO WFLY-5966 validate the need for these and remove if not needed.
             Prior to WFLY-5922 they were exported by javax.ejb.api. -->
        <module name="javax.xml.rpc.api"/>
        <module name="javax.rmi.api"/>
    </dependencies>
</module>
