<?xml version="1.0" encoding="UTF-8"?>



<module xmlns="urn:jboss:module:1.3" name="org.keycloak.keycloak-connections-http-client">
    <resources>
        <artifact name="${org.keycloak:keycloak-connections-http-client}"/>
    </resources>
    <exports>
        <include path="META-INF/**"/>
    </exports>
    <dependencies>
        <module name="org.keycloak.keycloak-core"/>
        <module name="org.keycloak.keycloak-model-api"/>
        <module name="org.jboss.logging"/>
        <module name="javax.api"/>
        <module name="org.apache.httpcomponents"/>
    </dependencies>

</module>
